In [1]:
from __future__ import division
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import scipy.optimize
import pandas.io.sql as psql
import pandas as pd
import sys
sys.path.insert(1, r'C:\Users\Sean Violante\Documents\Projects\lendico\lib')
import dwh

In [2]:
%matplotlib qt

In [3]:
conn = dwh.get_DWH()

In [4]:
%cd  C:\Users\Sean Violante\Documents\Projects\lendico\projects\returns\src

C:\Users\Sean Violante\Documents\Projects\lendico\projects\returns\src

In [4]:
arrears_dict={30:0.15,60:0.35, 90:0.67, 120:1,150:1,180:1,210:1,240:1,270:1}
arrears_dict={30:0.195, 60: 0.44, 90:0.611, 120:1,150:1,180:1,210:1,240:1,270:1}
arrears_dict={30:0.164, 60: 0.384, 90:0.55, 120:1,150:1,180:1,210:1,240:1,270:1}

In [221]:
%run returns.py
sql_strings=get_sql_strings()
print sql_strings.keys()

['actual_payments_combined_date', 'payment_plans_combined', 'payment_plans', 'actual_payments_combined', 'actual_payments', 'actual_payments_combined1', 'loans', 'loan_fundings']

In [401]:
payment_plans_combined.initial_principal_amount_investor.isnull().sum()

2646

In [ ]:
actual_payments_combined_date[actual_payments_combined_date.fk_loan==75]

In [6]:
%time payment_plans_combined=psql.read_sql(sql_strings['payment_plans_combined'],conn)

Wall time: 36min 36s

In [436]:
select(payment_plans,{'fk_loan':7})[['interval','interval_payback_date']]

        interval interval_payback_date
396           24            2016-01-01
397           23            2015-12-01
398           22            2015-11-01
399           21            2015-10-01
400           20            2015-09-01
401           19            2015-08-01
402           18            2015-07-01
403           17            2015-06-01
404           16            2015-05-01
405           15            2015-04-01
406           14            2015-03-01
407           13            2015-02-01
408           12            2015-01-01
409           11            2014-12-01
410           10            2014-11-01
411            9            2014-10-01
412            8            2014-09-01
413            7            2014-08-01
414            6            2014-07-01
415            5            2014-06-01
416            4            2014-05-01
417            3            2014-04-01
418            2            2014-03-01
419            1            2014-02-01
420            0            2014-01-01
2818          36            2017-04-01
2819          35            2017-03-01
2820          34            2017-02-01
2821          33            2017-01-01
2822          32            2016-12-01
...          ...                   ...
29900          3            2015-02-25
29901          2            2015-01-25
29902          1            2014-12-25
29903          0            2014-11-25
118780        12            2015-05-15
118781        11            2015-04-15
118782        10            2015-03-15
118783         9            2015-02-15
118784         8            2015-01-15
118785         7            2014-12-15
118786         6            2014-11-15
118787         5            2014-10-15
118788         4            2014-09-15
118789         3            2014-08-15
118790         2            2014-07-15
118791         1            2014-06-15
118792         0            2014-05-15
120917        12            2015-06-01
120918        11            2015-05-01
120919        10            2015-04-01
120920         9            2015-03-01
120921         8            2015-02-01
120922         7            2015-01-01
120923         6            2014-12-01
120924         5            2014-11-01
120925         4            2014-10-01
120926         3            2014-09-01
120927         2            2014-08-01
120928         1            2014-07-01
120929         0            2014-06-01

[124 rows x 2 columns]

In [23]:
%time payment_plans=psql.read_sql(sql_strings['payment_plans'],conn)

Wall time: 1min 20s

In [222]:
%time loans=psql.read_sql(sql_strings['loans'],conn)

Wall time: 12.3 s

In [11]:
loans.head().T

,0,1,2,3,4
dwh_country_id,128,16,16,16,16
id_loan,2,2,3,4,5
fk_loan_request,1,2,3,4,6
fk_user,481,5,6,8,10
fk_ranking,95,73,72,73,73
country_name,Netherlands,Poland,Poland,Poland,Poland
currency_code,EUR,PLN,PLN,PLN,PLN
loan_request_creation_date,2014-09-14 00:00:00,2014-03-04 00:00:00,2014-03-04 00:00:00,2014-03-04 00:00:00,2014-03-04 00:00:00
user_age,27,35,31,28,31
loan_nr,825114878,32930574,347546624,184866714,532814286
title,Bruiloft in Zeeland,remont pokoju,Kurs hiszpańskiego,Rewitalizacja motyckla,"Kurs języka szwedzkiego, Business Swedish"
purpose,"2 jaar geleden hebben we een dochtertje gehad,...",Ostatnio siedząc podczas rodzinnej kolacji dzi...,Hola!\r\nWiosna to czas na nowe wyzwania. W mo...,Na znanym portalu aukcyjnym bardzo okazyjnie ...,Od dwóch lat współpracuję z polskimi i szwedzk...
financial_situation,None,None,None,None,None
self_rating,None,None,None,None,None
rating,D1,A2,A1,A2,A2
principal_amount,4000,5000,1000,6000,1000
duration,720,360,360,360,360
nominal_interest_percentage,8.28,6.41,6.04,6.41,6.41
promo_interest_percentage,0,0,0,0,0
fee_amount,50,112.5,22.5,135,22.5
interest_amount,375.23,185.08,33.84,215.69,37
total_payback,4375.23,5185.08,1033.84,6215.69,1037
is_active,active,active,active,active,active
category,marriage,renovation,training,car,training
ranking_serialized,"O:45:""Intlend\Base\Web\RankingBundle\Propel\Ra...","O:45:""Intlend\Base\Web\RankingBundle\Propel\Ra...","O:45:""Intlend\Base\Web\RankingBundle\Propel\Ra...","O:45:""Intlend\Base\Web\RankingBundle\Propel\Ra...","O:45:""Intlend\Base\Web\RankingBundle\Propel\Ra..."
state,payback,payback,payback,payback,payback
global_state,payout_complete,payout_complete,payout_complete,payout_complete,payout_complete
originating_since,None,None,None,None,None
originated_since,2014-10-08 15:23:03,2014-04-03 10:50:20,2014-04-09 12:43:09,2014-04-09 12:43:38,2014-04-03 10:50:03
due_date,1,15,15,15,15
...,...,...,...,...,...
interest_calculation_method,30/360,30/360,30/360,30/360,30/360
initial_interest_split_strategy,1,NaN,NaN,NaN,NaN
effective_interest_percentage,9.9597,0,0,0,0
cancel_reason,None,None,None,None,None
cancel_reason_comment,None,None,None,None,None
eur_principal_amount,4000,1194.383,238.8767,1433.26,238.8767
eur_fee_amount,50,26.8736,5.3747,32.2484,5.3747
eur_interest_amount,375.23,44.2113,8.0836,51.5233,8.8384
eur_total_payback,4375.23,1238.595,246.9603,1484.784,247.7151
created_at,2014-09-25 16:59:31,2014-03-21 15:09:01,2014-03-21 15:09:44,2014-03-21 15:11:03,2014-03-21 15:11:17
updated_at,2014-10-09 18:41:15,2014-04-03 15:21:02,2014-04-09 13:54:15,2014-04-09 13:54:14,2014-04-03 15:21:01
dwh_created,2014-09-25 17:34:05.753473,2014-06-12 12:12:22.185149,2014-06-12 12:12:22.185149,2014-06-12 12:12:22.185149,2014-06-12 12:12:22.185149
dwh_last_modified,2015-03-20 15:20:30.291926,2015-03-20 15:22:56.773404,2015-03-20 15:22:56.773404,2015-03-20 15:22:56.773404,2015-03-20 15:22:56.773404
rating_base,D,A,A,A,A
credit_agency_score,987,568,574,555,551
pd,6.78,1,0.33,1,1
pd_original,0.01,NaN,NaN,NaN,NaN
lgd,90,90,90,90,90
in_arrears_since,None,None,None,None,None
date_of_first_loan_offer,2014-09-14,2014-03-04,2014-03-04,2014-03-04,2014-03-04
ranking_rating,D1,A2,A1,A2,A2
ranking_pd_start,6.01,0.67,0,0.67,0.67
ranking_pd_end,6.8,1.33,0.66,1.33,1.33
targeted_yield,0,0,0,0,0
payback_day,1,15,15,15,15
payout_date,2014-10-08 02:00:00,2014-04-03 17:21:02,2014-04-09 15:54:15,2014-04-09 15:54:14,2014-04-03 17:21:00
payout_quarter,2014_Q4,2014_Q2,2014_Q2,2014_Q2,2014_Q2
payback_state,payback_pending,payback_complete,payback_complete,payback_complete,payback_complete
auto_in_arrears_since,None,None,None,None,None
in_arrears_since_man,None,None,None,None,None

In [18]:
loans.rating_base.unique()

array([u'D', u'A', u'C', u'B', u'E'], dtype=object)

In [19]:
%time loans=psql.read_sql(sql_strings['loans'],conn)
%time loan_fundings=psql.read_sql(sql_strings['loan_fundings'],conn)
%time payment_plans=psql.read_sql(sql_strings['payment_plans'],conn)
%time actual_payments=psql.read_sql(sql_strings['actual_payments'],conn)
%time actual_payments_combined=psql.read_sql(sql_strings['actual_payments_combined'],conn)
%time actual_payments_combined_date=psql.read_sql(sql_strings['actual_payments_combined_date'],conn)

Wall time: 15.2 s
Wall time: 1min 4s
Wall time: 1min 21s
Wall time: 10.9 s
Wall time: 14min 23s
Wall time: 7min 48s

In [223]:
payment_plans.head()

,dwh_country_id,fk_loan_payment_plan,fk_user,fk_loan_request,fk_loan,country_name,currency_code,loan_request_creation_date,payout_date,interval,...,next_interval_payback_date,eur_payment_amount,eur_interest_amount,eur_principal_amount,eur_initial_principal_amount,eur_sum_interval_interest_amount,eur_residual_interest_amount,eur_residual_principal_amount,dcf,recovery
0,1,2,47,15,4,Germany,EUR,2013-11-30,2014-01-10,24,...,2199-01-01,175.07,0.3512,174.7188,174.7188,107.8600,0.0000,0.0000,-0.791781,0.5814
1,1,2,47,15,4,Germany,EUR,2013-11-30,2014-01-10,23,...,2016-01-15,175.29,0.7219,174.5681,349.2870,107.5088,0.3512,174.7188,-0.706849,0.5814
2,1,2,47,15,4,Germany,EUR,2013-11-30,2014-01-10,22,...,2015-12-15,175.29,1.0819,174.2081,523.4951,106.7870,1.0730,349.2870,-0.624658,0.5814
3,1,2,47,15,4,Germany,EUR,2013-11-30,2014-01-10,21,...,2015-11-15,175.29,1.4412,173.8488,697.3439,105.7051,2.1549,523.4951,-0.539726,0.5814
4,1,2,47,15,4,Germany,EUR,2013-11-30,2014-01-10,20,...,2015-10-15,175.29,1.7997,173.4903,870.8342,104.2639,3.5961,697.3439,-0.457534,0.5814

In [7]:
payment_plans_combined.to_csv('C:\Users\Sean Violante\Documents\Projects\lendico\Projects\Returns\payout_plans_combined_june.txt')

In [20]:
payment_plans_combined=pd.read_csv('C:\Users\Sean Violante\Documents\Projects\lendico\Projects\Returns\payout_plans_combined_june.txt')

In [29]:
payment_plans_combined['payout_date1']=payment_plans_combined.payout_date.map(lambda x : datetime.datetime.strptime(x,'%Y-%m-%d'))

In [30]:
payment_plans_combined['interval_payback_date1']=payment_plans_combined.interval_payback_date.map(lambda x : datetime.datetime.strptime(x,'%Y-%m-%d'))

In [31]:
payment_plans_combined['payout_date_orig']=payment_plans_combined['payout_date']
payment_plans_combined['interval_payback_date_orig']=payment_plans_combined['interval_payback_date']
payment_plans_combined['payout_date']=payment_plans_combined['payout_date1']
payment_plans_combined['interval_payback_date']=payment_plans_combined['interval_payback_date1']

In [21]:
%run returns.py

In [23]:
%run returns.py

In [224]:
loans=extend_loans(loans)

In [24]:
payment_plans.columns

Index([                  u'dwh_country_id',
                   u'fk_loan_payment_plan',
                                u'fk_user',
                        u'fk_loan_request',
                                u'fk_loan',
                           u'country_name',
                          u'currency_code',
             u'loan_request_creation_date',
                            u'payout_date',
                               u'interval',
                  u'interval_payback_date',
             u'next_interval_payback_date',
                     u'eur_payment_amount',
                    u'eur_interest_amount',
                   u'eur_principal_amount',
           u'eur_initial_principal_amount',
       u'eur_sum_interval_interest_amount',
           u'eur_residual_interest_amount',
          u'eur_residual_principal_amount'],
      dtype='object')

In [24]:
payment_plans_combined_orig=payment_plans_combined.copy() # this takes all the time
loans=extend_loans(loans)
loans=add_target(loans)
loan_fundings=extend_loan_fundings(loan_fundings,loans)
actual_payments=extend_actual_payments_EOM(actual_payments, loans, arrears_dict)
actual_payments_combined=extend_actual_payments_EOM(actual_payments_combined, loans, arrears_dict)
actual_payments_combined_date=extend_actual_payments(actual_payments_combined_date, loans)
payment_plans=extend_payment_plans(payment_plans)
payment_plans_combined=extend_payment_plans(payment_plans_combined,loan_fundings)

Note we are using payout date not originated since date

In [533]:
# in calculating irr need to add grouping variables. if keep principal, loan payments and principal repayment separate, then need to readd afterwards

In [80]:
miss_payments=actual_payments[['dwh_country_id', 'fk_loan','iso_date']].\
    groupby(['dwh_country_id', 'fk_loan']).\
    size().\
    reset_index().merge(loans[['dwh_country_id', 'fk_loan', 'payout_date']],on=['dwh_country_id', 'fk_loan'],how='outer')
miss_payments.rename(columns={0:'date_count'}, inplace=True)

In [90]:
miss_payments[miss_payments['date_count'].isnull() & (miss_payments['dwh_country_id']==64)].sort('payout_date',inplace=False)[0:50]

      dwh_country_id  fk_loan  date_count payout_date
1973              64        6         NaN  2014-05-12
1974              64        5         NaN  2014-05-12
1975              64        7         NaN  2014-05-12
1979              64        9         NaN  2014-05-12
1982              64        4         NaN  2014-05-12
1993              64       11         NaN  2014-05-15
1995              64       12         NaN  2014-05-16
1999              64       14         NaN  2014-05-16
2012              64       15         NaN  2014-05-21
2000              64       13         NaN  2014-05-21
1986              64       10         NaN  2014-05-21
2014              64       16         NaN  2014-06-05
2022              64       17         NaN  2014-06-11
2026              64       18         NaN  2014-06-11
2033              64       19         NaN  2014-06-18
2042              64       20         NaN  2014-06-24
2044              64       22         NaN  2014-06-26
2046              64       23         NaN  2014-06-30
2050              64       24         NaN  2014-06-30
2064              64       26         NaN  2014-07-14
2074              64       28         NaN  2014-07-15
2072              64       27         NaN  2014-07-16
2085              64       29         NaN  2014-07-16
2076              64       31         NaN  2014-07-17
2087              64       32         NaN  2014-07-23
2126              64       34         NaN  2014-07-28
2105              64       35         NaN  2014-07-30
2111              64       36         NaN  2014-07-30
2114              64       37         NaN  2014-07-31
2125              64       38         NaN  2014-08-05
2123              64       39         NaN  2014-08-06
2133              64       40         NaN  2014-08-11
2095              64       33         NaN  2014-08-12
2141              64       42         NaN  2014-08-15
2146              64       44         NaN  2014-08-15
2149              64       45         NaN  2014-08-20
2168              64       47         NaN  2014-08-20
2136              64       41         NaN  2014-08-21
2154              64       48         NaN  2014-08-26
2177              64       49         NaN  2014-08-28
2191              64       52         NaN  2014-08-28
2159              64       50         NaN  2014-08-28
2170              64       51         NaN  2014-08-28
2182              64       53         NaN  2014-09-05
2192              64       54         NaN  2014-09-10
2186              64       55         NaN  2014-09-15
2205              64       56         NaN  2014-09-17
2196              64       59         NaN  2014-09-18
2197              64       61         NaN  2014-09-18
2203              64       57         NaN  2014-09-19

In [70]:
z1=pd.concat([x.loc[ (x.dwh_country_id==1)& (x.fk_loan==19),['dcf','payment']].groupby('dcf').sum().reset_index() for x in cash_lists['cash_list_actual_date']])

In [75]:
loans_base[loans_base.dwh_country_id==1].fk_loan.isin([3,4,6,8]).sum()

0

In [76]:
loan_fundings_base[loan_fundings_base.dwh_country_id==1].fk_loan.isin([3,4,6,8]).sum()

0

In [91]:
%run returns

In [92]:
test_filter_loans()

expect :
   dwh_country_id  fk_loan
0               1       16
1               2       47
2               2       64

   dwh_country_id  fk_loan
0               1       16
4               2       47
7               2       64

In [84]:
actual_payments_combined[actual_payments_combined.dwh_country_id.isin([1,32,128])]

,dwh_country_id,fk_user_borrower,fk_user_investor,fk_loan,loan_request_nr,iso_date,interval,interval_payback_date,next_interval_payback_date,loan_coverage,...,actual_amount_cum,in_arrears_flag,in_arrears_since,in_arrears_since_days,dcf,payout_date,in_arrears_since_days_30360,bucket,bucket_pd,cum_diff
0,1,561,768,7,745156648,2014-01-31,0,2014-01-01,2014-02-01,30.0,...,0.63,0,None,NaN,1.164384,2013-12-27,NaN,NaN,NaN,0.00
1,1,561,510,7,745156648,2014-01-31,0,2014-01-01,2014-02-01,5.0,...,0.63,0,None,NaN,1.164384,2013-12-27,NaN,NaN,NaN,0.00
2,1,561,733,7,745156648,2014-01-31,0,2014-01-01,2014-02-01,30.0,...,0.63,0,None,NaN,1.164384,2013-12-27,NaN,NaN,NaN,0.00
3,1,561,574,7,745156648,2014-01-31,0,2014-01-01,2014-02-01,2.5,...,0.63,0,None,NaN,1.164384,2013-12-27,NaN,NaN,NaN,0.00
4,1,561,51,7,745156648,2014-01-31,0,2014-01-01,2014-02-01,2.5,...,0.63,0,None,NaN,1.164384,2013-12-27,NaN,NaN,NaN,0.00
5,1,561,94,7,745156648,2014-01-31,0,2014-01-01,2014-02-01,2.5,...,0.63,0,None,NaN,1.164384,2013-12-27,NaN,NaN,NaN,0.00
6,1,561,485,7,745156648,2014-01-31,0,2014-01-01,2014-02-01,5.0,...,0.63,0,None,NaN,1.164384,2013-12-27,NaN,NaN,NaN,0.00
7,1,561,38,7,745156648,2014-01-31,0,2014-01-01,2014-02-01,7.5,...,0.63,0,None,NaN,1.164384,2013-12-27,NaN,NaN,NaN,0.00
8,1,561,447,7,745156648,2014-01-31,0,2014-01-01,2014-02-01,5.0,...,0.63,0,None,NaN,1.164384,2013-12-27,NaN,NaN,NaN,0.00
9,1,561,613,7,745156648,2014-01-31,0,2014-01-01,2014-02-01,10.0,...,0.63,0,None,NaN,1.164384,2013-12-27,NaN,NaN,NaN,0.00
10,1,561,51,7,745156648,2014-02-28,1,2014-02-01,2014-03-01,2.5,...,44.82,0,None,NaN,1.087671,2013-12-27,NaN,NaN,NaN,0.00
11,1,561,447,7,745156648,2014-02-28,1,2014-02-01,2014-03-01,5.0,...,44.82,0,None,NaN,1.087671,2013-12-27,NaN,NaN,NaN,0.00
12,1,561,613,7,745156648,2014-02-28,1,2014-02-01,2014-03-01,10.0,...,44.82,0,None,NaN,1.087671,2013-12-27,NaN,NaN,NaN,0.00
13,1,561,94,7,745156648,2014-02-28,1,2014-02-01,2014-03-01,2.5,...,44.82,0,None,NaN,1.087671,2013-12-27,NaN,NaN,NaN,0.00
14,1,561,574,7,745156648,2014-02-28,1,2014-02-01,2014-03-01,2.5,...,44.82,0,None,NaN,1.087671,2013-12-27,NaN,NaN,NaN,0.00
15,1,561,768,7,745156648,2014-02-28,1,2014-02-01,2014-03-01,30.0,...,44.82,0,None,NaN,1.087671,2013-12-27,NaN,NaN,NaN,0.00
16,1,561,733,7,745156648,2014-02-28,1,2014-02-01,2014-03-01,30.0,...,44.82,0,None,NaN,1.087671,2013-12-27,NaN,NaN,NaN,0.00
17,1,561,510,7,745156648,2014-02-28,1,2014-02-01,2014-03-01,5.0,...,44.82,0,None,NaN,1.087671,2013-12-27,NaN,NaN,NaN,0.00
18,1,561,485,7,745156648,2014-02-28,1,2014-02-01,2014-03-01,5.0,...,44.82,0,None,NaN,1.087671,2013-12-27,NaN,NaN,NaN,0.00
19,1,561,38,7,745156648,2014-02-28,1,2014-02-01,2014-03-01,7.5,...,44.82,0,None,NaN,1.087671,2013-12-27,NaN,NaN,NaN,0.00
20,1,561,574,7,745156648,2014-03-31,2,2014-03-01,2014-04-01,2.5,...,89.01,0,None,NaN,1.002740,2013-12-27,NaN,NaN,NaN,0.00
21,1,561,94,7,745156648,2014-03-31,2,2014-03-01,2014-04-01,2.5,...,89.01,0,None,NaN,1.002740,2013-12-27,NaN,NaN,NaN,0.00
22,1,561,485,7,745156648,2014-03-31,2,2014-03-01,2014-04-01,5.0,...,89.01,0,None,NaN,1.002740,2013-12-27,NaN,NaN,NaN,0.00
23,1,561,447,7,745156648,2014-03-31,2,2014-03-01,2014-04-01,5.0,...,89.01,0,None,NaN,1.002740,2013-12-27,NaN,NaN,NaN,0.00
24,1,561,733,7,745156648,2014-03-31,2,2014-03-01,2014-04-01,30.0,...,89.01,0,None,NaN,1.002740,2013-12-27,NaN,NaN,NaN,0.00
25,1,561,38,7,745156648,2014-03-31,2,2014-03-01,2014-04-01,7.5,...,89.01,0,None,NaN,1.002740,2013-12-27,NaN,NaN,NaN,0.00
26,1,561,510,7,745156648,2014-03-31,2,2014-03-01,2014-04-01,5.0,...,89.01,0,None,NaN,1.002740,2013-12-27,NaN,NaN,NaN,0.00
27,1,561,613,7,745156648,2014-03-31,2,2014-03-01,2014-04-01,10.0,...,89.01,0,None,NaN,1.002740,2013-12-27,NaN,NaN,NaN,0.00
28,1,561,768,7,745156648,2014-03-31,2,2014-03-01,2014-04-01,30.0,...,89.01,0,None,NaN,1.002740,2013-12-27,NaN,NaN,NaN,0.00
29,1,561,51,7,745156648,2014-03-31,2,2014-03-01,2014-04-01,2.5,...,89.01,0,None,NaN,1.002740,2013-12-27,NaN,NaN,NaN,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303722,128,9616,2853,127,744007921,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-24,5,30,0.164,0.77
303723,128,9616,2878,127,744007921,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-24,5,30,0.164,0.77
303724,128,9616,6777,127,744007921,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-24,5,30,0.164,0.77
303725,128,9616,2322,127,744007921,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-24,5,30,0.164,0.77
303726,128,9616,7647,127,744007921,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-24,5,30,0.164,0.77
303727,128,9616,4515,127,744007921,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-24,5,30,0.164,0.77
303728,128,9616,5117,127,744007921,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-24,5,30,0.164,0.77
303729,128,9616,5473,127,744007921,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-24,5,30,0.164,0.77
303730,128,9616,1543,127,744007921,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-24,5,30,0.164,0.77
303731,128,9616,6304,127,744007921,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-24,5,30,0.164,0.77
303732,128,9616,3058,127,744007921,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-24,5,30,0.164,0.77
303733,128,9684,2878,128,365093915,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-24,5,30,0.164,0.49
303734,128,9684,5117,128,365093915,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-24,5,30,0.164,0.49
303735,128,9684,8741,128,365093915,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-24,5,30,0.164,0.49
303736,128,9684,1619,128,365093915,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-24,5,30,0.164,0.49
303737,128,9684,9163,128,365093915,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-24,5,30,0.164,0.49
303738,128,9684,4133,128,365093915,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-24,5,30,0.164,0.49
303739,128,9684,1752,128,365093915,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-24,5,30,0.164,0.49
303740,128,9684,784,128,365093915,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-24,5,30,0.164,0.49
303741,128,9684,3259,128,365093915,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-24,5,30,0.164,0.49
303742,128,9684,7501,128,365093915,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-24,5,30,0.164,0.49
303743,128,9684,6789,128,365093915,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-24,5,30,0.164,0.49
303744,128,9684,2698,128,365093915,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-24,5,30,0.164,0.49
303745,128,9684,6777,128,365093915,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-24,5,30,0.164,0.49
303746,128,9949,5417,129,111507096,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-19,5,30,0.164,2.35
303747,128,9895,5417,130,556766,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-19,5,30,0.164,2.00
303748,128,9859,5417,131,908176148,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-19,5,30,0.164,31.10
303749,128,9390,5417,132,44236875,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-19,5,30,0.164,1.52
303750,128,10120,5417,133,979115399,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-24,5,30,0.164,3.40
303751,128,10111,5417,134,867929727,2015-06-30,NaN,None,None,NaN,...,0.00,1,2015-06-25,5,-0.246575,2015-06-24,5,30,0.164,0.82

In [95]:
repaid_loans[repaid_loans.dwh_country_id==1]

      dwh_country_id  fk_loan
41                 1       19
47                 1       28
66                 1       30
100                1       37
103                1       36
113                1       41
180                1       51
209                1       65
221                1       58
225                1       67
238                1       77
241                1       71
354                1       92
421                1       98
504                1      120
521                1      135
528                1      132
530                1      136
539                1      138
561                1      151
592                1      168
660                1      220
694                1      232
717                1      264
724                1      241
725                1      256
727                1      269
731                1      253
753                1      274
780                1      270
...              ...      ...
967                1      379
983                1      735
995                1      422
1000               1      450
1031               1      456
1048               1      498
1065               1      480
1105               1      507
1122               1      528
1126               1      526
1144               1      630
1146               1      764
1156               1      571
1162               1      557
1163               1      552
1166               1      555
1169               1      553
1178               1      579
1179               1      580
1209               1      596
1224               1      664
1227               1      611
1229               1      727
1232               1      613
1350               1     1166
1354               1      816
1384               1      817
1411               1      904
1450               1      860
1811               1     1239

[77 rows x 2 columns]

In [96]:
z1=repaid_loans[repaid_loans.dwh_country_id==1].groupby('dwh_country_id').groups
z2={x: for key,val in z1}

{1: [41L,
  47L,
  66L,
  100L,
  103L,
  113L,
  180L,
  209L,
  221L,
  225L,
  238L,
  241L,
  354L,
  421L,
  504L,
  521L,
  528L,
  530L,
  539L,
  561L,
  592L,
  660L,
  694L,
  717L,
  724L,
  725L,
  727L,
  731L,
  753L,
  780L,
  792L,
  804L,
  836L,
  847L,
  850L,
  883L,
  885L,
  888L,
  893L,
  894L,
  895L,
  913L,
  916L,
  929L,
  938L,
  952L,
  966L,
  967L,
  983L,
  995L,
  1000L,
  1031L,
  1048L,
  1065L,
  1105L,
  1122L,
  1126L,
  1144L,
  1146L,
  1156L,
  1162L,
  1163L,
  1166L,
  1169L,
  1178L,
  1179L,
  1209L,
  1224L,
  1227L,
  1229L,
  1232L,
  1350L,
  1354L,
  1384L,
  1411L,
  1450L,
  1811L]}

In [102]:
repaid_loans_gp1 =repaid_loans.groupby('dwh_country_id')
repaid_loans_d1 = {name: group for name, group in repaid_loans_gp1}

In [103]:
repaid_loans_d1

{1:       dwh_country_id  fk_loan
 41                 1       19
 47                 1       28
 66                 1       30
 100                1       37
 103                1       36
 113                1       41
 180                1       51
 209                1       65
 221                1       58
 225                1       67
 238                1       77
 241                1       71
 354                1       92
 421                1       98
 504                1      120
 521                1      135
 528                1      132
 530                1      136
 539                1      138
 561                1      151
 592                1      168
 660                1      220
 694                1      232
 717                1      264
 724                1      241
 725                1      256
 727                1      269
 731                1      253
 753                1      274
 780                1      270
 ...              ...      ...
 967                1      379
 983                1      735
 995                1      422
 1000               1      450
 1031               1      456
 1048               1      498
 1065               1      480
 1105               1      507
 1122               1      528
 1126               1      526
 1144               1      630
 1146               1      764
 1156               1      571
 1162               1      557
 1163               1      552
 1166               1      555
 1169               1      553
 1178               1      579
 1179               1      580
 1209               1      596
 1224               1      664
 1227               1      611
 1229               1      727
 1232               1      613
 1350               1     1166
 1354               1      816
 1384               1      817
 1411               1      904
 1450               1      860
 1811               1     1239

 [77 rows x 2 columns], 32:      dwh_country_id  fk_loan
 53               32       23
 82               32       32
 90               32       35
 132              32       50
 200              32       67, 128:     dwh_country_id  fk_loan
 36             128        3
 68             128        5
 98             128       10}

In [83]:
act_pay_monthly_base[act_pay_monthly_base.dwh_country_id==1].fk_loan.unique()[0:20]

array([ 7,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24,
       26, 27, 28], dtype=int64)

In [71]:
z1

         dcf  payment
0   1.202740 -3000.00
0   0.005479     0.00
1   0.035616     0.00
2   0.043836    97.93
3   0.120548    97.93
4   0.208219    97.93
5   0.293151    97.93
6   0.372603    97.93
7   0.460274    97.93
8   0.542466    97.93
9   0.627397    97.93
10  0.676712    97.93
11  0.709589   -97.93
12  0.712329    97.93
13  0.791781    97.93
14  0.879452    97.93
15  0.956164    97.93
16  0.997260    97.93
17  1.030137   -97.93
18  1.032877    97.93
19  1.098630     0.00

In [27]:
loans[loans.fk_loan==439].payout_date

936   2014-09-22
Name: payout_date, dtype: datetime64[ns]

In [430]:
%run returns
%run -p -i calc_returns

In [391]:
dup_selected_reporting_dates = [d for d in selected_reporting_dates for i in range(n_runs)]
for split in splits :
    xirrs_all[split] = pd.concat( xirrs_all_list[split], keys=selected_reporting_dates)
    
    xirrs_seed_all[split] = pd.concat( xirrs_seed_all_list[split], 
                                      keys=zip(dup_selected_reporting_dates, range(n_runs)*len(selected_reporting_dates)),
                                     names=['reporting_date','run'])

In [397]:
xirrs_overall_seed1=pd.DataFrame.from_records(data=xirrs_overall_seed_list, \
                                        index=dup_selected_reporting_dates)

In [410]:
xirrs_overall_seed_list1=[v[1] for v in xirrs_overall_seed_list]

In [411]:
xirrs_overall_seed_list1

[{'cash_list_expected_date': 0.027121041292604973,
  'cash_list_expected_date_plan': 0.03313633584049053,
  'run': 19},
 {'cash_list_expected_date': 0.03513934551877838,
  'cash_list_expected_date_plan': 0.03186518401511099,
  'run': 19},
 {'cash_list_expected_date': 0.03208638818105656,
  'cash_list_expected_date_plan': 0.03822677572118488,
  'run': 19},
 {'cash_list_expected_date': 0.02873780188993844,
  'cash_list_expected_date_plan': 0.036705962184615866,
  'run': 19},
 {'cash_list_expected_date': 0.03571946122957528,
  'cash_list_expected_date_plan': 0.03538400153112523,
  'run': 19},
 {'cash_list_expected_date': 0.029468340275866353,
  'cash_list_expected_date_plan': 0.0351079859165306,
  'run': 19},
 {'cash_list_expected_date': 0.03816015756371352,
  'cash_list_expected_date_plan': 0.035530831864539744,
  'run': 19},
 {'cash_list_expected_date': 0.031584368958692294,
  'cash_list_expected_date_plan': 0.033714223451629145,
  'run': 19},
 {'cash_list_expected_date': 0.03277302006007684,
  'cash_list_expected_date_plan': 0.04081683086656572,
  'run': 19},
 {'cash_list_expected_date': 0.034975828859802945,
  'cash_list_expected_date_plan': 0.039043719482328446,
  'run': 19}]

In [414]:
for i,v in enumerate(xirrs_overall_seed_list1):
    v['run']=i+10

In [419]:
xirrs_overall_seed_list2=pd.DataFrame.from_records(data=xirrs_overall_seed_list1, \
                                        index=dup_selected_reporting_dates )

In [421]:
xirrs_overall_seed_list2.to_csv('..\\overall_1.csv')

In [431]:
xirrs_overall_seed.to_csv('..\\overall_3.csv')

In [432]:
len(selected_reporting_dates)

6

In [362]:
a1[2]

                    cash_list_expected_date  cash_list_expected_date_plan
dwh_country_id run
1              2                   0.032756                      0.037068
32             2                   0.030654                      0.034636
128            2                   0.038990                      0.047086

In [380]:
xirrs_seed_all['dwh_country_id'].groupby(level=['reporting_date','dwh_country_id']).agg(['mean','std'])

                              cash_list_expected_date            \
                                                 mean       std
reporting_date dwh_country_id
2015-06-30     1                             0.031987  0.002660
               32                            0.030089  0.007652
               128                           0.045516  0.025546

                              cash_list_expected_date_plan            run  \
                                                      mean       std mean
reporting_date dwh_country_id
2015-06-30     1                                  0.037260  0.003109  4.5
               32                                 0.030731  0.013886  4.5
               128                                0.034786  0.025494  4.5


                                   std
reporting_date dwh_country_id
2015-06-30     1               3.02765
               32              3.02765
               128             3.02765

In [387]:
xirrs_seed_all['dwh_country_id'].xs(1,level='dwh_country_id').hist()

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x0000000023C0AC50>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000024170F60>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x000000001F3D3550>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000023E22C18>]], dtype=object)

In [343]:
xirrs_overall_seed_list[1]

(1,
 {'cash_list_expected_date': 0.03278267323517418,
  'cash_list_expected_date_plan': 0.03712919597614715})

In [43]:
loans.dwh_country_id.unique()

array([128,  16,   1,   4,  32,  64], dtype=int64)

In [226]:
xirrs_all.keys()

[('dwh_country_id', 'fk_loan'),
 ('dwh_country_id', 'rating_base'),
 ('dwh_country_id', 'payout_quarter', 'rating_base'),
 'dwh_country_id',
 ('dwh_country_id', 'payout_quarter'),
 ('dwh_country_id', 'gblrc_rating_mapped_base')]

In [392]:
for key,data in xirrs_all.iteritems():
    k="_".join(key) if isinstance(key,tuple) else key
    print k
    l=list(data.index.names)
    l[0]='EOM'
    data.index.names=l
    data.to_csv('..\\' +k+'_1.csv')

dwh_country_id_fk_loan
dwh_country_id_rating_base
dwh_country_id_payout_quarter_rating_base
dwh_country_id
dwh_country_id_payout_quarter
dwh_country_id_gblrc_rating_mapped_base

In [396]:
loans[loans.dwh_country_id==32].country_name

25     Austria
26     Austria
29     Austria
38     Austria
40     Austria
53     Austria
54     Austria
55     Austria
70     Austria
71     Austria
74     Austria
76     Austria
78     Austria
79     Austria
80     Austria
82     Austria
86     Austria
90     Austria
91     Austria
92     Austria
93     Austria
97     Austria
101    Austria
102    Austria
104    Austria
105    Austria
109    Austria
112    Austria
117    Austria
119    Austria
        ...
242    Austria
248    Austria
261    Austria
262    Austria
271    Austria
274    Austria
275    Austria
281    Austria
282    Austria
292    Austria
301    Austria
303    Austria
304    Austria
305    Austria
315    Austria
316    Austria
323    Austria
331    Austria
343    Austria
349    Austria
355    Austria
375    Austria
389    Austria
390    Austria
397    Austria
400    Austria
401    Austria
431    Austria
442    Austria
445    Austria
Name: country_name, dtype: object

In [433]:
for key,data in xirrs_seed_all.iteritems():
    k="_".join(key) if isinstance(key,tuple) else key
    print k
    l=list(data.index.names)
    l[0]='EOM'
    data.index.names=l
    data.to_csv('..\\' +k+'_seed_3.csv')

dwh_country_id_fk_loan
dwh_country_id_rating_base
dwh_country_id_payout_quarter_rating_base
dwh_country_id
dwh_country_id_payout_quarter
dwh_country_id_gblrc_rating_mapped_base

In [428]:
 xirrs_seed_all['dwh_country_id']

                                   cash_list_expected_date  \
reporting_date run dwh_country_id
2015-06-30     0   1                              0.029903
                   32                             0.029849
                   128                            0.047058
               1   1                              0.035464
                   32                             0.037074
                   128                            0.055986
               2   1                              0.033540
                   32                             0.033451
                   128                            0.056012
               3   1                              0.032449
                   32                             0.027610
                   128                            0.069041
               4   1                              0.031082
                   32                             0.025574
                   128                            0.055984
               5   1                              0.026650
                   32                             0.045490
                   128                            0.001624
               6   1                              0.033611
                   32                             0.030234
                   128                            0.007958
               7   1                              0.033561
                   32                             0.018208
                   128                            0.049509
               8   1                              0.034414
                   32                             0.018965
                   128                            0.055760
               9   1                              0.034726
                   32                             0.032527
                   128                            0.010558

                                   cash_list_expected_date_plan  run
reporting_date run dwh_country_id
2015-06-30     0   1                                   0.036371    0
                   32                                  0.039284    0
                   128                                 0.047135    0
               1   1                                   0.033303    1
                   32                                  0.039764    1
                   128                                 0.060895    1
               2   1                                   0.040339    2
                   32                                  0.036349    2
                   128                                 0.057276    2
               3   1                                   0.034757    3
                   32                                  0.028187    3
                   128                                 0.038255    3
               4   1                                   0.035703    4
                   32                                  0.053963    4
                   128                                 0.053489    4
               5   1                                   0.033719    5
                   32                                  0.040713    5
                   128                                 0.057555    5
               6   1                                   0.033228    6
                   32                                  0.029772    6
                   128                                 0.067826    6
               7   1                                   0.038695    7
                   32                                  0.023591    7
                   128                                 0.050677    7
               8   1                                   0.035545    8
                   32                                  0.018851    8
                   128                                 0.039623    8
               9   1                                   0.036816    9
                   32                                  0.045670    9
                   128                                 0.066674    9

In [232]:
xirrs_all[('dwh_country_id', 'rating_base')].index.names

FrozenList([None, u'dwh_country_id', u'rating_base'])

In [248]:
df

   a  b   c
0  1  6   8
1  2  7   9
2  4  9  10

In [247]:
df=pd.DataFrame({'a':[1,2,4],'b':[6,7,9], 'c':[8,9,10]})
tf=lambda x:pd.DataFrame({'s':x.b.cumprod(),'y':x.b.shift(1).cumprod()})
df[['n','m']]=df.groupby('a').transform(tf)

AssertionError: invalid dtype determination in get_concat_dtype

In [252]:
df.cumprod().shift(1)

    a   b   c
0 NaN NaN NaN
1   1   6   8
2   2  42  72

In [288]:
df1=df.set_index(['a','b'])
df1.xs(0,level='b')

KeyError: 0L

In [256]:
pp1=make_future_pd(payment_plans_combined, loans, EOM_date=None, 
                   latest_paid_interval=None,  act_EOM=None)

In [336]:
%run returns.py

In [337]:
pp2= calc_survival_investor_MC(pp1)

In [326]:
a=select(pp2,{'dwh_country_id':1, 'fk_loan':24, 'fk_user_investor':38})[['dwh_country_id','fk_loan','interval_rebased','surv_one','survive','default']].copy()

In [327]:
a[['default1', 'survive1']] = \
        a[['dwh_country_id', 'fk_loan', 'interval_rebased', 'surv_one']].\
        groupby(['dwh_country_id', 'fk_loan']).\
        apply(surv_default)

In [330]:
 a.at[(~a.survive).argmax(),'default'] = 1

In [332]:
(~a.survive).sum()

-77

In [338]:
pp2.default.sum()

10936

In [331]:
a

,dwh_country_id,fk_loan,interval_rebased,surv_one,survive,default,default1,survive1
14228,1,24,0,True,1,0,0,1
14229,1,24,1,True,1,0,0,1
14230,1,24,2,True,1,0,0,1
14231,1,24,3,True,1,0,0,1
14232,1,24,4,True,1,0,0,1
14233,1,24,5,True,1,0,0,1
14234,1,24,6,True,1,0,0,1
14235,1,24,7,True,1,0,0,1
14236,1,24,8,True,1,0,0,1
14237,1,24,9,True,1,0,0,1
14238,1,24,10,True,1,0,0,1
14239,1,24,11,True,1,0,0,1
14240,1,24,12,True,1,0,0,1
14241,1,24,13,True,1,0,0,1
14242,1,24,14,True,1,0,0,1
14243,1,24,15,True,1,0,0,1
14244,1,24,16,False,0,1,0,0
14245,1,24,17,True,0,0,0,0
14246,1,24,18,True,0,0,0,0
14247,1,24,19,True,0,0,0,0
14248,1,24,20,True,0,0,0,0
14249,1,24,21,True,0,0,0,0
14250,1,24,22,True,0,0,0,0
14251,1,24,23,True,0,0,0,0
14252,1,24,24,True,0,0,0,0
14253,1,24,25,True,0,0,0,0
14254,1,24,26,True,0,0,0,0
14255,1,24,27,True,0,0,0,0
14256,1,24,28,True,0,0,0,0
14257,1,24,29,True,0,0,0,0
...,...,...,...,...,...,...,...,...
14259,1,24,31,True,0,0,0,0
14260,1,24,32,True,0,0,0,0
14261,1,24,33,True,0,0,0,0
14262,1,24,34,True,0,0,0,0
14263,1,24,35,True,0,0,0,0
14264,1,24,36,True,0,0,0,0
14265,1,24,37,True,0,0,0,0
14266,1,24,38,True,0,0,0,0
14267,1,24,39,True,0,0,0,0
14268,1,24,40,True,0,0,0,0
14269,1,24,41,True,0,0,0,0
14270,1,24,42,True,0,0,0,0
14271,1,24,43,True,0,0,0,0
14272,1,24,44,True,0,0,0,0
14273,1,24,45,True,0,0,0,0
14274,1,24,46,True,0,0,0,0
14275,1,24,47,True,0,0,0,0
14276,1,24,48,True,0,0,0,0
14277,1,24,49,True,0,0,0,0
14278,1,24,50,True,0,0,0,0
14279,1,24,51,True,0,0,0,0
14280,1,24,52,True,0,0,0,0
14281,1,24,53,True,0,0,0,0
14282,1,24,54,True,0,0,0,0
14283,1,24,55,True,0,0,0,0
14284,1,24,56,True,0,0,0,0
14285,1,24,57,True,0,0,0,0
14286,1,24,58,True,0,0,0,0
14287,1,24,59,True,0,0,0,0
14288,1,24,60,True,0,0,0,0

In [322]:
pp2.surv_one.shape

(2645566L,)

In [307]:
np.power(1-.05,1/12.0)

0.99573468122243936

In [244]:
df

   a  b   c  n  m
0  1  6   8 -2 -2
1  2  7   9 -2 -2
2  4  9  10 -1 -1

In [227]:
xirrs_all[('dwh_country_id', 'rating_base')].to_clipboard()

In [201]:
xirrs_all[('dwh_country_id', 'fk_loan')].to_clipboard()

In [45]:
actual_payments.dwh_country_id.unique()

array([  1,  32, 128], dtype=int64)

In [205]:
loans.columns

Index([                 u'dwh_country_id',                         u'fk_loan',
                       u'fk_loan_request',                         u'fk_user',
                            u'fk_ranking',                    u'country_name',
                         u'currency_code',      u'loan_request_creation_date',
                              u'user_age',                         u'loan_nr',
                                 u'title',                         u'purpose',
                   u'financial_situation',                     u'self_rating',
                                u'rating',                u'principal_amount',
                              u'duration',     u'nominal_interest_percentage',
             u'promo_interest_percentage',                      u'fee_amount',
                       u'interest_amount',                   u'total_payback',
                             u'is_active',                        u'category',
                    u'ranking_serialized',                           u'state',
                          u'global_state',               u'originating_since',
                      u'originated_since',                        u'due_date',
                         u'funded_amount',                      u'ip_address',
                            u'live_since',               u'ranking_parameter',
                        u'acc_account_id',               u'date_of_signature',
                     u'date_of_agreement',          u'date_of_identification',
                          u'borrower_fee',                      u'lender_fee',
                    u'data_accessible_by',                  u'date_of_payout',
          u'date_of_origination_complete',     u'interest_calculation_method',
       u'initial_interest_split_strategy',   u'effective_interest_percentage',
                         u'cancel_reason',           u'cancel_reason_comment',
                  u'eur_principal_amount',                  u'eur_fee_amount',
                   u'eur_interest_amount',               u'eur_total_payback',
                            u'created_at',                      u'updated_at',
                           u'dwh_created',               u'dwh_last_modified',
                           u'rating_base',             u'credit_agency_score',
                                    u'pd',                     u'pd_original',
                                   u'lgd',                u'in_arrears_since',
              u'date_of_first_loan_offer',                  u'ranking_rating',
                      u'ranking_pd_start',                  u'ranking_pd_end',
                        u'targeted_yield',                     u'payback_day',
                           u'payout_date',                  u'payout_quarter',
                         u'payback_state',           u'auto_in_arrears_since',
                  u'in_arrears_since_man',                 u'payout_date_EOM',
                                   u'dcf',                         u'dcf_EOM',
                             u'base_date',                 u'duration_months',
                           u'base_return'],
      dtype='object')

In [207]:
z1=drop_merge(loan_fundings,loans,keys=['dwh_country_id','fk_loan'], fields=['rating_base', 'payout_quarter']).groupby(splits[0])

In [215]:
loans_filtered = \
        loans_base[loans_base.payout_date <= max_payout_date]
a1=xirrs.copy()

In [218]:
a1[split].to_clipboard()

In [216]:
for split in splits :
        loan_data=loans_filtered.groupby(split)['eur_principal_amount'].\
            agg({'n_loans':'count', 'volume':'sum'})
        a1[split]['n_loans'] = loan_data['n_loans']
        a1[split]['volume'] = loan_data['volume']

In [212]:
z1['eur_amount'].agg({'count':'count', 'volume':'sum'})

                               count        volume
dwh_country_id payout_quarter
1              2014_Q1          2467   442775.0000
               2014_Q2          4027   655400.0000
               2014_Q3          7331  2241550.0000
               2014_Q4          8182  4081125.0000
               2015_Q1         14798  8447075.0000
               2015_Q2         10218  6058525.0000
4              2014_Q1           309    37200.0000
               2014_Q2          1579   148500.0000
               2014_Q3          2073   331900.0000
               2014_Q4          2204   301225.0000
               2015_Q1          1326   148000.0000
16             2014_Q2            76    17747.5858
               2014_Q3            68    81068.0090
               2014_Q4           179   104214.7673
               2015_Q1            81    25315.4319
32             2014_Q2            99    19800.0000
               2014_Q3           706   152300.0000
               2014_Q4           741    92100.0000
               2015_Q1           558    83000.0000
               2015_Q2            97    53500.0000
64             2014_Q2            17    35620.3835
               2014_Q3            35   131787.9046
               2014_Q4            22    44423.1296
128            2014_Q1             1     4000.0000
               2014_Q4           197    42800.0000
               2015_Q1           399   173500.0000
               2015_Q2           509   514200.0000

In [59]:
repaid_loans[['dwh_country_id','fk_loan']].sort(['dwh_country_id','fk_loan'],inplace=False)

      dwh_country_id  fk_loan
41                 1       19
47                 1       28
66                 1       30
103                1       36
100                1       37
113                1       41
180                1       51
221                1       58
209                1       65
225                1       67
241                1       71
238                1       77
354                1       92
421                1       98
504                1      120
528                1      132
521                1      135
530                1      136
539                1      138
561                1      151
592                1      168
660                1      220
694                1      232
724                1      241
731                1      253
725                1      256
717                1      264
727                1      269
780                1      270
753                1      274
...              ...      ...
1122               1      528
1163               1      552
1169               1      553
1166               1      555
1162               1      557
1156               1      571
1178               1      579
1179               1      580
1209               1      596
1227               1      611
1232               1      613
1144               1      630
1224               1      664
1229               1      727
983                1      735
1146               1      764
1354               1      816
1384               1      817
1450               1      860
1411               1      904
1350               1     1166
1811               1     1239
53                32       23
82                32       32
90                32       35
132               32       50
200               32       67
36               128        3
68               128        5
98               128       10

[85 rows x 2 columns]

In [57]:
loans.loc[loans.payback_state=='payback_complete',['dwh_country_id','fk_loan']].sort(['dwh_country_id','fk_loan'],inplace=False)

     dwh_country_id  fk_loan
41                1       19
56                1       27
47                1       28
66                1       30
103               1       36
100               1       37
113               1       41
180               1       51
221               1       58
209               1       65
225               1       67
241               1       71
234               1       76
238               1       77
354               1       92
421               1       98
504               1      120
528               1      132
521               1      135
530               1      136
539               1      138
561               1      151
592               1      168
660               1      220
694               1      232
724               1      241
731               1      253
725               1      256
717               1      264
727               1      269
..              ...      ...
1                16        2
2                16        3
3                16        4
4                16        5
7                16        6
60               16        7
156              16        8
157              16        9
153              16       11
295              16       18
288              16       20
286              16       21
287              16       22
290              16       24
593              16       39
698              16       47
712              16       49
53               32       23
82               32       32
90               32       35
132              32       50
200              32       67
265              64       24
381              64       32
568              64       54
596              64       57
706              64       75
36              128        3
68              128        5
98              128       10

[127 rows x 2 columns]

In [41]:
a1=payment_plans_combined.interval_payback_date.head().copy()
a1

0   2014-01-15
1   2014-02-15
2   2014-03-15
3   2014-04-15
4   2014-05-15
Name: interval_payback_date, dtype: datetime64[ns]

In [20]:
payment_plans_combined['payout_date']=np.array(payment_plans_combined.payout_date, 'datetime64[D]')
payment_plans_combined['interval_payback_date']=np.array(payment_plans_combined.interval_payback_date, 'datetime64[D]')

In [103]:
loan7a=[a[a.fk_loan==7] for a in cash_lists['cash_list_actual_date']]

In [104]:
loan7a[0]

,dwh_country_id,fk_loan,fk_user_investor,payout_date,payout_date,dcf,payment,payout_quarter,rating_base,payback_state,eur_principal_amount
172,1,7,574,2013-12-27,2013-12-27,1.260274,-25,2014_Q1,C,payback,1000
173,1,7,447,2013-12-27,2013-12-27,1.260274,-50,2014_Q1,C,payback,1000
174,1,7,38,2013-12-27,2013-12-27,1.260274,-75,2014_Q1,C,payback,1000
175,1,7,613,2013-12-27,2013-12-27,1.260274,-100,2014_Q1,C,payback,1000
176,1,7,510,2013-12-27,2013-12-27,1.260274,-50,2014_Q1,C,payback,1000
177,1,7,733,2013-12-27,2013-12-27,1.260274,-300,2014_Q1,C,payback,1000
178,1,7,768,2013-12-27,2013-12-27,1.260274,-300,2014_Q1,C,payback,1000
179,1,7,485,2013-12-27,2013-12-27,1.260274,-50,2014_Q1,C,payback,1000
180,1,7,94,2013-12-27,2013-12-27,1.260274,-25,2014_Q1,C,payback,1000
181,1,7,51,2013-12-27,2013-12-27,1.260274,-25,2014_Q1,C,payback,1000

In [106]:
loan7a[1][['dcf','payment']].groupby('dcf').sum()

           payment
dcf
-0.090411     43.7
 0.000000     43.7
 0.082192     43.7
 0.158904     43.7
 0.243836     43.7
 0.331507     43.7
 0.408219     43.7
 0.498630     43.7
 0.580822     43.7
 0.665753     43.7
 0.750685     43.7
 0.830137     43.7
 0.906849     43.7
 1.000000     43.7
 1.079452     43.7
 1.150685     43.7
 1.246575      0.0

In [113]:
loan7a[4]

Empty DataFrame
Columns: [dwh_country_id, fk_loan, fk_user_investor, payment, date, dcf, payout_quarter, rating_base, payback_state, eur_principal_amount]
Index: []

In [89]:
loan7[2]

,dwh_country_id,fk_loan,fk_user_investor,payment,date,dcf,payout_quarter,rating_base,payback_state,eur_principal_amount
0,1,7,38,25.7749,2015-05-31,-0.164384,2014_Q1,C,payback,1000
1,1,7,51,8.6467,2015-05-31,-0.164384,2014_Q1,C,payback,1000
2,1,7,94,8.6467,2015-05-31,-0.164384,2014_Q1,C,payback,1000
3,1,7,447,17.2931,2015-05-31,-0.164384,2014_Q1,C,payback,1000
4,1,7,485,17.2931,2015-05-31,-0.164384,2014_Q1,C,payback,1000
5,1,7,510,17.2931,2015-05-31,-0.164384,2014_Q1,C,payback,1000
6,1,7,574,8.6465,2015-05-31,-0.164384,2014_Q1,C,payback,1000
7,1,7,613,34.4394,2015-05-31,-0.164384,2014_Q1,C,payback,1000
8,1,7,733,103.1628,2015-05-31,-0.164384,2014_Q1,C,payback,1000
9,1,7,768,103.1628,2015-05-31,-0.164384,2014_Q1,C,payback,1000

In [114]:
residuals_current_date, arrears_date, recoveries_date = \
        generate_residual_act_investor_date(
                                act_pay_date_cnt[act_pay_date_filter],
                                plan_pay_cnt[plan_filter],
                                act_pay_monthly_cnt[act_pay_monthly_EOM_filter],
                                loan_fundings_cnt)

In [120]:
act_pay_monthly_cnt[act_pay_monthly_EOM_filter].iso_date.describe()

count          20571
unique             1
top       2015-05-31
freq           20571
Name: iso_date, dtype: object

In [103]:
actual=act_pay_date_cnt[act_pay_date_filter]
p_plans=plan_pay_cnt[plan_filter]
act_EOM=act_pay_monthly_cnt[act_pay_monthly_EOM_filter]
lf=loan_fundings_cnt
fund_keys = ['dwh_country_id', 'fk_loan', 'fk_user_investor']
current_loans = act_EOM.loc[act_EOM.in_arrears_since_days_30360.isnull(),
                                fund_keys]

In [106]:
lpi_fields = ['iso_date', 'dwh_country_id', 'fk_loan',
                  'fk_user_investor','interval']
latest_paid_interval_investor = \
        act_EOM[ lpi_fields]\
        .sort('iso_date', inplace=False)\
        .groupby(['dwh_country_id', 'fk_loan', 'fk_user_investor']).interval.last()
latest_paid_interval_investor.name='latest_paid_interval'

In [115]:
fut = p_plans.merge(pd.DataFrame(latest_paid_interval_investor),
                                      left_on=['dwh_country_id', 'fk_loan', 'fk_user_investor'],
                                      right_index=True, how='left')

In [122]:
fut1 = fut[(fut.latest_paid_interval.isnull()) |
                      (fut.interval > fut.latest_paid_interval)].copy()

In [123]:
fut1['iv']=fut.interval_payback_date

In [125]:
fut1.loc[fut1.interval_payback_date < EOM_date,
                    'interval_payback_date'] = np.datetime64(EOM_date.date(), 'D')

In [126]:
fut1[fut1.interval_payback_date>5].T

,1441,1442,1443,1444,1445,1446,1447,1448,1449,1466,...,1613332,1613333,1613334,1613335,1613336,1613337,1613338,1613339,1613340,1613341
Unnamed: 0,1441,1442,1443,1444,1445,1446,1447,1448,1449,1466,...,1613332,1613333,1613334,1613335,1613336,1613337,1613338,1613339,1613340,1613341
dwh_country_id,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
fk_loan,7,7,7,7,7,7,7,7,7,7,...,1366,1366,1366,1366,1366,1366,1366,1366,1366,1366
fk_loan_request,148,148,148,148,148,148,148,148,148,148,...,59972,59972,59972,59972,59972,59972,59972,59972,59972,59972
loan_request_nr,745156648,745156648,745156648,745156648,745156648,745156648,745156648,745156648,745156648,745156648,...,800171486,800171486,800171486,800171486,800171486,800171486,800171486,800171486,800171486,800171486
fk_user_investor,38,38,38,38,38,38,38,38,38,51,...,87690,87690,87690,87690,87690,87690,87690,87690,87690,87690
fk_user_borrower,561,561,561,561,561,561,561,561,561,561,...,79352,79352,79352,79352,79352,79352,79352,79352,79352,79352
country_name,Germany,Germany,Germany,Germany,Germany,Germany,Germany,Germany,Germany,Germany,...,Germany,Germany,Germany,Germany,Germany,Germany,Germany,Germany,Germany,Germany
payout_date,2013-12-27 00:00:00,2013-12-27 00:00:00,2013-12-27 00:00:00,2013-12-27 00:00:00,2013-12-27 00:00:00,2013-12-27 00:00:00,2013-12-27 00:00:00,2013-12-27 00:00:00,2013-12-27 00:00:00,2013-12-27 00:00:00,...,2015-02-27 00:00:00,2015-02-27 00:00:00,2015-02-27 00:00:00,2015-02-27 00:00:00,2015-02-27 00:00:00,2015-02-27 00:00:00,2015-02-27 00:00:00,2015-02-27 00:00:00,2015-02-27 00:00:00,2015-02-27 00:00:00
interval,16,17,18,19,20,21,22,23,24,16,...,51,52,53,54,55,56,57,58,59,60
interval_payback_date,1970-01-01 00:00:00.000016586,2015-06-01 00:00:00,2015-07-01 00:00:00,2015-08-01 00:00:00,2015-09-01 00:00:00,2015-10-01 00:00:00,2015-11-01 00:00:00,2015-12-01 00:00:00,2016-01-01 00:00:00,1970-01-01 00:00:00.000016586,...,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,2020-04-01 00:00:00
next_interval_payback_date,2015-06-01,2015-07-01,2015-08-01,2015-09-01,2015-10-01,2015-11-01,2015-12-01,2016-01-01,2199-01-01,2015-06-01,...,2019-08-01,2019-09-01,2019-10-01,2019-11-01,2019-12-01,2020-01-01,2020-02-01,2020-03-01,2020-04-01,2199-01-01
loan_coverage,7.5,7.5,7.5,7.5,7.5,7.5,7.5,7.5,7.5,2.5,...,0.4,0.4,0.4,0.4,0.4,0.4,0.4,0.4,0.4,0.4
eur_payment_amount_borrower,44.19,44.19,44.19,44.19,44.19,44.19,44.19,44.19,43.96,44.19,...,515.57,515.57,515.57,515.57,515.57,515.57,515.57,515.57,515.57,515.43
eur_payment_amount_borrower_cum,707.67,751.86,796.05,840.24,884.43,928.62,972.81,1017,1060.96,707.67,...,26463.63,26979.2,27494.77,28010.34,28525.91,29041.48,29557.05,30072.62,30588.19,31103.62
eur_principal_amount_borrower,42.3492,42.55,42.7517,42.9544,43.1581,43.3628,43.5684,43.775,43.7558,42.3492,...,479.561,483.0458,486.5559,490.0916,493.6529,497.2401,500.8534,504.4929,508.1589,511.7136
eur_principal_amount_borrower_cum,654.124,696.674,739.4257,782.3801,825.5382,868.901,912.4694,956.2444,1000,654.124,...,20524.19,21007.24,21493.8,21983.89,22477.54,22974.78,23475.63,23980.13,24488.29,25000
eur_interest_amount_borrower,1.8408,1.64,1.4383,1.2356,1.0319,0.8272,0.6216,0.415,0.2042,1.8408,...,36.009,32.5242,29.0141,25.4784,21.9171,18.3299,14.7166,11.0771,7.4111,3.7185
eur_interest_amount_borrower_cum,53.546,55.186,56.6243,57.8599,58.8918,59.719,60.3406,60.7556,60.9598,53.546,...,5939.431,5971.955,6000.969,6026.448,6048.365,6066.695,6081.411,6092.489,6099.9,6103.618
eur_initial_principal_amount_borrower,388.2253,345.8761,303.3262,260.5744,217.62,174.4619,131.0991,87.5307,43.7558,388.2253,...,4955.366,4475.805,3992.759,3506.204,3016.112,2522.459,2025.219,1524.366,1019.872,511.7136
eur_residual_interest_amount_borrower,7.4139,5.7738,4.3356,3.1,2.0681,1.2409,0.6193,0.2042,0,7.4139,...,164.1868,131.6626,102.6485,77.1701,55.2531,36.9232,22.2066,11.1295,3.7185,0
eur_residual_principal_amount_borrower,345.8761,303.3262,260.5744,217.62,174.4619,131.0991,87.5307,43.7558,0,345.8761,...,4475.805,3992.759,3506.204,3016.112,2522.459,2025.219,1524.366,1019.872,511.7136,0
eur_payment_amount_investor,3.28,3.28,3.28,3.28,3.28,3.28,3.28,3.28,3.28,1.09,...,2.04,2.04,2.04,2.04,2.04,2.04,2.04,2.04,2.04,2.04
eur_payment_amount_investor_cum,52.48,55.76,59.04,62.32,65.6,68.88,72.16,75.44,78.72,17.44,...,104.71,106.75,108.79,110.83,112.87,114.91,116.95,118.99,121.03,123.07
eur_principal_amount_investor,3.1672,3.1795,3.1919,3.2044,3.2168,3.2294,3.242,3.2546,3.2562,1.0522,...,1.9048,1.9179,1.9311,1.9444,1.9578,1.9712,1.9848,1.9985,2.0122,2.026
eur_principal_amount_investor_cum,49.2253,52.4048,55.5967,58.8011,62.0179,65.2473,68.4893,71.7439,75.0001,16.3533,...,82.2561,84.174,86.1051,88.0495,90.0073,91.9785,93.9633,95.9618,97.974,100
eur_interest_amount_investor,0.1128,0.1005,0.0881,0.0756,0.0632,0.0506,0.038,0.0254,0.0238,0.0378,...,0.1352,0.1221,0.1089,0.0956,0.0822,0.0688,0.0552,0.0415,0.0278,0.0139
eur_interest_amount_investor_cum,3.2547,3.3552,3.4433,3.5189,3.5821,3.6327,3.6707,3.6961,3.7199,1.0867,...,22.454,22.5761,22.685,22.7806,22.8628,22.9316,22.9868,23.0283,23.0561,23.07
eur_initial_principal_amount_investor,28.942,25.7749,22.5953,19.4034,16.1991,12.9822,9.7528,6.5109,3.2562,9.6989,...,19.6487,17.7439,15.826,13.8949,11.9505,9.9927,8.0215,6.0367,4.0383,2.026
eur_sum_interval_interest_amount_investor,3.2549,3.3553,3.4434,3.5191,3.5822,3.6328,3.6709,3.6962,3.72,1.0865,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
eur_residual_interest_amount_investor,0.4651,0.3647,0.2766,0.2009,0.1378,0.0872,0.0491,0.0238,0,0.1535,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
eur_residual_principal_amount_investor,25.7749,22.5953,19.4034,16.1991,12.9822,9.7528,6.5109,3.2562,0,8.6467,...,17.7439,15.826,13.8949,11.9505,9.9927,8.0215,6.0367,4.0383,2.026,0
dcf,-0.08219178,-0.1671233,-0.2493151,-0.3342466,-0.4191781,-0.5013699,-0.5863014,-0.6684932,-0.7534247,-0.08219178,...,-4.252055,-4.336986,-4.421918,-4.50411,-4.589041,-4.671233,-4.756164,-4.841096,-4.920548,-5.005479
investment_fee_def,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
loan_coverage1,7.5,7.5,7.5,7.5,7.5,7.5,7.5,7.5,7.5,2.5,...,0.4,0.4,0.4,0.4,0.4,0.4,0.4,0.4,0.4,0.4
recovery,0.5814,0.5814,0.5814,0.5814,0.5814,0.5814,0.5814,0.5814,0.5814,0.5814,...,0.5814,0.5814,0.5814,0.5814,0.5814,0.5814,0.5814,0.5814,0.5814,0.5814
latest_paid_interval,15,15,15,15,15,15,15,15,15,15,...,1,1,1,1,1,1,1,1,1,1
iv,2015-05-01 00:00:00,2015-06-01 00:00:00,2015-07-01 00:00:00,2015-08-01 00:00:00,2015-09-01 00:00:00,2015-10-01 00:00:00,2015-11-01 00:00:00,2015-12-01 00:00:00,2016-01-01 00:00:00,2015-05-01 00:00:00,...,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,2020-04-01 00:00:00

In [120]:
type(fut1.interval_payback_date.iloc[0])

pandas.tslib.Timestamp

In [129]:
future_cashflows = make_future_pd(p_plans, act_EOM,loans,
                        arrears_dict, True,EOM_date.date(),latest_paid_interval_investor)

In [130]:
future_cashflows.head().T

,0,1,2,3,4
Unnamed: 0,1441,1442,1443,1444,1445
dwh_country_id,1,1,1,1,1
fk_loan,7,7,7,7,7
fk_loan_request,148,148,148,148,148
loan_request_nr,745156648,745156648,745156648,745156648,745156648
fk_user_investor,38,38,38,38,38
fk_user_borrower,561,561,561,561,561
country_name,Germany,Germany,Germany,Germany,Germany
payout_date,2013-12-27 00:00:00,2013-12-27 00:00:00,2013-12-27 00:00:00,2013-12-27 00:00:00,2013-12-27 00:00:00
interval,16,17,18,19,20
interval_payback_date,2015-05-31 00:00:00,2015-06-01 00:00:00,2015-07-01 00:00:00,2015-08-01 00:00:00,2015-09-01 00:00:00
next_interval_payback_date,2015-06-01,2015-07-01,2015-08-01,2015-09-01,2015-10-01
loan_coverage,7.5,7.5,7.5,7.5,7.5
eur_payment_amount_borrower,44.19,44.19,44.19,44.19,44.19
eur_payment_amount_borrower_cum,707.67,751.86,796.05,840.24,884.43
eur_principal_amount_borrower,42.3492,42.55,42.7517,42.9544,43.1581
eur_principal_amount_borrower_cum,654.124,696.674,739.4257,782.3801,825.5382
eur_interest_amount_borrower,1.8408,1.64,1.4383,1.2356,1.0319
eur_interest_amount_borrower_cum,53.546,55.186,56.6243,57.8599,58.8918
eur_initial_principal_amount_borrower,388.2253,345.8761,303.3262,260.5744,217.62
eur_residual_interest_amount_borrower,7.4139,5.7738,4.3356,3.1,2.0681
eur_residual_principal_amount_borrower,345.8761,303.3262,260.5744,217.62,174.4619
eur_payment_amount_investor,3.28,3.28,3.28,3.28,3.28
eur_payment_amount_investor_cum,52.48,55.76,59.04,62.32,65.6
eur_principal_amount_investor,3.1672,3.1795,3.1919,3.2044,3.2168
eur_principal_amount_investor_cum,49.2253,52.4048,55.5967,58.8011,62.0179
eur_interest_amount_investor,0.1128,0.1005,0.0881,0.0756,0.0632
eur_interest_amount_investor_cum,3.2547,3.3552,3.4433,3.5189,3.5821
eur_initial_principal_amount_investor,28.942,25.7749,22.5953,19.4034,16.1991
eur_sum_interval_interest_amount_investor,3.2549,3.3553,3.4434,3.5191,3.5822
eur_residual_interest_amount_investor,0.4651,0.3647,0.2766,0.2009,0.1378
eur_residual_principal_amount_investor,25.7749,22.5953,19.4034,16.1991,12.9822
dcf,-0.1643836,-0.1671233,-0.2493151,-0.3342466,-0.4191781
investment_fee_def,1,1,1,1,1
loan_coverage1,7.5,7.5,7.5,7.5,7.5
recovery,0.5814,0.5814,0.5814,0.5814,0.5814
latest_paid_interval,15,15,15,15,15
bucket_pd,0.164,0.164,0.164,0.164,0.164
pd,0.164,0.164,0.164,0.164,0.164
pd_noarr,0.0507,0.0507,0.0507,0.0507,0.0507
interval_rebased,1,2,3,4,5
surv_month,0.9851836,0.9851836,0.9851836,0.9851836,0.9851836
survive,0.9851836,0.9705868,0.9562062,0.9420387,0.9280811
default,0.01481636,0.01459684,0.01438057,0.0141675,0.01395759
e_eur_payment_amount_investor,3.231402,3.183525,3.136356,3.089887,3.044106
e_eur_recovery_amount,24.83116,21.7947,18.83031,15.93663,13.11235
e_tot,28.06256,24.97822,21.96666,19.02651,16.15646

In [107]:
latest_paid_interval_investor.head()

dwh_country_id  fk_loan  fk_user_investor
1               7        38                  15
                         51                  15
                         94                  15
                         447                 15
                         485                 15
Name: latest_paid_interval, dtype: float64

In [104]:
current_loans.shape

(28342, 3)

In [127]:
act_pay_monthly_cnt.in_arrears_since_days_30360.unique()

array([  nan,   16.,   13.,   15.,   46.,   76.,  103.,  136.,  165.,
        196.,   75.,   45.,   29.,   60.,   30.,   27.,   59.,   90.,
        120.,   87.,   57.,  117.,  150.,  179.,  210.,  119.,   26.,
         89.,   43.,   73.,  106.,  105.,  166.])

In [ ]:
actual_payments_combined.in_arrears_since_days_30360.drop_duplicates()

In [119]:
act_pay_date_cnt[act_pay_date_filter]

(255722, 38)

In [92]:
actual_payments[(actual_payments.dwh_country_id==1) & (actual_payments.fk_loan==7)].T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
dwh_country_id,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
fk_user_borrower,561,561,561,561,561,561,561,561,561,561,561,561,561,561,561,561,561
fk_loan,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
loan_nr,745156648,745156648,745156648,745156648,745156648,745156648,745156648,745156648,745156648,745156648,745156648,745156648,745156648,745156648,745156648,745156648,745156648
iso_date,2014-01-31,2014-02-28,2014-03-31,2014-04-30,2014-05-31,2014-06-30,2014-07-31,2014-08-31,2014-09-30,2014-10-31,2014-11-30,2014-12-31,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31
interval,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
interval_payback_date,2014-01-01,2014-02-01,2014-03-01,2014-04-01,2014-05-01,2014-06-01,2014-07-01,2014-08-01,2014-09-01,2014-10-01,2014-11-01,2014-12-01,2015-01-01,2015-02-01,2015-03-01,2015-04-01,2015-05-01
eur_payment_amount,0.63,44.19,44.19,44.19,44.19,44.19,44.19,44.19,44.19,44.19,44.19,44.19,44.19,44.19,44.19,44.19,44.19
eur_payment_amount_cum,0.63,44.82,89.01,133.2,177.39,221.58,265.77,309.96,354.15,398.34,442.53,486.72,530.91,575.1,619.29,663.48,707.67
eur_principal_amount,0,39.4483,39.6354,39.8233,40.0122,40.2019,40.3925,40.584,40.7765,40.9698,41.1641,41.3593,41.5554,41.7524,41.9504,42.1493,42.3492
eur_interest_amount,0.63,4.7417,4.5546,4.3667,4.1778,3.9881,3.7975,3.606,3.4135,3.2202,3.0259,2.8307,2.6346,2.4376,2.2396,2.0407,1.8408
eur_sum_interval_interest_amount,0.63,5.3717,9.9263,14.293,18.4708,22.4589,26.2564,29.8624,33.2759,36.4961,39.5221,42.3528,44.9874,47.425,49.6646,51.7053,53.5461
eur_interest_amount_cum,0.63,5.3717,9.9263,14.293,18.4708,22.4589,26.2564,29.8624,33.2759,36.4961,39.522,42.3527,44.9873,47.4249,49.6645,51.7052,53.546
eur_interest_amount_cum_exc0,0,4.7417,9.2963,13.663,17.8408,21.8289,25.6264,29.2324,32.6459,35.8661,38.892,41.7227,44.3573,46.7949,49.0345,51.0752,52.916
eur_residual_interest_amount,60.33,55.5883,51.0337,46.667,42.4892,38.5011,34.7036,31.0976,27.6841,24.4639,21.4379,18.6072,15.9726,13.535,11.2954,9.2547,7.4139
eur_principal_amount_cum,0,39.4483,79.0837,118.907,158.9192,199.1211,239.5136,280.0976,320.8741,361.8439,403.008,444.3673,485.9227,527.6751,569.6255,611.7748,654.124
eur_initial_principal_amount,1000,1000,960.5517,920.9163,881.093,841.0808,800.8789,760.4864,719.9024,679.1259,638.1561,596.9921,555.6328,514.0774,472.325,430.3746,388.2253
eur_residual_principal_amount,1000,960.5517,920.9163,881.093,841.0808,800.8789,760.4864,719.9024,679.1259,638.1561,596.9921,555.6328,514.0774,472.325,430.3746,388.2253,345.8761
expected_amount_month,0.63,44.19,44.19,44.19,44.19,44.19,44.19,44.19,44.19,44.19,44.19,44.19,44.19,44.19,44.19,44.19,44.19
expected_amount_cum,0.63,44.82,89.01,133.2,177.39,221.58,265.77,309.96,354.15,398.34,442.53,486.72,530.91,575.1,619.29,663.48,707.67
actual_amount_month,0.63,44.19,44.19,44.19,44.19,44.19,44.19,44.19,44.19,44.19,44.19,44.19,44.19,44.19,44.19,44.19,44.19
actual_amount_cum,0.63,44.82,89.01,133.2,177.39,221.58,265.77,309.96,354.15,398.34,442.53,486.72,530.91,575.1,619.29,663.48,707.67
in_arrears_flag,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
in_arrears_since,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
in_arrears_since_days,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dcf,1.164384,1.087671,1.00274,0.9205479,0.8356164,0.7534247,0.6684932,0.5835616,0.5013699,0.4164384,0.3342466,0.2493151,0.1643836,0.08767123,0.002739726,-0.07945205,-0.1643836
payout_date,2013-12-27 00:00:00,2013-12-27 00:00:00,2013-12-27 00:00:00,2013-12-27 00:00:00,2013-12-27 00:00:00,2013-12-27 00:00:00,2013-12-27 00:00:00,2013-12-27 00:00:00,2013-12-27 00:00:00,2013-12-27 00:00:00,2013-12-27 00:00:00,2013-12-27 00:00:00,2013-12-27 00:00:00,2013-12-27 00:00:00,2013-12-27 00:00:00,2013-12-27 00:00:00,2013-12-27 00:00:00
in_arrears_since_days_30360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bucket,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bucket_pd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cum_diff,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [94]:
payment_plans[(payment_plans.dwh_country_id==1) & (payment_plans.fk_loan==7)].to_clipboard()

In [135]:
z1=pd.concat([a.loc[(a.dwh_country_id==1) & (a.fk_loan.isin((14,421,1096,1134))),['fk_loan','dcf','payment']].groupby(['fk_loan','dcf']).sum() 
     for a in cash_lists['cash_list_expected_date'] if a is not None])

In [138]:
xirr(z1.xs(14).reset_index())

0.016175176153982798

In [139]:
actual_payments[(actual_payments.dwh_country_id==1) & (actual_payments.fk_loan==14)]

,dwh_country_id,fk_user_borrower,fk_loan,loan_nr,iso_date,interval,interval_payback_date,eur_payment_amount,eur_payment_amount_cum,eur_principal_amount,...,actual_amount_cum,in_arrears_flag,in_arrears_since,in_arrears_since_days,dcf,payout_date,in_arrears_since_days_30360,bucket,bucket_pd,cum_diff
108,1,99,14,226539522,2014-02-28,0,2014-02-15,6.95,6.95,0.0000,...,6.95,0,None,NaN,1.087671,2014-01-20,NaN,NaN,NaN,0.00
109,1,99,14,226539522,2014-03-31,0,2014-02-15,6.95,6.95,0.0000,...,6.95,1,2014-03-15,16,1.002740,2014-01-20,16,30,0.164,150.05
110,1,99,14,226539522,2014-04-30,2,2014-04-15,150.05,307.05,142.3547,...,307.05,0,None,NaN,0.920548,2014-01-20,NaN,NaN,NaN,0.00
111,1,99,14,226539522,2014-05-31,3,2014-05-15,150.05,457.10,142.6809,...,457.10,0,None,NaN,0.835616,2014-01-20,NaN,NaN,NaN,0.00
112,1,99,14,226539522,2014-06-30,4,2014-06-15,150.05,607.15,143.0079,...,607.15,0,None,NaN,0.753425,2014-01-20,NaN,NaN,NaN,0.00
113,1,99,14,226539522,2014-07-31,5,2014-07-15,150.05,757.20,143.3356,...,757.20,0,None,NaN,0.668493,2014-01-20,NaN,NaN,NaN,0.00
114,1,99,14,226539522,2014-08-31,6,2014-08-15,150.05,907.25,143.6641,...,907.25,0,None,NaN,0.583562,2014-01-20,NaN,NaN,NaN,0.00
115,1,99,14,226539522,2014-09-30,7,2014-09-15,150.05,1057.30,143.9933,...,1057.30,0,None,NaN,0.501370,2014-01-20,NaN,NaN,NaN,0.00
116,1,99,14,226539522,2014-10-31,8,2014-10-15,150.05,1207.35,144.3233,...,1207.35,0,None,NaN,0.416438,2014-01-20,NaN,NaN,NaN,0.00
117,1,99,14,226539522,2014-11-30,9,2014-11-15,150.05,1357.40,144.6540,...,1357.40,0,None,NaN,0.334247,2014-01-20,NaN,NaN,NaN,0.00
118,1,99,14,226539522,2014-12-31,10,2014-12-15,150.05,1507.45,144.9855,...,1507.45,0,None,NaN,0.249315,2014-01-20,NaN,NaN,NaN,0.00
119,1,99,14,226539522,2015-01-31,11,2015-01-15,150.05,1657.50,145.3178,...,1657.50,0,None,NaN,0.164384,2014-01-20,NaN,NaN,NaN,0.00
120,1,99,14,226539522,2015-02-28,12,2015-02-15,150.05,1807.55,145.6508,...,1807.55,0,None,NaN,0.087671,2014-01-20,NaN,NaN,NaN,0.00
121,1,99,14,226539522,2015-03-31,13,2015-03-15,150.05,1957.60,145.9846,...,1957.60,0,None,NaN,0.002740,2014-01-20,NaN,NaN,NaN,0.00
122,1,99,14,226539522,2015-04-30,14,2015-04-15,150.05,2107.65,146.3191,...,2107.65,0,None,NaN,-0.079452,2014-01-20,NaN,NaN,NaN,0.00
123,1,99,14,226539522,2015-05-31,15,2015-05-15,150.05,2257.70,146.6544,...,2257.70,0,None,NaN,-0.164384,2014-01-20,NaN,NaN,NaN,0.00
124,1,99,14,226539522,2015-06-30,16,2015-06-15,150.05,2407.75,146.9905,...,2407.75,0,None,NaN,-0.246575,2014-01-20,NaN,NaN,NaN,0.00

In [80]:
cash_lists.keys()

['cash_list_expected_date',
 'cash_list_actual_monthly',
 'cash_list_expected_date_plan',
 'cash_list_actual_date',
 'cash_list_expected_monthly']

In [134]:
xirrs_all[('dwh_country_id','fk_loan')].xs((1,14),level=['dwh_country_id','fk_loan'])

,cash_list_actual_date,cash_list_actual_monthly,cash_list_expected_date,cash_list_expected_date_plan,cash_list_expected_monthly,in_arrears_since,in_arrears_since_days,in_arrears_since_days_30360,bucket,bucket_pd,...,bucket60_lost,bucket90_lost,monthly_principals,top,nar,adj nar,payout_quarter,rating_base,payback_state,eur_principal_amount
2015-05-31,0.015941,0.016539,-0.022212,0.012449,0.016311,NaN,NaN,NaN,NaN,NaN,...,-0,-0,33884.5959,50.1188,0.017894,0.017894,2014_Q1,A,payback,3500
2015-06-30,0.016545,0.016589,0.016175,0.012449,0.016416,NaN,NaN,NaN,NaN,NaN,...,-0,-0,35088.9139,51.9001,0.017894,0.017894,2014_Q1,A,payback,3500

In [133]:
z1=[a.loc[(a.dwh_country_id==1) & (a.fk_loan==7),['dcf','payment']] 
     for a in cash_lists['cash_list_expected_monthly'] ]

In [137]:
loan_fundings.loan_coverage1.head()

0     1.666667
1    22.916667
2     7.500000
3     0.833333
4     8.333333
Name: loan_coverage1, dtype: float64

In [134]:
z1[2]

         dcf     payment
0  -0.164384   28.062559
1  -0.167123   24.978223
2  -0.249315   21.966664
3  -0.334247   19.026515
4  -0.419178   16.156460
5  -0.501370   13.355185
6  -0.586301   10.621401
7  -0.668493    7.953850
8  -0.753425    5.351292
9  -0.164384    9.350902
10 -0.167123    8.322839
11 -0.249315    7.319034
12 -0.334247    6.339031
13 -0.419178    5.382393
14 -0.501370    4.448681
15 -0.586301    3.537465
16 -0.668493    2.648325
17 -0.753425    1.850793
18 -0.164384    9.350902
19 -0.167123    8.322839
20 -0.249315    7.319034
21 -0.334247    6.339031
22 -0.419178    5.382393
23 -0.501370    4.448681
24 -0.586301    3.537465
25 -0.668493    2.648325
26 -0.753425    1.850793
27 -0.164384   18.701805
28 -0.167123   16.645678
29 -0.249315   14.638068
..       ...         ...
60 -0.586301    3.537465
61 -0.668493    2.648325
62 -0.753425    1.850793
63 -0.164384   37.413461
64 -0.167123   33.301061
65 -0.249315   29.285698
66 -0.334247   25.365546
67 -0.419178   21.538854
68 -0.501370   17.803866
69 -0.586301   14.158866
70 -0.668493   10.602175
71 -0.753425    7.210828
72 -0.164384  112.250234
73 -0.167123   99.912890
74 -0.249315   87.866656
75 -0.334247   76.106059
76 -0.419178   64.625842
77 -0.501370   53.420741
78 -0.586301   42.485606
79 -0.668493   31.815399
80 -0.753425   21.431398
81 -0.164384  112.250234
82 -0.167123   99.912890
83 -0.249315   87.866656
84 -0.334247   76.106059
85 -0.419178   64.625842
86 -0.501370   53.420741
87 -0.586301   42.485606
88 -0.668493   31.815399
89 -0.753425   21.431398

[90 rows x 2 columns]

In [65]:
[a.shape 
     for a in cash_lists['cash_list_actual_date'] ]

[(32590, 11), (255605, 10), (28342, 10), (2050, 10), (383, 10), (14921, 11)]

In [84]:
payment_plans_combined[(payment_plans_combined.fk_loan==7) & (payment_plans_combined.dwh_country_id==1) & (payment_plans_combined.interval==0)]

,Unnamed: 0,dwh_country_id,fk_loan,fk_loan_request,loan_request_nr,fk_user_investor,fk_user_borrower,country_name,payout_date,interval,...,eur_interest_amount_investor,eur_interest_amount_investor_cum,eur_initial_principal_amount_investor,eur_sum_interval_interest_amount_investor,eur_residual_interest_amount_investor,eur_residual_principal_amount_investor,dcf,investment_fee_def,loan_coverage1,recovery
1425,1425,1,7,148,745156648,38,561,Germany,2013-12-27,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.246575,1,7.5,0.5814
1450,1450,1,7,148,745156648,51,561,Germany,2013-12-27,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.246575,1,2.5,0.5814
1475,1475,1,7,148,745156648,94,561,Germany,2013-12-27,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.246575,1,2.5,0.5814
1500,1500,1,7,148,745156648,447,561,Germany,2013-12-27,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.246575,1,5.0,0.5814
1525,1525,1,7,148,745156648,485,561,Germany,2013-12-27,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.246575,1,5.0,0.5814
1550,1550,1,7,148,745156648,510,561,Germany,2013-12-27,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.246575,1,5.0,0.5814
1575,1575,1,7,148,745156648,574,561,Germany,2013-12-27,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.246575,1,2.5,0.5814
1600,1600,1,7,148,745156648,613,561,Germany,2013-12-27,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.246575,1,10.0,0.5814
1625,1625,1,7,148,745156648,733,561,Germany,2013-12-27,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.246575,1,30.0,0.5814
1650,1650,1,7,148,745156648,768,561,Germany,2013-12-27,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.246575,1,30.0,0.5814

In [85]:
payment_plans_combined.isnull().sum()

Unnamed: 0                                         0
dwh_country_id                                     0
fk_loan                                            0
fk_loan_request                                    0
loan_request_nr                                    0
fk_user_investor                                   0
fk_user_borrower                                   0
country_name                                       0
payout_date                                        0
interval                                           0
interval_payback_date                              0
next_interval_payback_date                         0
loan_coverage                                      0
eur_payment_amount_borrower                        0
eur_payment_amount_borrower_cum                    0
eur_principal_amount_borrower                      0
eur_principal_amount_borrower_cum                  0
eur_interest_amount_borrower                       0
eur_interest_amount_borrower_cum                   0
eur_initial_principal_amount_borrower              0
eur_residual_interest_amount_borrower              0
eur_residual_principal_amount_borrower             0
eur_payment_amount_investor                     4545
eur_payment_amount_investor_cum                 4543
eur_principal_amount_investor                   4545
eur_principal_amount_investor_cum               4543
eur_interest_amount_investor                    4545
eur_interest_amount_investor_cum                4543
eur_initial_principal_amount_investor           4545
eur_sum_interval_interest_amount_investor    1716713
eur_residual_interest_amount_investor        1716713
eur_residual_principal_amount_investor          4545
dcf                                                0
investment_fee_def                                 0
loan_coverage1                                     0
recovery                                           0
dtype: int64

In [157]:
print cash_lists.keys()
z = [ a[(a.payout_quarter=='2014_Q1') & (a.rating_base=='A')] for a in cash_lists['cash_list_expected_date_plan']]

['cash_list_expected_date', 'cash_list_actual_monthly', 'cash_list_expected_date_plan', 'cash_list_actual_date', 'cash_list_expected_monthly']

In [164]:
z[1].fk_loan.unique()

array([12, 13, 14, 15, 22, 23, 27, 29, 59, 64, 72, 73, 74, 81, 84], dtype=int64)

In [168]:
loans_cnt[loans_cnt.fk_loan.isin([28,30,36])].T

,47,66,103
dwh_country_id,1,1,1
fk_loan,28,30,36
fk_loan_request,717,1014,1485
fk_user,1473,562,2564
fk_ranking,88,89,88
country_name,Germany,Germany,Germany
currency_code,EUR,EUR,EUR
loan_request_creation_date,2013-12-16 00:00:00,2013-12-22 00:00:00,2014-01-03 00:00:00
user_age,63,47,35
loan_nr,744637851,122080458,408580097
title,Auto14,Renovierung - Mietwohnung,Umschuldung des Studien- / Projektkredites
purpose,Mein Auto (A6) ist 17 Jahre alt und 245000 km ...,"Mein Eigentum, Mehrparteien Wohnhaus BJ 1972,...",Für mein Diplomprojekt im Jahre 2008 habe ich ...
financial_situation,None,None,None
self_rating,None,None,None
rating,A2,A3,A2
principal_amount,10000,6500,5500
duration,720,720,1080
nominal_interest_percentage,2.75,3.06,2.56
promo_interest_percentage,3,3,3
fee_amount,50,32.5,82.5
interest_amount,307.29,222.46,220.53
total_payback,10307.29,6722.46,5720.53
is_active,active,active,active
category,car,renovation,debt_consolidation
ranking_serialized,"O:45:""Intlend\Base\Web\RankingBundle\Propel\Ra...","O:45:""Intlend\Base\Web\RankingBundle\Propel\Ra...","O:45:""Intlend\Base\Web\RankingBundle\Propel\Ra..."
state,payback,payback,payback
global_state,payout_complete,payout_complete,payout_complete
originating_since,None,None,None
originated_since,2014-01-20 14:35:14,2014-01-20 14:38:39,2014-01-24 12:02:07
due_date,15,15,1
...,...,...,...
eur_fee_amount,50,32.5,82.5
eur_interest_amount,307.29,222.46,220.53
eur_total_payback,10307.29,6722.46,5720.53
created_at,2014-01-07 10:48:30,2014-01-08 10:48:35,2014-01-15 19:29:32
updated_at,2014-01-21 12:00:52,2014-01-21 12:00:50,2014-01-29 13:12:19
dwh_created,2014-06-12 11:07:10.369539,2014-06-12 11:07:10.369539,2014-06-12 11:07:10.369539
dwh_last_modified,2015-03-20 14:59:18.092006,2015-03-20 14:59:18.092006,2015-03-20 14:59:18.092006
credit_agency_score,9903,9827,9928
pd,0.77,1.8,0.77
pd_original,NaN,NaN,NaN
lgd,30,40,30
in_arrears_since,None,None,None
date_of_first_loan_offer,2013-12-16,2013-12-23,2014-01-03
ranking_rating,A2,A3,A2
ranking_pd_start,0.66,0.81,0.66
ranking_pd_end,0.8,0.95,0.8
targeted_yield,0,0,0
payback_day,15,15,1
payout_date,2014-01-21 00:00:00,2014-01-21 00:00:00,2014-01-29 00:00:00
payback_state,payback_complete,payback_complete,payback_complete
auto_in_arrears_since,None,None,None
in_arrears_since_man,None,None,None
rating_base,A,A,A
payout_quarter,2014_Q1,2014_Q1,2014_Q1
payout_date_EOM,2014-02-05 00:00:00,2014-02-05 00:00:00,2014-02-27 00:00:00
dcf,1.191781,1.191781,1.169863
dcf_EOM,1.150685,1.150685,1.090411
base_date,2013-11-01 00:00:00,2013-11-01 00:00:00,2013-11-01 00:00:00
duration_months,24,24,36
base_return,0.01,0.01,0.02

In [210]:
xirrs_all[('dwh_country_id', 'fk_loan')].to_clipboard()

In [180]:
cash_lists.keys()

['cash_list_expected_date',
 'cash_list_actual_monthly',
 'cash_list_expected_date_plan',
 'cash_list_actual_date',
 'cash_list_expected_monthly']

In [187]:
loans_cnt[loans_cnt.fk_loan==1220].T

                                                                          1592
dwh_country_id                                                               1
fk_loan                                                                   1220
fk_loan_request                                                          56064
fk_user                                                                  74338
fk_ranking                                                               24540
country_name                                                           Germany
currency_code                                                              EUR
loan_request_creation_date                                 2015-01-08 00:00:00
user_age                                                                    40
loan_nr                                                               50591883
title                                                                Sonstiges
purpose                      FÃ¼r dieses Kreditprojekt wurde keine Kreditbes...
financial_situation                                                       None
self_rating                                                               None
rating                                                                      C4
principal_amount                                                         25000
duration                                                                  1800
nominal_interest_percentage                                               7.45
promo_interest_percentage                                                    0
fee_amount                                                                 625
interest_amount                                                        5171.26
total_payback                                                         30171.26
is_active                                                               active
category                                                                 other
ranking_serialized           O:45:"Intlend\Base\Web\RankingBundle\Propel\Ra...
state                                                                  payback
global_state                                                   payout_complete
originating_since                                                         None
originated_since                                           2015-03-02 11:59:28
due_date                                                                     1
...                                                                        ...
eur_fee_amount                                                             625
eur_interest_amount                                                    5171.26
eur_total_payback                                                     30171.26
created_at                                                 2015-02-12 16:11:09
updated_at                                                 2015-03-03 11:13:53
dwh_created                                         2015-02-12 16:50:11.828476
dwh_last_modified                                   2015-03-20 14:59:18.092006
credit_agency_score                                                       9098
pd                                                                        5.06
pd_original                                                               6.31
lgd                                                                        100
in_arrears_since                                                          None
date_of_first_loan_offer                                            2015-01-08
ranking_rating                                                              C4
ranking_pd_start                                                          4.81
ranking_pd_end                                                             5.4
targeted_yield                                                               0
payback_day                                                                  1
payout_date                                                2015-03-02 00:00:00
payback_state                                                          payback
auto_in_arrears_since                                                     None
in_arrears_since_man                                                      None
rating_base                                                                  C
payout_quarter                                                         2015_Q1
payout_date_EOM                                            2015-03-31 00:00:00
dcf                                                                 0.08219178
dcf_EOM                                                            0.002739726
base_date                                                  2014-10-22 00:00:00
duration_months                                                             60
base_return                                                            0.03215

[79 rows x 1 columns]

In [191]:
a=set(cash_lists['cash_list_expected_date'][1].fk_loan)
b=set(loans_cnt.fk_loan)
print a -b
loans_cnt.payback_state[loans_cnt.fk_loan.isin([ x for x in (b-a) if x<1220])]

set([])

41      payback_complete
47      payback_complete
66      payback_complete
100     payback_complete
103     payback_complete
113     payback_complete
180     payback_complete
209     payback_complete
220     payback_complete
238     payback_complete
241     payback_complete
353     payback_complete
419     payback_complete
510     payback_complete
517     payback_complete
519     payback_complete
528     payback_complete
550     payback_complete
581     payback_complete
683     payback_complete
706     payback_complete
713     payback_complete
714     payback_complete
716     payback_complete
720     payback_complete
769     payback_complete
781     payback_complete
793     payback_complete
825     payback_complete
836     payback_complete
              ...
902     payback_complete
905     payback_complete
918     payback_complete
927     payback_complete
941     payback_complete
955     payback_complete
956     payback_complete
972     payback_complete
984     payback_complete
989     payback_complete
1020    payback_complete
1037    payback_complete
1054    payback_complete
1094    payback_complete
1111    payback_complete
1115    payback_complete
1133    payback_complete
1135    payback_complete
1145    payback_complete
1151    payback_complete
1152    payback_complete
1158    payback_complete
1167    payback_complete
1168    payback_complete
1198    payback_complete
1216    payback_complete
1221    payback_complete
1373    payback_complete
1400    payback_complete
1439    payback_complete
Name: payback_state, dtype: object

In [240]:
xirrs_all[('payout_quarter', 'rating_base')].to_clipboard()

In [279]:
xirrs[('dwh_country_id', 'fk_loan')][(u'in_arrears', u'lost_principal')].head()

dwh_country_id  fk_loan
1               7          -153.688739
                9         -5155.669114
                10         -712.351378
                11         -457.887201
                12        -4459.738662
Name: (in_arrears, lost_principal), dtype: float64

In [145]:
xirrs_all[('dwh_country_id', 'fk_loan')].index.names=['EOM','dwh_country_id', 'fk_loan']
z1=xirrs_all[('dwh_country_id', 'fk_loan')].reset_index().merge(
    loans_base[['dwh_country_id','fk_loan','fk_ranking', u'ranking_rating', 'rating',  #'rating_base', 
    'duration_months', 'date_of_first_loan_offer', 'payout_date', 
          u'lgd', 'credit_agency_score',u'pd_original',u'pd', u'ranking_pd_start',
                        u'ranking_pd_end', u'targeted_yield',u'base_return',u'in_arrears_since_man', u'auto_in_arrears_since']], 
    on = ['dwh_country_id','fk_loan'], how='left' )
z1.set_index(['dwh_country_id','fk_loan'],inplace=True)

In [140]:
xirrs_all[('dwh_country_id', 'fk_loan')].index.names

FrozenList([None, u'dwh_country_id', u'fk_loan'])

In [117]:
z1.index.levels[0]

Int64Index([1, 32, 128], dtype='int64', name=u'dwh_country_id')

In [219]:
a1[('dwh_country_id', 'fk_loan')] = xirrs[('dwh_country_id', 'fk_loan')].\
        reset_index().\
        merge(loans_base[
            ['dwh_country_id','fk_loan', 'fk_ranking', 
            u'ranking_rating', 'rating',  
            'gblrc_rating', 'gblrc_rating_mapped', 'gblrc_rating_mapped_base', 
            'duration_months', 'date_of_first_loan_offer', 'payout_date', 
          u'lgd', 'credit_agency_score',
          u'pd_original',u'pd', u'ranking_pd_start', u'ranking_pd_end', 
          u'targeted_yield', u'base_return',
          u'in_arrears_since_man', u'auto_in_arrears_since']], 
    on = ['dwh_country_id','fk_loan'], how='left' )

KeyError: "['gblrc_rating' 'gblrc_rating_mapped' 'gblrc_rating_mapped_base'] not in index"

In [146]:
z=loan_fundings[['dwh_country_id', 'fk_loan','eur_amount','investment_yield']].copy()
z['investment_yield_amount'] = z['investment_yield'] * z['eur_amount']
avg_yield=z.groupby(['dwh_country_id', 'fk_loan']).sum()
avg_yield['avg_investment_yield']=avg_yield['investment_yield_amount']/avg_yield['eur_amount']
avg_yield['investment_apr']=np.power(1+avg_yield['avg_investment_yield']/1200,12)-1

z1=z1.join(avg_yield['investment_apr'])

return_fields=['nar','cash_list_actual_monthly','cash_list_actual_date',
    'adj nar','cash_list_expected_monthly','cash_list_expected_date',
    'cash_list_expected_date_plan','base_return','targeted_yield', 'investment_apr']
return_fields_amount=[]

for i,r in enumerate(return_fields):
    return_fields_amount.append(r + '_amount')
    z1[return_fields_amount[i]] = z1[r]*z1['eur_principal_amount']

z1['expected_defaults']=1-np.power(1-z1.pd/100,(datetime.date.today()-z1.payout_date)/np.timedelta64(1,'D')/365)    
z1['is_default']=1*(z1.bucket>=120)
cols_reqd=['EOM',
    'fk_ranking',
    'ranking_rating','rating','rating_base',
    'eur_principal_amount','duration_months',
    'date_of_first_loan_offer','payout_date','payout_quarter','payback_state',
    'nar','cash_list_actual_monthly','cash_list_actual_date',
    'adj nar','cash_list_expected_monthly','cash_list_expected_date',
    'cash_list_expected_date_plan','base_return','targeted_yield','investment_apr',
    'in_arrears_since_man','auto_in_arrears_since','in_arrears_since',
    'in_arrears_since_days','in_arrears_since_days_30360','bucket',
    'bucket_pd','pd_original','lgd','credit_agency_score','pd','ranking_pd_start','ranking_pd_end',
    'expected_defaults', 'is_default',
    '(in_arrears, recovery_principal)','(in_arrears, lost_principal)',
    '(in_arrears, eur_interest_amount_investor)','(initial_principal, eur_initial_principal_amount_investor)',
    '(initial_principal_int0, eur_initial_principal_amount_investor)',
    '(interest_payments, eur_interest_amount_investor_cum)',
    '(interest_payments_exc0, eur_interest_amount_investor_cum_exc0)',
    '(interest_payments_int0, eur_interest_amount_investor)',
    '(payments_repaid, eur_interest_amount_investor)','(payments_repaid, eur_initial_principal_amount_investor)',
    'interest','default_loss','note_status_adjustment','bucket0_lost','bucket30_lost','bucket60_lost','bucket90_lost',
    'monthly_principals','top']+return_fields_amount
z2=z1.loc[:,cols_reqd]

In [147]:
z2.to_clipboard()

In [148]:
actual_payments[(actual_payments.dwh_country_id==32) & (actual_payments.fk_loan==43)]

,dwh_country_id,fk_user_borrower,fk_loan,loan_nr,iso_date,interval,interval_payback_date,eur_payment_amount,eur_payment_amount_cum,eur_principal_amount,...,actual_amount_cum,in_arrears_flag,in_arrears_since,in_arrears_since_days,dcf,payout_date,in_arrears_since_days_30360,bucket,bucket_pd,cum_diff
11234,32,2388,43,439347101,2014-10-31,0,2014-10-01,39.51,39.51,0.0000,...,39.51,0,NaN,NaN,0.416438,2014-09-04,NaN,NaN,NaN,0.00
11235,32,2388,43,439347101,2014-11-30,1,2014-11-01,148.69,188.20,104.7900,...,188.20,0,NaN,NaN,0.334247,2014-09-04,NaN,NaN,NaN,0.00
11236,32,2388,43,439347101,2014-12-31,2,2014-12-01,148.69,336.89,105.5567,...,485.58,0,NaN,NaN,0.249315,2014-09-04,NaN,NaN,NaN,-148.69
11237,32,2388,43,439347101,2015-01-31,3,2015-01-01,148.69,485.58,106.3290,...,634.27,0,NaN,NaN,0.164384,2014-09-04,NaN,NaN,NaN,-148.69
11238,32,2388,43,439347101,2015-02-28,4,2015-02-01,148.69,634.27,107.1070,...,782.96,0,NaN,NaN,0.087671,2014-09-04,NaN,NaN,NaN,-148.69
11239,32,2388,43,439347101,2015-03-31,5,2015-03-01,148.69,782.96,107.8907,...,931.65,0,NaN,NaN,0.002740,2014-09-04,NaN,NaN,NaN,-148.69
11240,32,2388,43,439347101,2015-04-30,6,2015-04-01,148.69,931.65,108.6801,...,1080.34,0,NaN,NaN,-0.079452,2014-09-04,NaN,NaN,NaN,-148.69
11241,32,2388,43,439347101,2015-05-31,8,2015-05-15,5268.10,6348.44,5250.1712,...,6497.13,0,NaN,NaN,-0.164384,2014-09-04,NaN,NaN,NaN,-148.69
11242,32,2388,43,439347101,2015-06-30,8,2015-05-15,5268.10,6348.44,5250.1712,...,6497.13,0,NaN,NaN,-0.246575,2014-09-04,NaN,NaN,NaN,-148.69

In [149]:
payment_plans[(payment_plans.dwh_country_id==32) & (payment_plans.fk_loan==43)]

,dwh_country_id,fk_loan_payment_plan,fk_user,fk_loan_request,fk_loan,country_name,currency_code,loan_request_creation_date,payout_date,interval,...,next_interval_payback_date,eur_payment_amount,eur_interest_amount,eur_principal_amount,eur_initial_principal_amount,eur_sum_interval_interest_amount,eur_residual_interest_amount,eur_residual_principal_amount,dcf,recovery
16178,32,43,2388,1616,43,Austria,EUR,2014-07-30,2014-09-04,8,...,2199-01-01,5268.10,17.9288,5250.1712,5250.1712,348.4377,0.0000,0.0000,-0.120548,0.2613
16179,32,43,2388,1616,43,Austria,EUR,2014-07-30,2014-09-04,7,...,2015-05-15,148.69,39.2147,109.4753,5359.6465,330.5112,17.9265,5250.1712,-0.082192,0.2613
16180,32,43,2388,1616,43,Austria,EUR,2014-07-30,2014-09-04,6,...,2015-05-01,148.69,40.0099,108.6801,5468.3266,291.2965,57.1412,5359.6465,0.000000,0.2613
16181,32,43,2388,1616,43,Austria,EUR,2014-07-30,2014-09-04,5,...,2015-04-01,148.69,40.7993,107.8907,5576.2172,251.2866,97.1511,5468.3266,0.084932,0.2613
16182,32,43,2388,1616,43,Austria,EUR,2014-07-30,2014-09-04,4,...,2015-03-01,148.69,41.5830,107.1070,5683.3243,210.4872,137.9505,5576.2172,0.161644,0.2613
16183,32,43,2388,1616,43,Austria,EUR,2014-07-30,2014-09-04,3,...,2015-02-01,148.69,42.3610,106.3290,5789.6533,168.9043,179.5334,5683.3243,0.246575,0.2613
16184,32,43,2388,1616,43,Austria,EUR,2014-07-30,2014-09-04,2,...,2015-01-01,148.69,43.1333,105.5567,5895.2100,126.5433,221.8944,5789.6533,0.331507,0.2613
16185,32,43,2388,1616,43,Austria,EUR,2014-07-30,2014-09-04,1,...,2014-12-01,148.69,43.9000,104.7900,6000.0000,83.4100,265.0277,5895.2100,0.413699,0.2613
16186,32,43,2388,1616,43,Austria,EUR,2014-07-30,2014-09-04,0,...,2014-11-01,39.51,39.5100,0.0000,6000.0000,39.5100,308.9277,6000.0000,0.498630,0.2613

In [121]:
z2.reset_index().dwh_country_id.unique()

array([  1,  32, 128], dtype=int64)

In [295]:
z1[[('in_arrears', 'eur_interest_amount_investor'),('initial_principal_int0', 'eur_initial_principal_amount_investor')]].head()

                        (in_arrears, eur_interest_amount_investor)  \
dwh_country_id fk_loan
1              7                                            1.5924
               9                                           18.5707
               10                                          12.2218
               11                                           6.3542
               12                                          27.9884

                        (initial_principal_int0, eur_initial_principal_amount_investor)
dwh_country_id fk_loan
1              7                                                      950
               9                                                     9325
               10                                                    4850
               11                                                     NaN
               12                                                    7950

In [302]:
cols_reqd[35]

'is_default'

In [300]:
cols_reqd

['dwh_country_id',
 'fk_loan',
 'fk_ranking',
 'ranking_rating',
 'rating',
 'rating_base',
 'eur_principal_amount',
 ' duration_months',
 'date_of_first_loan_offer',
 'payout_date',
 'payout_quarter',
 'nar',
 'cash_list_actual_monthly',
 'cash_list_actual_date',
 'adj nar',
 'cash_list_expected_monthly',
 'cash_list_expected_date',
 'cash_list_expected_date_plan',
 'base_return',
 'targeted_yield',
 'investment_apr',
 'in_arrears_since_man',
 'auto_in_arrears_since',
 'in_arrears_since',
 'in_arrears_since_days',
 'in_arrears_since_days_30360',
 'bucket',
 'bucket_pd',
 'pd_original',
 'lgd',
 'credit_agency_score',
 'pd',
 'ranking_pd_start',
 'ranking_pd_end',
 'expected_defaults',
 'is_default',
 ('in_arrears', 'recovery_principal'),
 ('in_arrears', 'lost_principal'),
 ('in_arrears', 'eur_interest_amount_investor'),
 ('initial_principal', 'eur_initial_principal_amount_investor'),
 ('initial_principal_int0', 'eur_initial_principal_amount_investor'),
 ('interest_payments', 'eur_interest_amount_investor_cum'),
 ('interest_payments_exc0', 'eur_interest_amount_investor_cum_exc0'),
 ('interest_payments_int0', 'eur_interest_amount_investor'),
 ('payments_repaid', 'eur_interest_amount_investor'),
 ('payments_repaid', 'eur_initial_principal_amount_investor'),
 'interest',
 'default_loss',
 'note_status_adjustment',
 'bucket0_lost',
 'bucket30_lost',
 'bucket60_lost',
 'bucket90_lost',
 'monthly_principals',
 'top',
 'nar_amount',
 'cash_list_actual_monthly_amount',
 'cash_list_actual_date_amount',
 'adj nar_amount',
 'cash_list_expected_monthly_amount',
 'cash_list_expected_date_amount',
 'cash_list_expected_date_plan_amount',
 'base_return_amount',
 'targeted_yield_amount',
 'investment_apr_amount']

In [305]:
cols_reqd[35:37]

['is_default', ('in_arrears', 'recovery_principal')]

In [314]:
nars1=nars.copy()
nars1.rename(columns=tuple_names, inplace=True)

In [316]:
nars1.head()

                        (in_arrears, recovery_principal)  \
dwh_country_id fk_loan
1              7                              213.460661
               9                             1823.712386
               10                             989.395822
               11                             635.966599
               12                            1577.541238

                        (in_arrears, lost_principal)  \
dwh_country_id fk_loan
1              7                         -153.688739
               9                        -5155.669114
               10                        -712.351378
               11                        -457.887201
               12                       -4459.738662

                        (in_arrears, eur_interest_amount_investor)  \
dwh_country_id fk_loan
1              7                                            1.5924
               9                                           18.5707
               10                                          12.2218
               11                                           6.3542
               12                                          27.9884

                        (initial_principal, eur_initial_principal_amount_investor)  \
dwh_country_id fk_loan
1              7                                               12112.5201
               9                                              141062.5346
               10                                              59452.6702
               11                                              38354.4934
               12                                             120988.8110

                        (initial_principal_int0, eur_initial_principal_amount_investor)  \
dwh_country_id fk_loan
1              7                                                      950
               9                                                     9325
               10                                                    4850
               11                                                     NaN
               12                                                    7950

                        (interest_payments, eur_interest_amount_investor_cum)  \
dwh_country_id fk_loan
1              7                                                  39.9488
               9                                                 343.1808
               10                                                348.5479
               11                                                182.2528
               12                                                513.5211

                        (interest_payments_exc0, eur_interest_amount_investor_cum_exc0)  \
dwh_country_id fk_loan
1              7                                                  39.9488
               9                                                 343.1808
               10                                                348.5479
               11                                                182.2528
               12                                                513.5211

                        (interest_payments_int0, eur_interest_amount_investor)  \
dwh_country_id fk_loan
1              7                                                      NaN
               9                                                      NaN
               10                                                     NaN
               11                                                     NaN
               12                                                     NaN

                        (payments_repaid, eur_interest_amount_investor)  \
dwh_country_id fk_loan
1              7                                                    NaN
               9                                                    NaN
               10                                                   NaN
               11                                                   NaN
               12                                                   NaN

                        (payments_repaid, eur_initial_principal_amount_investor)  \
dwh_country_id fk_loan
1              7                                                      NaN
               9                                                      NaN
               10                                                     NaN
               11                                                     NaN
               12                                                     NaN

                                ...          bucket60_lost  bucket90_lost  \
dwh_country_id fk_loan          ...
1              7                ...                     -0             -0
               9                ...                     -0             -0
               10               ...                     -0             -0
               11               ...                     -0             -0
               12               ...                     -0             -0

                        monthly_principals       top       nar   adj nar  \
dwh_country_id fk_loan
1              7                11162.5201   39.9488  0.043801  0.015966
               9               131737.5346  343.1808  0.031712  0.031712
               10               54602.6702  348.5479  0.079348  0.079348
               11               38354.4934  182.2528  0.058536  0.058536
               12              113038.8110  513.5211  0.055897  0.055897

                        payout_quarter  rating_base  payback_state  \
dwh_country_id fk_loan
1              7               2014_Q1            C        payback
               9               2014_Q1            B        payback
               10              2014_Q1            C        payback
               11              2014_Q1            B        payback
               12              2014_Q1            A        payback

                        eur_principal_amount
dwh_country_id fk_loan
1              7                        1000
               9                       10000
               10                       5000
               11                       4000
               12                       8000

[5 rows x 30 columns]

In [313]:
tuple_names={nam: str(nam).replace("'","") for nam in nars.columns if isinstance(nam, tuple )}

In [306]:
z1.loc[:,cols_reqd[36:38]]

                        (in_arrears, recovery_principal)  \
dwh_country_id fk_loan
1              7                              213.460661
               9                             1823.712386
               10                             989.395822
               11                             635.966599
               12                            1577.541238
               13                            1379.942667
               14                             777.366917
               15                            1587.383920
               16                            1156.585822
               17                             430.569549
               18                            1511.913142
               19                                    NaN
               20                            1037.176339
               21                            2593.482434
               22                             402.748571
               23                            1505.763906
               24                            1969.384185
               26                            1088.903420
               27                               0.000000
               28                                    NaN
               29                             585.247880
               30                                    NaN
               31                             435.841568
               32                             906.640916
               33                             104.698861
               34                            1674.573843
               35                            1270.936156
               36                                    NaN
               37                                    NaN
               38                             274.822896
...                                                  ...
               1280                          5584.734720
               1281                          6036.061278
               1282                          4544.645408
               1283                          3395.114067
               1284                          5927.633014
               1285                          5569.662857
               1286                          4968.668938
               1287                          5945.545416
               1288                          6232.693865
               1289                           829.123435
               1290                          1523.501897
               1292                          6185.385239
               1293                          3530.453618
               1294                          6291.152372
               1295                          2694.440338
               1296                          1519.864985
               1297                           219.470477
               1298                          1085.558917
               1301                          1509.612645
               1304                          2962.331630
               1306                          6338.849028
               1309                          1080.450990
               1312                          1984.610187
               1313                          2154.719214
               1315                          1617.250845
               1321                          2817.395446
               1332                          2009.420151
               1348                          1583.181851
               1363                          6285.347723
               1366                          6290.093401

                        (in_arrears, lost_principal)
dwh_country_id fk_loan
1              7                         -153.688739
               9                        -5155.669114
               10                        -712.351378
               11                        -457.887201
               12                       -4459.738662
               13                        -993.539733
               14                        -559.693483
               15                       -1142.894580
               16                        -832.725878
               17                        -310.004151
               18                       -1088.556658
               19                                NaN
               20                       -2932.116961
               21                       -1867.271666
               22                        -289.973429
               23                       -1084.129294
               24                       -1417.929515
               26                        -783.995480
               27                           0.000000
               28                                NaN
               29                        -421.370420
               30                                NaN
               31                        -313.799932
               32                        -652.768984
               33                         -75.381739
               34                       -4734.051657
               35                        -915.056544
               36                                NaN
               37                                NaN
               38                        -197.868704
...                                              ...
               1280                    -15788.149780
               1281                    -17064.058422
               1282                    -12847.797792
               1283                     -9598.051133
               1284                    -16757.529686
               1285                    -15745.541343
               1286                    -14046.520262
               1287                    -16808.168384
               1288                    -17619.942435
               1289                      -596.957465
               1290                     -1096.900403
               1292                    -17486.200061
               1293                     -9980.658582
               1294                    -17785.205728
               1295                     -7617.233362
               1296                     -4296.686815
               1297                      -158.015723
               1298                      -781.587483
               1301                     -4267.703255
               1304                     -8374.567070
               1306                    -17920.045072
               1309                     -3054.455210
               1312                     -5610.530213
               1313                     -1551.368186
               1315                     -1164.398355
               1321                     -2028.485954
               1332                     -5680.668449
               1348                     -1139.869149
               1363                    -17768.795877
               1366                    -17782.211999

[1252 rows x 2 columns]

In [284]:
z1['expected_defaults'].head()

dwh_country_id  fk_loan
1               7          0.074880
                9          0.041469
                10         0.072635
                11         0.054885
                12         0.025982
Name: expected_defaults, dtype: float64

In [273]:
nars.head()

                        (in_arrears, recovery_principal)  \
dwh_country_id fk_loan
1              7                              213.460661
               9                             1823.712386
               10                             989.395822
               11                             635.966599
               12                            1577.541238

                        (in_arrears, lost_principal)  \
dwh_country_id fk_loan
1              7                         -153.688739
               9                        -5155.669114
               10                        -712.351378
               11                        -457.887201
               12                       -4459.738662

                        (in_arrears, eur_interest_amount_investor)  \
dwh_country_id fk_loan
1              7                                            1.5924
               9                                           18.5707
               10                                          12.2218
               11                                           6.3542
               12                                          27.9884

                        (initial_principal, eur_initial_principal_amount_investor)  \
dwh_country_id fk_loan
1              7                                               12112.5201
               9                                              141062.5346
               10                                              59452.6702
               11                                              38354.4934
               12                                             120988.8110

                        (initial_principal_int0, eur_initial_principal_amount_investor)  \
dwh_country_id fk_loan
1              7                                                      950
               9                                                     9325
               10                                                    4850
               11                                                     NaN
               12                                                    7950

                        (interest_payments, eur_interest_amount_investor_cum)  \
dwh_country_id fk_loan
1              7                                                  39.9488
               9                                                 343.1808
               10                                                348.5479
               11                                                182.2528
               12                                                513.5211

                        (interest_payments_exc0, eur_interest_amount_investor_cum_exc0)  \
dwh_country_id fk_loan
1              7                                                  39.9488
               9                                                 343.1808
               10                                                348.5479
               11                                                182.2528
               12                                                513.5211

                        (interest_payments_int0, eur_interest_amount_investor)  \
dwh_country_id fk_loan
1              7                                                      NaN
               9                                                      NaN
               10                                                     NaN
               11                                                     NaN
               12                                                     NaN

                        (payments_repaid, eur_interest_amount_investor)  \
dwh_country_id fk_loan
1              7                                                    NaN
               9                                                    NaN
               10                                                   NaN
               11                                                   NaN
               12                                                   NaN

                        (payments_repaid, eur_initial_principal_amount_investor)  \
dwh_country_id fk_loan
1              7                                                      NaN
               9                                                      NaN
               10                                                     NaN
               11                                                     NaN
               12                                                     NaN

                                ...          bucket60_lost  bucket90_lost  \
dwh_country_id fk_loan          ...
1              7                ...                     -0             -0
               9                ...                     -0             -0
               10               ...                     -0             -0
               11               ...                     -0             -0
               12               ...                     -0             -0

                        monthly_principals       top       nar   adj nar  \
dwh_country_id fk_loan
1              7                11162.5201   39.9488  0.043801  0.015966
               9               131737.5346  343.1808  0.031712  0.031712
               10               54602.6702  348.5479  0.079348  0.079348
               11               38354.4934  182.2528  0.058536  0.058536
               12              113038.8110  513.5211  0.055897  0.055897

                        payout_quarter  rating_base  payback_state  \
dwh_country_id fk_loan
1              7               2014_Q1            C        payback
               9               2014_Q1            B        payback
               10              2014_Q1            C        payback
               11              2014_Q1            B        payback
               12              2014_Q1            A        payback

                        eur_principal_amount
dwh_country_id fk_loan
1              7                        1000
               9                       10000
               10                       5000
               11                       4000
               12                       8000

[5 rows x 30 columns]

In [269]:
z2.to_clipboard()

In [268]:
z2.head()

                        dwh_country_id  fk_loan  fk_ranking ranking_rating  \
dwh_country_id fk_loan
1              7                   NaN      NaN          98             C2
               9                   NaN      NaN          93             B2
               10                  NaN      NaN          98             C2
               11                  NaN      NaN          94             B3
               12                  NaN      NaN          89             A3

                       rating rating_base  eur_principal_amount  \
dwh_country_id fk_loan
1              7           C2           C                  1000
               9           B2           B                 10000
               10          C2           C                  5000
               11          B3           B                  4000
               12          A3           A                  8000

                         duration_months date_of_first_loan_offer payout_date  \
dwh_country_id fk_loan
1              7                     NaN               2013-12-04  2013-12-27
               9                     NaN               2013-12-01  2014-01-13
               10                    NaN               2013-12-08  2014-01-13
               11                    NaN               2013-12-04  2014-01-13
               12                    NaN               2013-12-03  2014-01-13

                                ...            nar_amount  \
dwh_country_id fk_loan          ...
1              7                ...             43.801498
               9                ...            317.122135
               10               ...            396.737763
               11               ...            234.142743
               12               ...            447.179341

                        cash_list_actual_monthly_amount  \
dwh_country_id fk_loan
1              7                              -0.146789
               9                             316.081655
               10                            394.720149
               11                            254.566256
               12                            445.681362

                        cash_list_actual_date_amount  adj nar_amount  \
dwh_country_id fk_loan
1              7                           41.832320       15.965672
               9                          300.008326      317.122135
               10                         382.177375      396.737763
               11                         246.052906      234.142743
               12                         422.944070      447.179341

                        cash_list_expected_monthly_amount  \
dwh_country_id fk_loan
1              7                                35.237603
               9                               222.305767
               10                              386.173854
               11                              249.780652
               12                              407.229302

                        cash_list_expected_date_amount  \
dwh_country_id fk_loan
1              7                             34.263375
               9                            147.235537
               10                           164.775640
               11                            75.189516
               12                           340.446348

                        cash_list_expected_date_plan_amount  \
dwh_country_id fk_loan
1              7                                  24.777132
               9                                 116.302230
               10                                277.446638
               11                                184.442309
               12                                348.612847

                        base_return_amount  targeted_yield_amount  \
dwh_country_id fk_loan
1              7                        20                      0
               9                       200                      0
               10                      100                      0
               11                       80                      0
               12                      160                      0

                        investment_apr_amount
dwh_country_id fk_loan
1              7                    47.956583
               9                   317.149282
               10                  398.111433
               11                  255.700007
               12                  447.132960

[5 rows x 62 columns]

In [252]:
cols_reqd

['dwh_country_id',
 'fk_loan',
 'fk_ranking',
 'ranking_rating',
 'rating',
 'rating_base_y',
 'eur_principal_amount',
 ' duration_months',
 'date_of_first_loan_offer',
 'payout_date',
 'payout_quarter',
 'nar',
 'cash_list_actual_monthly',
 'cash_list_actual_date',
 'adj nar',
 'cash_list_expected_monthly',
 'cash_list_expected_date',
 'cash_list_expected_date_plan',
 'base_return',
 'targeted_yield',
 'in_arrears_since_man',
 'auto_in_arrears_since',
 'in_arrears_since',
 'in_arrears_since_days',
 'in_arrears_since_days_30360',
 'bucket',
 'bucket_pd',
 'pd_original',
 'lgd',
 'credit_agency_score',
 'pd',
 'ranking_pd_start',
 'ranking_pd_end',
 ('in_arrears', 'recovery_principal'),
 ('in_arrears', 'lost_principal'),
 ('in_arrears', 'eur_interest_amount_investor'),
 ('initial_principal', 'eur_initial_principal_amount_investor'),
 ('initial_principal_int0', 'eur_initial_principal_amount_investor'),
 ('interest_payments', 'eur_interest_amount_investor_cum'),
 ('interest_payments_exc0', 'eur_interest_amount_investor_cum_exc0'),
 ('interest_payments_int0', 'eur_interest_amount_investor'),
 ('payments_repaid', 'eur_interest_amount_investor'),
 ('payments_repaid', 'eur_initial_principal_amount_investor'),
 'interest',
 'default_loss',
 'note_status_adjustment',
 'bucket0_lost',
 'bucket30_lost',
 'bucket60_lost',
 'bucket90_lost',
 'monthly_principals',
 'top',
 'nar_amount',
 'cash_list_actual_monthly_amount',
 'cash_list_actual_date_amount',
 'adj nar_amount',
 'cash_list_expected_monthly_amount',
 'cash_list_expected_date_amount',
 'cash_list_expected_date_plan_amount',
 'base_return_amount',
 'targeted_yield_amount',
 'investment_apr_amount']

In [245]:
avg_yield

                        eur_amount  investment_yield  investment_yield_amount  \
dwh_country_id fk_loan
1              3              3825           93.7753               17978.2625
               4              4100           46.2911                6157.6325
               6              3000           45.4358               22739.7225
               7              1000           46.8457                4693.3700
               8              5950          167.1169               23230.7700
               9             10000           81.2872               31263.0500
               10             5000          191.7306               38428.1600
               11             4000          161.5044               24850.0650
               12             8000           48.3731               43607.1800
               13             7000           18.9965               33344.3350
               14             3500           24.7650                6211.7600
               15             5000          129.1575               25912.0650
               16             3000          125.4057               19805.8500
               17             2000           99.3872               12426.5350
               18             5000          139.2318               24051.3725
               19             3000           21.5282               32409.7100
               20             8000          536.7467              110133.6075
               21             6000           72.8983               36684.5600
               22             1400           56.8807                7251.3150
               23             5000          129.2618               25908.9650
               24             5000          252.1242               70166.8450
               26             5000          206.9514               38325.5050
               27             5000          111.1900               25342.7250
               28            10000          180.1280               47382.5125
               29             3000          101.1216               15199.2400
               30             6500          187.0061               32938.9575
               31             1800          171.5533               14047.7200
               32             5000          273.3153               31064.0700
               33             2000          200.5698               21123.8050
               34             8000           83.9865              112361.5600
...                            ...               ...                      ...
128            99             5500            5.1711               28441.0500
               100            5000          288.6499               54368.8025
               101           12000            4.2359               50830.8000
               102            6000            7.8267               46960.2000
               103            3500            4.7927               16774.4500
               104            1500            3.2442                4866.3000
               105            5000          118.9387               21044.9850
               106            3000          178.4125               29820.0750
               107           16600            5.1743               85893.3800
               108            7000            6.6791               46753.7000
               109            4000            3.1496               12598.4000
               110            5000            4.7914               23957.0000
               111            4500          214.0815               40760.3250
               112            3500            4.0367               14128.4500
               113            5000            7.7473               38736.5000
               114            4000           94.5156               18252.7300
               115            7500          356.8435               81954.1300
               116            4500            3.6347               16356.1500
               117            5500            4.0556               22305.8000
               118            2100            4.5198                9491.5800
               119           15000            3.4007               51010.5000
               120            2500            6.3751               15937.7500
               122            8000            6.6806               53444.8000
               123            5000            7.7473               38736.5000
               124            2000            4.8486                9697.2000
               125            8500            5.5216               46933.6000
               129            2500            5.1310               12827.5000
               130            2500            4.3075               10768.7500
               131           20000            8.9867              179734.0000
               132            2500            3.1443                7860.7500

                        avg_investment_yield  investment_apr
dwh_country_id fk_loan
1              3                    4.700199        0.048028
               4                    1.501862        0.015122
               6                    7.579908        0.078489
               7                    4.693370        0.047957
               8                    3.904331        0.039750
               9                    3.126305        0.031715
               10                   7.685632        0.079622
               11                   6.212516        0.063925
               12                   5.450897        0.055892
               13                   4.763476        0.048689
               14                   1.774789        0.017893
               15                   5.182413        0.053073
               16                   6.601950        0.068054
               17                   6.213267        0.063933
               18                   4.810274        0.049178
               19                  10.803237        0.113545
               20                  13.766701        0.146694
               21                   6.114093        0.062884
               22                   5.179511        0.053043
               23                   5.181793        0.053066
               24                  14.033369        0.149721
               26                   7.665101        0.079402
               27                   5.068545        0.051880
               28                   4.738251        0.048425
               29                   5.066413        0.051857
               30                   5.067532        0.051869
               31                   7.804289        0.080896
               32                   6.212814        0.063928
               33                  10.561903        0.110885
               34                  14.045195        0.149856
...                                      ...             ...
128            99                   5.171100        0.052954
               100                 10.873760        0.114324
               101                  4.235900        0.043191
               102                  7.826700        0.081137
               103                  4.792700        0.048994
               104                  3.244200        0.032929
               105                  4.208997        0.042912
               106                  9.940025        0.104056
               107                  5.174300        0.052988
               108                  6.679100        0.068874
               109                  3.149600        0.031955
               110                  4.791400        0.048980
               111                  9.057850        0.094435
               112                  4.036700        0.041122
               113                  7.747300        0.080284
               114                  4.563183        0.046598
               115                 10.927217        0.114914
               116                  3.634700        0.036959
               117                  4.055600        0.041318
               118                  4.519800        0.046146
               119                  3.400700        0.034542
               120                  6.375100        0.065647
               122                  6.680600        0.068890
               123                  7.747300        0.080284
               124                  4.848600        0.049578
               125                  5.521600        0.056635
               129                  5.131000        0.052534
               130                  4.307500        0.043936
               131                  8.986700        0.093663
               132                  3.144300        0.031900

[2811 rows x 5 columns]

In [253]:
z1.head()

                        cash_list_actual_date  cash_list_actual_monthly  \
dwh_country_id fk_loan
1              7                     0.041832                 -0.000147
               9                     0.030001                  0.031608
               10                    0.076435                  0.078944
               11                    0.061513                  0.063642
               12                    0.052868                  0.055710

                        cash_list_expected_date  cash_list_expected_date_plan  \
dwh_country_id fk_loan
1              7                       0.034263                      0.024777
               9                       0.014724                      0.011630
               10                      0.032955                      0.055489
               11                      0.018797                      0.046111
               12                      0.042556                      0.043577

                        cash_list_expected_monthly in_arrears_since  \
dwh_country_id fk_loan
1              7                          0.035238       2015-05-01
               9                          0.022231             None
               10                         0.077235             None
               11                         0.062445             None
               12                         0.050904             None

                        in_arrears_since_days  in_arrears_since_days_30360  \
dwh_country_id fk_loan
1              7                           30                           30
               9                          NaN                          NaN
               10                         NaN                          NaN
               11                         NaN                          NaN
               12                         NaN                          NaN

                        bucket  bucket_pd          ...            nar_amount  \
dwh_country_id fk_loan                             ...
1              7            30      0.164          ...             43.801498
               9           NaN        NaN          ...            317.122135
               10          NaN        NaN          ...            396.737763
               11          NaN        NaN          ...            234.142743
               12          NaN        NaN          ...            447.179341

                        cash_list_actual_monthly_amount  \
dwh_country_id fk_loan
1              7                              -0.146789
               9                             316.081655
               10                            394.720149
               11                            254.566256
               12                            445.681362

                        cash_list_actual_date_amount  adj nar_amount  \
dwh_country_id fk_loan
1              7                           41.832320       15.965672
               9                          300.008326      317.122135
               10                         382.177375      396.737763
               11                         246.052906      234.142743
               12                         422.944070      447.179341

                        cash_list_expected_monthly_amount  \
dwh_country_id fk_loan
1              7                                35.237603
               9                               222.305767
               10                              386.173854
               11                              249.780652
               12                              407.229302

                        cash_list_expected_date_amount  \
dwh_country_id fk_loan
1              7                             34.263375
               9                            147.235537
               10                           164.775640
               11                            75.189516
               12                           340.446348

                        cash_list_expected_date_plan_amount  \
dwh_country_id fk_loan
1              7                                  24.777132
               9                                 116.302230
               10                                277.446638
               11                                184.442309
               12                                348.612847

                        base_return_amount  targeted_yield_amount  \
dwh_country_id fk_loan
1              7                        20                      0
               9                       200                      0
               10                      100                      0
               11                       80                      0
               12                      160                      0

                        investment_apr_amount
dwh_country_id fk_loan
1              7                    47.956583
               9                   317.149282
               10                  398.111433
               11                  255.700007
               12                  447.132960

[5 rows x 61 columns]

In [246]:
z1.head()

,cash_list_actual_date,cash_list_actual_monthly,cash_list_expected_date,cash_list_expected_date_plan,cash_list_expected_monthly,in_arrears_since,in_arrears_since_days,in_arrears_since_days_30360,bucket,bucket_pd,...,lgd,credit_agency_score,pd_original,pd,ranking_pd_start,ranking_pd_end,targeted_yield,base_return,in_arrears_since_man,auto_in_arrears_since
22,0.041832,-0.000147,0.034263,0.024777,0.035238,2015-05-01,30,30,30,0.164,...,95,9481,NaN,5.07,3.61,4.20,0,0.02,None,None
13,0.030001,0.031608,0.014724,0.011630,0.022231,None,NaN,NaN,NaN,NaN,...,50,9749,NaN,2.88,1.61,1.95,0,0.02,None,None
28,0.076435,0.078944,0.032955,0.055489,0.077235,None,NaN,NaN,NaN,NaN,...,95,9525,NaN,5.07,3.61,4.20,0,0.02,None,None
23,0.061513,0.063642,0.018797,0.046111,0.062445,None,NaN,NaN,NaN,NaN,...,80,9648,NaN,3.82,1.96,2.30,0,0.02,None,None
20,0.052868,0.055710,0.042556,0.043577,0.050904,None,NaN,NaN,NaN,NaN,...,40,0,NaN,1.80,0.81,0.95,0,0.02,None,None

In [219]:
z1.to_clipboard()

In [ ]:
return_fields=['nar','cash_list_actual_monthly','cash_list_actual_date',
    'adj nar','cash_list_expected_monthly','cash_list_expected_date',
    'cash_list_expected_date_plan','base_return','targeted_yield', 'investment_apr']

In [179]:
loans_cnt['dwh_country_id', 'fk_ranking', 'rating', 'rating_base', 'duration_months', 'date_of_first_loan_offer', 'pd', 
          'credit_agency_score',u'pd',u'pd_original',u'lgd',  u'ranking_rating',  u'ranking_pd_start',
                        u'ranking_pd_end', u'targeted_yield','payout_date',u'in_arrears_since_man', u'auto_in_arrears_since']

Index([                 u'dwh_country_id',                         u'fk_loan',
                       u'fk_loan_request',                         u'fk_user',
                            u'fk_ranking',                    u'country_name',
                         u'currency_code',      u'loan_request_creation_date',
                              u'user_age',                         u'loan_nr',
                                 u'title',                         u'purpose',
                   u'financial_situation',                     u'self_rating',
                                u'rating',                u'principal_amount',
                              u'duration',     u'nominal_interest_percentage',
             u'promo_interest_percentage',                      u'fee_amount',
                       u'interest_amount',                   u'total_payback',
                             u'is_active',                        u'category',
                    u'ranking_serialized',                           u'state',
                          u'global_state',               u'originating_since',
                      u'originated_since',                        u'due_date',
                         u'funded_amount',                      u'ip_address',
                            u'live_since',               u'ranking_parameter',
                        u'acc_account_id',               u'date_of_signature',
                     u'date_of_agreement',          u'date_of_identification',
                          u'borrower_fee',                      u'lender_fee',
                    u'data_accessible_by',                  u'date_of_payout',
          u'date_of_origination_complete',     u'interest_calculation_method',
       u'initial_interest_split_strategy',   u'effective_interest_percentage',
                         u'cancel_reason',           u'cancel_reason_comment',
                  u'eur_principal_amount',                  u'eur_fee_amount',
                   u'eur_interest_amount',               u'eur_total_payback',
                            u'created_at',                      u'updated_at',
                           u'dwh_created',               u'dwh_last_modified',
                   u'credit_agency_score',                              u'pd',
                           u'pd_original',                             u'lgd',
                      u'in_arrears_since',        u'date_of_first_loan_offer',
                        u'ranking_rating',                u'ranking_pd_start',
                        u'ranking_pd_end',                  u'targeted_yield',
                           u'payback_day',                     u'payout_date',
                         u'payback_state',           u'auto_in_arrears_since',
                  u'in_arrears_since_man',                     u'rating_base',
                        u'payout_quarter',                 u'payout_date_EOM',
                                   u'dcf',                         u'dcf_EOM',
                             u'base_date',                 u'duration_months',
                           u'base_return'],
      dtype='object')

In [174]:
xirrs_all['rating_base'].to_clipboard()

In [180]:
select(actual_payments_date,{'dwh_country_id':32, 'fk_loan':43,'interval':7}).to_clipboard()

NameError: name 'actual_payments_date' is not defined

In [182]:
select(loans,{'dwh_country_id':32, 'fk_loan':43}).payback_state

105    payback_received
Name: payback_state, dtype: object

In [170]:
def select(tbl,crit):
    ind=True
    for key,value in crit.iteritems():
        ind &= tbl[key]==value
    return tbl[ind]

In [176]:
select(act_pay_date_base,{'dwh_country_id':32, 'fk_loan':43,'interval':7}).T

,324755,324756,324757,324758,324759,324760,324761,324762,324763,324764,...,324769,324770,324771,324772,324773,324774,324775,324776,324777,324778
dwh_country_id,32,32,32,32,32,32,32,32,32,32,...,32,32,32,32,32,32,32,32,32,32
fk_user_borrower,2388,2388,2388,2388,2388,2388,2388,2388,2388,2388,...,2388,2388,2388,2388,2388,2388,2388,2388,2388,2388
fk_user_investor,656,828,690,867,665,1303,1361,628,2483,573,...,2483,573,690,1303,665,867,3234,731,628,1361
fk_loan,43,43,43,43,43,43,43,43,43,43,...,43,43,43,43,43,43,43,43,43,43
loan_request_nr,439347101,439347101,439347101,439347101,439347101,439347101,439347101,439347101,439347101,439347101,...,439347101,439347101,439347101,439347101,439347101,439347101,439347101,439347101,439347101,439347101
iso_date,2015-05-04,2015-05-04,2015-05-04,2015-05-04,2015-05-04,2015-05-04,2015-05-04,2015-05-04,2015-05-04,2015-05-04,...,2015-05-14,2015-05-14,2015-05-14,2015-05-14,2015-05-14,2015-05-14,2015-05-14,2015-05-14,2015-05-14,2015-05-14
interval,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
interval_payback_date,2015-05-01,2015-05-01,2015-05-01,2015-05-01,2015-05-01,2015-05-01,2015-05-01,2015-05-01,2015-05-01,2015-05-01,...,2015-05-01,2015-05-01,2015-05-01,2015-05-01,2015-05-01,2015-05-01,2015-05-01,2015-05-01,2015-05-01,2015-05-01
next_interval_payback_date,2015-05-15,2015-05-15,2015-05-15,2015-05-15,2015-05-15,2015-05-15,2015-05-15,2015-05-15,2015-05-15,2015-05-15,...,2015-05-15,2015-05-15,2015-05-15,2015-05-15,2015-05-15,2015-05-15,2015-05-15,2015-05-15,2015-05-15,2015-05-15
loan_coverage,1.666667,1.666667,5,0.416667,1.666667,1.666667,65.41667,5,0.833333,14.58333,...,0.833333,14.58333,5,1.666667,1.666667,0.416667,1.666667,0.416667,5,65.41667
eur_payment_amount_borrower,148.69,148.69,148.69,148.69,148.69,148.69,148.69,148.69,148.69,148.69,...,148.69,148.69,148.69,148.69,148.69,148.69,148.69,148.69,148.69,148.69
eur_principal_amount_borrower,109.4753,109.4753,109.4753,109.4753,109.4753,109.4753,109.4753,109.4753,109.4753,109.4753,...,109.4753,109.4753,109.4753,109.4753,109.4753,109.4753,109.4753,109.4753,109.4753,109.4753
eur_interest_amount_borrower,39.2147,39.2147,39.2147,39.2147,39.2147,39.2147,39.2147,39.2147,39.2147,39.2147,...,39.2147,39.2147,39.2147,39.2147,39.2147,39.2147,39.2147,39.2147,39.2147,39.2147
eur_initial_principal_amount_borrower,5359.646,5359.646,5359.646,5359.646,5359.646,5359.646,5359.646,5359.646,5359.646,5359.646,...,5359.646,5359.646,5359.646,5359.646,5359.646,5359.646,5359.646,5359.646,5359.646,5359.646
eur_sum_interval_interest_amount_borrower,330.5112,330.5112,330.5112,330.5112,330.5112,330.5112,330.5112,330.5112,330.5112,330.5112,...,330.5112,330.5112,330.5112,330.5112,330.5112,330.5112,330.5112,330.5112,330.5112,330.5112
eur_residual_interest_amount_borrower,17.9265,17.9265,17.9265,17.9265,17.9265,17.9265,17.9265,17.9265,17.9265,17.9265,...,17.9265,17.9265,17.9265,17.9265,17.9265,17.9265,17.9265,17.9265,17.9265,17.9265
eur_residual_principal_amount_borrower,5250.171,5250.171,5250.171,5250.171,5250.171,5250.171,5250.171,5250.171,5250.171,5250.171,...,5250.171,5250.171,5250.171,5250.171,5250.171,5250.171,5250.171,5250.171,5250.171,5250.171
calc_service_fee,0.024782,0.024782,0.074345,0.006195,0.024782,0.024782,0.97268,0.074345,0.012391,0.21684,...,0.012391,0.21684,0.074345,0.024782,0.024782,0.006195,0.024782,0.006195,0.074345,0.97268
eur_payment_amount_investor,2.45,2.45,7.36,0.61,2.45,2.45,96.29,7.36,1.22,21.46,...,1.22,21.46,7.36,2.45,2.45,0.61,2.45,0.61,7.36,96.29
eur_payment_amount_investor_cum,17.15,17.15,51.52,4.27,17.15,17.15,674.03,51.52,8.54,150.22,...,8.54,150.22,51.52,17.15,17.15,4.27,17.15,4.27,51.52,674.03
eur_payment_amount_investor_change,2.45,2.45,7.36,0.61,2.45,2.45,96.29,7.36,1.22,21.46,...,0,0,0,0,0,0,0,0,0,0
eur_principal_amount_investor,1.8418,1.8418,5.519,0.4619,1.8418,1.8418,72.2071,5.519,0.9238,16.1008,...,0.9238,16.1008,5.519,1.8418,1.8418,0.4619,1.8418,0.4619,5.519,72.2071
eur_interest_amount_investor,0.6082,0.6082,1.841,0.1481,0.6082,0.6082,24.0829,1.841,0.2962,5.3592,...,0.2962,5.3592,1.841,0.6082,0.6082,0.1481,0.6082,0.1481,1.841,24.0829
eur_sum_interval_interest_amount_investor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
eur_interest_amount_investor_cum,4.5165,4.5165,13.67,1.1001,4.5165,4.5165,178.82,13.67,2.2002,39.7936,...,2.2002,39.7936,13.67,4.5165,4.5165,1.1001,4.5165,1.1001,13.67,178.82
eur_interest_amount_investor_cum_exc0,4.5165,4.5165,13.67,1.1001,4.5165,4.5165,178.82,13.67,2.2002,39.7936,...,2.2002,39.7936,13.67,4.5165,4.5165,1.1001,4.5165,1.1001,13.67,178.82
eur_residual_interest_amount_investor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
eur_principal_amount_investor_cum,12.6335,12.6335,37.85,3.1699,12.6335,12.6335,495.21,37.85,6.3398,110.4264,...,6.3398,110.4264,37.85,12.6335,12.6335,3.1699,12.6335,3.1699,37.85,495.21
eur_initial_principal_amount_investor,89.2083,89.2083,267.6689,22.2919,89.2083,89.2083,3501.997,267.6689,44.5839,780.6745,...,44.5839,780.6745,267.6689,89.2083,89.2083,22.2919,89.2083,22.2919,267.6689,3501.997
eur_residual_principal_amount_investor,87.3665,87.3665,262.1499,21.83,87.3665,87.3665,3429.79,262.1499,43.6601,764.5737,...,43.6601,764.5737,262.1499,87.3665,87.3665,21.83,87.3665,21.83,262.1499,3429.79
expected_amount_cum,1080.34,1080.34,1080.34,1080.34,1080.34,1080.34,1080.34,1080.34,1080.34,1080.34,...,1080.34,1080.34,1080.34,1080.34,1080.34,1080.34,1080.34,1080.34,1080.34,1080.34
actual_amount_change,148.69,148.69,148.69,148.69,148.69,148.69,148.69,148.69,148.69,148.69,...,5268.1,5268.1,5268.1,5268.1,5268.1,5268.1,5268.1,5268.1,5268.1,5268.1
actual_amount_cum,1229.03,1229.03,1229.03,1229.03,1229.03,1229.03,1229.03,1229.03,1229.03,1229.03,...,6497.13,6497.13,6497.13,6497.13,6497.13,6497.13,6497.13,6497.13,6497.13,6497.13
in_arrears_flag,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
in_arrears_since,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
in_arrears_since_days,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dcf,-0.09041096,-0.09041096,-0.09041096,-0.09041096,-0.09041096,-0.09041096,-0.09041096,-0.09041096,-0.09041096,-0.09041096,...,-0.1178082,-0.1178082,-0.1178082,-0.1178082,-0.1178082,-0.1178082,-0.1178082,-0.1178082,-0.1178082,-0.1178082
payout_date,2014-09-04 00:00:00,2014-09-04 00:00:00,2014-09-04 00:00:00,2014-09-04 00:00:00,2014-09-04 00:00:00,2014-09-04 00:00:00,2014-09-04 00:00:00,2014-09-04 00:00:00,2014-09-04 00:00:00,2014-09-04 00:00:00,...,2014-09-04 00:00:00,2014-09-04 00:00:00,2014-09-04 00:00:00,2014-09-04 00:00:00,2014-09-04 00:00:00,2014-09-04 00:00:00,2014-09-04 00:00:00,2014-09-04 00:00:00,2014-09-04 00:00:00,2014-09-04 00:00:00

In [235]:
loan_fundings.state.unique()

array([u'funded', u'closed'], dtype=object)

In [64]:
len(cash_lists['cash_list_expected_date'])

4

In [231]:
a=pd.concat([c.loc[c.fk_loan.isin((36, 94, 132,136, 323, 390,456, 596, 1239)) & (c.dwh_country_id==1),['fk_loan','dcf','payment']].groupby(['fk_loan','dcf']).sum()  for c in cash_lists['cash_list_expected_date_plan'] if c is not None]).reset_index().sort(['fk_loan','dcf'], ascending=(True,False))

In [163]:
a=pd.concat([c.loc[c.fk_loan.isin([43]) & (c.dwh_country_id==32),['fk_loan','dcf','payment']].groupby(['fk_loan','dcf']).sum()  for c in cash_lists['cash_list_expected_date'] if c is not None]).reset_index().sort(['fk_loan','dcf'])

In [164]:
a.to_clipboard()

In [169]:
c=cash_lists['cash_list_actual_date'][1]
c=c[c.fk_loan.isin([43]) & (c.dwh_country_id==32)]
c.to_clipboard()

In [192]:
xirrs_all[('dwh_country_id', 'fk_loan')].to_clipboard()

In [161]:
payment_plans[(payment_plans.fk_loan==43) & (payment_plans.dwh_country_id==32)].to_clipboard()

In [157]:
loans[(loans.fk_loan==43) & (loans.dwh_country_id==32)].payback_state

105    payback_received
Name: payback_state, dtype: object

In [13]:
a=xirrs_all[('dwh_country_id', 'fk_loan')]

In [44]:
loans.loc[loans.dwh_country_id==1, ['dwh_country_id', 'fk_loan', 'base_return','targeted_yield', 'avg_investment_apr','pd']].to_clipboard()

In [22]:
b=drop_merge(a.reset_index(),loans, ['dwh_country_id', 'fk_loan'], ['targeted_yield']).rename(columns={'level_0':'reporting_date'})

In [41]:
loans.avg_investment_apr.head()

0    0.075231
1    0.046249
2    0.042367
3    0.046250
4    0.046150
Name: avg_investment_apr, dtype: float64

In [40]:
avg_yield.head()

                        eur_amount  investment_yield  eur_amount_yield  \
dwh_country_id fk_loan
1              3              3825           93.7753        17978.2625
               4              4100           46.2911         6157.6325
               6              3000           45.4358        22739.7225
               7              1000           46.8457         4693.3700
               8              5950          167.1169        23230.7700

                        avg_investment_yield  avg_investment_apr
dwh_country_id fk_loan
1              3                    4.700199            0.048028
               4                    1.501862            0.015122
               6                    7.579908            0.078489
               7                    4.693370            0.047957
               8                    3.904331            0.039750

In [173]:
nars.head()

                        (in_arrears, recovery_principal)  \
dwh_country_id fk_loan
1              7                              190.155998
               9                             1823.712386
               10                             989.395822
               11                             635.966599
               12                            1577.541238

                        (in_arrears, lost_principal)  \
dwh_country_id fk_loan
1              7                         -136.909702
               9                        -5155.669114
               10                        -712.351378
               11                        -457.887201
               12                       -4459.738662

                        (in_arrears, eur_interest_amount_investor)  \
dwh_country_id fk_loan
1              7                                            1.4361
               9                                           18.5707
               10                                          12.2218
               11                                           6.3542
               12                                          27.9884

                        (initial_principal, eur_initial_principal_amount_investor)  \
dwh_country_id fk_loan
1              7                                               10579.6695
               9                                              131737.5346
               10                                              54602.6702
               11                                              35204.4934
               12                                             113038.8110

                        (initial_principal_int0, eur_initial_principal_amount_investor)  \
dwh_country_id fk_loan
1              7                                                      NaN
               9                                                      NaN
               10                                                     NaN
               11                                                     NaN
               12                                                     NaN

                        (interest_payments, eur_interest_amount_investor_cum)  \
dwh_country_id fk_loan
1              7                                                  41.3849
               9                                                 343.1808
               10                                                348.5479
               11                                                182.2528
               12                                                513.5211

                        (interest_payments_exc0, eur_interest_amount_investor_cum_exc0)  \
dwh_country_id fk_loan
1              7                                                  41.3849
               9                                                 343.1808
               10                                                348.5479
               11                                                182.2528
               12                                                513.5211

                        (interest_payments_int0, eur_interest_amount_investor)  \
dwh_country_id fk_loan
1              7                                                      NaN
               9                                                      NaN
               10                                                     NaN
               11                                                     NaN
               12                                                     NaN

                        (payments_repaid, eur_interest_amount_investor)  \
dwh_country_id fk_loan
1              7                                                    NaN
               9                                                    NaN
               10                                                   NaN
               11                                                   NaN
               12                                                   NaN

                        (payments_repaid, eur_initial_principal_amount_investor)  \
dwh_country_id fk_loan
1              7                                                      NaN
               9                                                      NaN
               10                                                     NaN
               11                                                     NaN
               12                                                     NaN

                                ...          bucket60_lost  bucket90_lost  \
dwh_country_id fk_loan          ...
1              7                ...                     -0             -0
               9                ...                     -0             -0
               10               ...                     -0             -0
               11               ...                     -0             -0
               12               ...                     -0             -0

                        monthly_principals       top       nar   adj nar  \
dwh_country_id fk_loan
1              7                10579.6695   41.3849  0.047964  0.047964
               9               131737.5346  343.1808  0.031712  0.031712
               10               54602.6702  348.5479  0.079348  0.079348
               11               35204.4934  182.2528  0.063923  0.063923
               12              113038.8110  513.5211  0.055897  0.055897

                        payout_quarter  rating_base     payback_state  \
dwh_country_id fk_loan
1              7               2014_Q1            C           payback
               9               2014_Q1            B  payback_received
               10              2014_Q1            C  payback_received
               11              2014_Q1            B  payback_received
               12              2014_Q1            A  payback_received

                        eur_principal_amount
dwh_country_id fk_loan
1              7                        1000
               9                       10000
               10                       5000
               11                       4000
               12                       8000

[5 rows x 30 columns]

In [185]:
payment_plans[(payment_plans.fk_loan==20) & (payment_plans.dwh_country_id==1)].to_clipboard()

In [162]:
actual_payments_combined[(actual_payments_combined.fk_loan==43) & (actual_payments_combined.dwh_country_id==32)].to_clipboard()

In [176]:
selected_reporting_dates

DatetimeIndex(['2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30',
               '2015-05-31'],
              dtype='datetime64[ns]', freq='M', tz=None)

In [241]:
residuals_monthly, recoveries_monthly = generate_residual_act_investor(
                                act_pay_monthly_cnt[act_pay_monthly_filter],
                                loan_fundings_cnt,
                                EOM_date.date(),
                                payment_plans=plan_pay_cnt[plan_filter])

In [254]:
loans_cnt[loans_cnt.fk_loan==7].principal_amount

22    1000
Name: principal_amount, dtype: float64

In [226]:
split=('dwh_country_id','fk_loan')
g=[zx.groupby(['dwh_country_id','fk_loan','dcf']).payment.sum().reset_index('dcf') \
                     for zx in cash_lists['cash_list_actual_monthly']]

In [203]:
nars.xs(20,level='fk_loan')

,"(in_arrears, recovery_principal)","(in_arrears, lost_principal)","(in_arrears, eur_interest_amount_investor)","(initial_principal, eur_initial_principal_amount_investor)","(initial_principal_int0, eur_initial_principal_amount_investor)","(interest_payments, eur_interest_amount_investor_cum)","(interest_payments_exc0, eur_interest_amount_investor_cum_exc0)","(interest_payments_int0, eur_interest_amount_investor)","(payments_repaid, eur_interest_amount_investor)","(payments_repaid, eur_initial_principal_amount_investor)",...,bucket60_lost,bucket90_lost,monthly_principals,top,nar,adj nar,payout_quarter,rating_base,payback_state,eur_principal_amount
dwh_country_id,,,,,,,,,,,,,,,,,,,,,
1,1349.366396,-3814.684104,61.6621,109198.844,8000,1078.2515,1078.2515,NaN,NaN,NaN,...,-0,-0,101198.844,1078.2515,0.135623,0.135623,2014_Q1,E,payback,8000

In [205]:
filtered_de_payments

[3, 4, 6, 8]

In [206]:
nars[nars.payback_state=='payback_complete'].T

dwh_country_id                                                     1  \
fk_loan                                                          27
(in_arrears, recovery_principal)                                   0
(in_arrears, lost_principal)                                       0
(in_arrears, eur_interest_amount_investor)                   10.8306
(initial_principal, eur_initial_principal_amoun...          61469.16
(initial_principal_int0, eur_initial_principal_...              5000
(interest_payments, eur_interest_amount_investo...          208.1881
(interest_payments_exc0, eur_interest_amount_in...          208.1881
(interest_payments_int0, eur_interest_amount_in...               NaN
(payments_repaid, eur_interest_amount_investor)                  NaN
(payments_repaid, eur_initial_principal_amount_...               NaN
in_arrears_since                                                None
in_arrears_since_days                                            NaN
in_arrears_since_days_30360                                      NaN
bucket                                                           NaN
bucket_pd                                                        NaN
interest                                                    208.1881
default_loss                                                       0
note_status_adjustment                                           NaN
bucket0_lost                                                       0
bucket30_lost                                                      0
bucket60_lost                                                      0
bucket90_lost                                                      0
monthly_principals                                          56469.16
top                                                         208.1881
nar                                                       0.04514929
adj nar                                                   0.04514929
payout_quarter                                               2014_Q1
rating_base                                                        A
payback_state                                       payback_complete
eur_principal_amount                                            5000

dwh_country_id                                                        \
fk_loan                                                          76
(in_arrears, recovery_principal)                            2491.678
(in_arrears, lost_principal)                               -1793.974
(in_arrears, eur_interest_amount_investor)                   43.7058
(initial_principal, eur_initial_principal_amoun...          64328.79
(initial_principal_int0, eur_initial_principal_...              5000
(interest_payments, eur_interest_amount_investo...          279.9706
(interest_payments_exc0, eur_interest_amount_in...          279.9706
(interest_payments_int0, eur_interest_amount_in...               NaN
(payments_repaid, eur_interest_amount_investor)                  NaN
(payments_repaid, eur_initial_principal_amount_...               NaN
in_arrears_since                                          2014-11-01
in_arrears_since_days                                            211
in_arrears_since_days_30360                                      210
bucket                                                           210
bucket_pd                                                          1
interest                                                    279.9706
default_loss                                               -1793.974
note_status_adjustment                                            -0
bucket0_lost                                                      -0
bucket30_lost                                                     -0
bucket60_lost                                                     -0
bucket90_lost                                                     -0
monthly_principals                                          59328.79
top                                                        -1514.003
nar                                                       -0.2667007
adj nar                                                   -0.2667007
payout_quarter                                               2014_Q1
rating_base                                                        E
payback_state                                       payback_complete
eur_principal_amount                                            5000

dwh_country_id                                                        \
fk_loan                                                          151
(in_arrears, recovery_principal)                                 NaN
(in_arrears, lost_principal)                                     NaN
(in_arrears, eur_interest_amount_investor)                       NaN
(initial_principal, eur_initial_principal_amoun...               NaN
(initial_principal_int0, eur_initial_principal_...               NaN
(interest_payments, eur_interest_amount_investo...               NaN
(interest_payments_exc0, eur_interest_amount_in...               NaN
(interest_payments_int0, eur_interest_amount_in...               NaN
(payments_repaid, eur_interest_amount_investor)              65.0649
(payments_repaid, eur_initial_principal_amount_...          6530.079
in_arrears_since                                                None
in_arrears_since_days                                            NaN
in_arrears_since_days_30360                                      NaN
bucket                                                           NaN
bucket_pd                                                        NaN
interest                                                     65.0649
default_loss                                                     NaN
note_status_adjustment                                           NaN
bucket0_lost                                                     NaN
bucket30_lost                                                    NaN
bucket60_lost                                                    NaN
bucket90_lost                                                    NaN
monthly_principals                                          6530.079
top                                                          65.0649
nar                                                        0.1263415
adj nar                                                    0.1263415
payout_quarter                                               2014_Q2
rating_base                                                        E
payback_state                                       payback_complete
eur_principal_amount                                            1000

dwh_country_id                                                        \
fk_loan                                                          450
(in_arrears, recovery_principal)                                 NaN
(in_arrears, lost_principal)                                     NaN
(in_arrears, eur_interest_amount_investor)                       NaN
(initial_principal, eur_initial_principal_amoun...               NaN
(initial_principal_int0, eur_initial_principal_...               NaN
(interest_payments, eur_interest_amount_investo...               NaN
(interest_payments_exc0, eur_interest_amount_in...               NaN
(interest_payments_int0, eur_interest_amount_in...               NaN
(payments_repaid, eur_interest_amount_investor)             125.4464
(payments_repaid, eur_initial_principal_amount_...          15891.71
in_arrears_since                                                None
in_arrears_since_days                                            NaN
in_arrears_since_days_30360                                      NaN
bucket                                                           NaN
bucket_pd                                                        NaN
interest                                                    125.4464
default_loss                                                     NaN
note_status_adjustment                                           NaN
bucket0_lost                                                     NaN
bucket30_lost                                                    NaN
bucket60_lost                                                    NaN
bucket90_lost                                                    NaN
monthly_principals                                          15891.71
top                                                         125.4464
nar                                                       0.09894871
adj nar                                                   0.09894871
payout_quarter                                               2014_Q3
rating_base                                                        D
payback_state                                       payback_complete
eur_principal_amount                                            3000

dwh_country_id                                                        \
fk_loan                                                          596
(in_arrears, recovery_principal)                                 NaN
(in_arrears, lost_principal)                                     NaN
(in_arrears, eur_interest_amount_investor)                       NaN
(initial_principal, eur_initial_principal_amoun...               NaN
(initial_principal_int0, eur_initial_principal_...               NaN
(interest_payments, eur_interest_amount_investo...               NaN
(interest_payments_exc0, eur_interest_amount_in...               NaN
(interest_payments_int0, eur_interest_amount_in...               NaN
(payments_repaid, eur_interest_amount_investor)               1.0947
(payments_repaid, eur_initial_principal_amount_...          3334.137
in_arrears_since                                                None
in_arrears_since_days                                            NaN
in_arrears_since_days_30360                                      NaN
bucket                                                           NaN
bucket_pd                                                        NaN
interest                                                      1.0947
default_loss                                                     NaN
note_status_adjustment                                           NaN
bucket0_lost                                                     NaN
bucket30_lost                                                    NaN
bucket60_lost                                                    NaN
bucket90_lost                                                    NaN
monthly_principals                                          3334.137
top                                                           1.0947
nar                                                      0.003947093
adj nar                                                  0.003947093
payout_quarter                                               2014_Q4
rating_base                                                        B
payback_state                                       payback_complete
eur_principal_amount                                            1000

dwh_country_id
fk_loan                                                          611
(in_arrears, recovery_principal)                                 NaN
(in_arrears, lost_principal)                                     NaN
(in_arrears, eur_interest_amount_investor)                       NaN
(initial_principal, eur_initial_principal_amoun...               NaN
(initial_principal_int0, eur_initial_principal_...               NaN
(interest_payments, eur_interest_amount_investo...               NaN
(interest_payments_exc0, eur_interest_amount_in...               NaN
(interest_payments_int0, eur_interest_amount_in...               NaN
(payments_repaid, eur_interest_amount_investor)               8.2576
(payments_repaid, eur_initial_principal_amount_...          3338.374
in_arrears_since                                                None
in_arrears_since_days                                            NaN
in_arrears_since_days_30360                                      NaN
bucket                                                           NaN
bucket_pd                                                        NaN
interest                                                      8.2576
default_loss                                                     NaN
note_status_adjustment                                           NaN
bucket0_lost                                                     NaN
bucket30_lost                                                    NaN
bucket60_lost                                                    NaN
bucket90_lost                                                    NaN
monthly_principals                                          3338.374
top                                                           8.2576
nar                                                       0.03008963
adj nar                                                   0.03008963
payout_quarter                                               2014_Q4
rating_base                                                        B
payback_state                                       payback_complete
eur_principal_amount                                            1000

In [229]:
g1=pd.concat([ga.reset_index() for ga in g])

In [207]:
loans_cnt[loans_cnt.fk_loan==19].T

                                                                            41
dwh_country_id                                                               1
fk_loan                                                                     19
fk_loan_request                                                            650
fk_user                                                                   1360
fk_ranking                                                                 110
country_name                                                           Germany
currency_code                                                              EUR
loan_request_creation_date                                 2013-12-14 00:00:00
user_age                                                                    32
loan_nr                                                              886639376
title                                          Umzug von Frankfurt nach Berlin
purpose                      Ich ziehe endlich wieder in die Heimat nach Be...
financial_situation                                                       None
self_rating                                                               None
rating                                                                      E4
principal_amount                                                          3000
duration                                                                  1080
nominal_interest_percentage                                               11.5
promo_interest_percentage                                                    0
fee_amount                                                                  75
interest_amount                                                         588.22
total_payback                                                          3588.22
is_active                                                               active
category                                                                moving
ranking_serialized           O:45:"Intlend\Base\Web\RankingBundle\Propel\Ra...
state                                                                  payback
global_state                                                   payout_complete
originating_since                                                         None
originated_since                                           2014-01-15 13:59:26
due_date                                                                    15
...                                                                        ...
eur_fee_amount                                                              75
eur_interest_amount                                                     588.22
eur_total_payback                                                      3588.22
created_at                                                 2013-12-22 21:33:36
updated_at                                                 2014-01-17 10:54:13
dwh_created                                         2014-06-12 11:07:10.369539
dwh_last_modified                                   2015-03-20 14:59:18.092006
credit_agency_score                                                       8933
pd                                                                       10.25
pd_original                                                                NaN
lgd                                                                        100
in_arrears_since                                                          None
date_of_first_loan_offer                                            2013-12-14
ranking_rating                                                              E4
ranking_pd_start                                                         12.41
ranking_pd_end                                                            13.2
targeted_yield                                                               0
payback_day                                                                 15
payout_date                                                2014-01-17 00:00:00
payback_state                                                 payback_complete
auto_in_arrears_since                                                     None
in_arrears_since_man                                                      None
rating_base                                                                  E
payout_quarter                                                         2014_Q1
payout_date_EOM                                            2014-02-01 00:00:00
dcf                                                                    1.20274
dcf_EOM                                                               1.161644
base_date                                                  2013-11-01 00:00:00
duration_months                                                             36
base_return                                                               0.02

[79 rows x 1 columns]

In [230]:
g1.to_clipboard()

In [231]:
split=('dwh_country_id','fk_loan')
g_cash=[zx[(zx.fk_loan==7) & (zx.dwh_country_id==1)]
                     for zx in cash_lists['cash_list_actual_monthly']]

In [237]:
g_cash[2].sum(axis=0)

dwh_country_id             10.000000
fk_loan                    70.000000
fk_user_investor         4313.000000
payment                  2056.373700
dcf                        -1.643836
eur_principal_amount    10000.000000
dtype: float64

In [78]:
miss_payments.columnsa

Index([u'dwh_country_id', u'fk_loan', 0, u'payout_date'], dtype='object')

In [74]:
miss_payments.isnull().sum(axis=0)

dwh_country_id      0
fk_loan             0
0                 791
payout_date         7
dtype: int64

In [86]:
miss_payments.dwh_country_id.unique()

array([   1.,   32.,  128.,   16.,    4.,   64.])

In [569]:
 xirrs_all['fk_loan'].to_clipboard()

In [565]:
splits

['payout_quarter', 'rating_base', 'fk_loan', ('rating_switch', 'rating_base')]

In [567]:
xirrs_all['rating_base'].to_clipboard()

In [568]:
xirrs_all['payout_quarter'].to_clipboard()

In [551]:
 xirrs_overall

              actual  expected
2015-05-31  0.046227  0.033634

In [553]:
xirrs_all[splits[0]]

                             actual  expected
           payout_quarter
2015-05-31 2014_Q1         0.058662  0.058533
           2014_Q2         0.064646  0.046801
           2014_Q3         0.042113  0.032037
           2014_Q4         0.038446  0.034259
           2015_Q1         0.050369  0.031069

In [548]:
cols=[c for c in nar2.columns if c not in \
          [ u'in_arrears_since',u'in_arrears_since_days', u'in_arrears_since_days_30360',  u'bucket', u'bucket_pd',  u'payback_state']]

In [549]:
cols

[('in_arrears', 'recovery_principal'),
 ('in_arrears', 'lost_principal'),
 ('in_arrears', 'interest_amount_investor'),
 ('initial_principal', 'initial_principal_amount_investor'),
 ('initial_principal_int0', 'initial_principal_amount_investor'),
 ('interest_payments', 'interest_amount_investor_cum'),
 ('interest_payments_exc0', 'interest_amount_investor_cum_exc0'),
 ('interest_payments_int0', 'interest_amount_investor'),
 ('payments_repaid', 'interest_amount_investor'),
 ('payments_repaid', 'initial_principal_amount_investor'),
 'payout_quarter',
 'interest',
 'default_loss',
 'note_status_adjustment',
 'bucket0_lost',
 'bucket30_lost',
 'bucket60_lost',
 'bucket90_lost',
 'monthly_principals',
 'top',
 'nar',
 'adj nar']

In [546]:
[c for c in nar2.columns if c not in [ u'in_arrears_since',       u'in_arrears_since_days',
       u'in_arrears_since_days_30360',                      u'bucket',
                         u'bucket_pd',               u'payback_state']]

[('in_arrears', 'recovery_principal'),
 ('in_arrears', 'lost_principal'),
 ('in_arrears', 'interest_amount_investor'),
 ('initial_principal', 'initial_principal_amount_investor'),
 ('initial_principal_int0', 'initial_principal_amount_investor'),
 ('interest_payments', 'interest_amount_investor_cum'),
 ('interest_payments_exc0', 'interest_amount_investor_cum_exc0'),
 ('interest_payments_int0', 'interest_amount_investor'),
 ('payments_repaid', 'interest_amount_investor'),
 ('payments_repaid', 'initial_principal_amount_investor'),
 'payout_quarter',
 'interest',
 'default_loss',
 'note_status_adjustment',
 'bucket0_lost',
 'bucket30_lost',
 'bucket60_lost',
 'bucket90_lost',
 'monthly_principals',
 'top',
 'nar',
 'adj nar']

In [529]:
split='overall'
act_irr=xirr(gps_actual[split])

In [537]:
nar2.head()

,"(in_arrears, recovery_principal)","(in_arrears, lost_principal)","(in_arrears, interest_amount_investor)","(initial_principal, initial_principal_amount_investor)","(initial_principal_int0, initial_principal_amount_investor)","(interest_payments, interest_amount_investor_cum)","(interest_payments_exc0, interest_amount_investor_cum_exc0)","(interest_payments_int0, interest_amount_investor)","(payments_repaid, interest_amount_investor)","(payments_repaid, initial_principal_amount_investor)",...,default_loss,note_status_adjustment,bucket0_lost,bucket30_lost,bucket60_lost,bucket90_lost,monthly_principals,top,nar,adj nar
0,190.155998,-136.909702,1.4361,11529.6695,950,41.3849,41.3849,NaN,NaN,NaN,...,-0,NaN,-0,-0,-0,-0,10579.6695,41.3849,0.047964,NaN
1,1823.712386,-5155.669114,18.5707,141062.5346,9325,343.1808,343.1808,NaN,NaN,NaN,...,-0,NaN,-0,-0,-0,-0,131737.5346,343.1808,0.031712,NaN
2,989.395822,-712.351378,12.2218,59452.6702,4850,348.5479,348.5479,NaN,NaN,NaN,...,-0,NaN,-0,-0,-0,-0,54602.6702,348.5479,0.079348,NaN
3,635.966599,-457.887201,6.3542,38354.4934,NaN,182.2528,182.2528,NaN,NaN,NaN,...,-0,NaN,-0,-0,-0,-0,38354.4934,182.2528,0.058536,NaN
4,1577.541238,-4459.738662,27.9884,120988.8110,7950,513.5211,513.5211,NaN,NaN,NaN,...,-0,NaN,-0,-0,-0,-0,113038.8110,513.5211,0.055897,NaN

In [530]:
act_irr

0.046226781375559654

In [519]:
xirr_actual[('rating_switch', 'rating_base')].head()

rating_switch  rating_base
1              A              0.029843
               B              0.049910
               C              0.061020
               D              0.093666
               E              0.116183
dtype: float64

In [274]:
def cnull(x): return x.isnull().sum()

In [402]:
nar4=nar3.merge(avg_yield[['avg_investment_apr']],left_on='fk_loan',right_index=True)

In [444]:
nar5=nar4.merge(loans[['fk_loan','rating_base','rating_switch']],on='fk_loan')

In [378]:
loan_fundings[(loan_fundings.fk_loan==36)].T.to_clipboard()

In [209]:
future_pd_30360_arrears=make_future_pd(payment_plans_combined, loans1, arrears_dict,True,'2015-04-30')
future_pd_30360_origpd=make_future_pd(payment_plans_combined, loans1, arrears_dict,False,'2015-04-30')
future_pd_30360_arrears_latest_paid=make_future_pd(payment_plans_combined, loans1, arrears_dict,True,'2015-04-30',latest_paid_interval_investor)
future_pd_30360_origpd_latest_paid=make_future_pd(payment_plans_combined, loans1, arrears_dict,False,'2015-04-30',latest_paid_interval_investor)
future_pd_30360_origpd_all=make_future_pd(payment_plans_combined, loans1, arrears_dict,False)

In [241]:
df_loan2 = df_loan1.merge(loans[['fk_loan','payback_state']],
                                          on='fk_loan')

In [159]:
loans.columns

Index([                 u'dwh_country_id',                         u'fk_loan',
                       u'fk_loan_request',                         u'fk_user',
                            u'fk_ranking',                    u'country_name',
                         u'currency_code',      u'loan_request_creation_date',
                              u'user_age',                         u'loan_nr',
                                 u'title',                         u'purpose',
                   u'financial_situation',                     u'self_rating',
                                u'rating',                u'principal_amount',
                              u'duration',     u'nominal_interest_percentage',
             u'promo_interest_percentage',                      u'fee_amount',
                       u'interest_amount',                   u'total_payback',
                             u'is_active',                        u'category',
                    u'ranking_serialized',                           u'state',
                          u'global_state',               u'originating_since',
                      u'originated_since',                        u'due_date',
                         u'funded_amount',                      u'ip_address',
                            u'live_since',               u'ranking_parameter',
                        u'acc_account_id',               u'date_of_signature',
                          u'borrower_fee',                      u'lender_fee',
                    u'data_accessible_by',                  u'date_of_payout',
          u'date_of_origination_complete',     u'interest_calculation_method',
       u'initial_interest_split_strategy',   u'effective_interest_percentage',
                         u'cancel_reason',           u'cancel_reason_comment',
                  u'eur_principal_amount',                  u'eur_fee_amount',
                   u'eur_interest_amount',               u'eur_total_payback',
                            u'created_at',                      u'updated_at',
                           u'dwh_created',               u'dwh_last_modified',
                   u'credit_agency_score',                              u'pd',
                           u'pd_original',                             u'lgd',
                      u'in_arrears_since',        u'date_of_first_loan_offer',
                        u'ranking_rating',                u'ranking_pd_start',
                        u'ranking_pd_end',                     u'payback_day',
                           u'payout_date',                   u'payback_state',
                 u'auto_in_arrears_since',            u'in_arrears_since_man',
                           u'rating_base',           u'originated_since_date',
             u'originated_since_date_EOM',                             u'dcf',
                       u'payout_date_EOM',                   u'rating_switch'],
      dtype='object')

In [142]:
df_loan2=pd.DataFrame(df_loan)

In [154]:
df_loan3=pd.DataFrame(df_loan).merge(actual_payments.loc[actual_payments.iso_date==EOM_date.date(),['fk_loan','in_arrears_since',
                                    'in_arrears_since_days',u'in_arrears_since_days_30360','bucket','bucket_pd']],
                                          left_index=True, right_on='fk_loan')

In [153]:
(actual_payments.iso_date==EOM_date.date()).sum()

1488

In [149]:
np.array(actual_payments.iso_date,'datetime64[D]')[0:10]

array(['2014-01-31', '2014-02-28', '2014-03-31', '2014-04-30',
       '2014-05-31', '2014-06-30', '2014-07-31', '2014-08-31',
       '2014-09-30', '2014-10-31'], dtype='datetime64[D]')

In [156]:
df_loan3.to_clipboard()

In [136]:
df_all_loans.to_clipboard()

In [38]:
expected_cashflows.shape

(231472, 5)

In [39]:
irr_df

                 irr
2014-01-31       NaN
2014-02-28       NaN
2014-03-31       NaN
2014-04-30       NaN
2014-05-31       NaN
2014-06-30       NaN
2014-07-31       NaN
2014-08-31       NaN
2014-09-30  0.050904
2014-10-31       NaN
2014-11-30       NaN
2014-12-31       NaN
2015-01-31       NaN
2015-02-28       NaN
2015-03-31       NaN
2015-04-30       NaN

In [443]:
irr_df.to_clipboard()

In [109]:
%run returns.py

In [16]:
actual_payments_combined.columns

Index([                       u'dwh_country_id',
                            u'fk_user_borrower',
                            u'fk_user_investor',
                                     u'fk_loan',
                             u'loan_request_nr',
                                    u'iso_date',
                 u'nominal_interest_percentage',
                   u'promo_interest_percentage',
                              u'has_promo_flag',
                              u'is_repaid_flag',
                                 u'payout_date',
                                    u'interval',
                       u'interval_payback_date',
                  u'next_interval_payback_date',
                               u'loan_coverage',
                     u'payment_amount_borrower',
                   u'principal_amount_borrower',
                    u'interest_amount_borrower',
           u'initial_principal_amount_borrower',
       u'sum_interval_interest_amount_borrower',
           u'residual_interest_amount_borrower',
          u'residual_principal_amount_borrower',
                            u'calc_service_fee',
                     u'payment_amount_investor',
                 u'payment_amount_investor_cum',
               u'payment_amount_investor_month',
                   u'principal_amount_investor',
                    u'interest_amount_investor',
       u'sum_interval_interest_amount_investor',
                u'interest_amount_investor_cum',
           u'residual_interest_amount_investor',
               u'principal_amount_investor_cum',
           u'initial_principal_amount_investor',
          u'residual_principal_amount_investor',
                       u'expected_amount_month',
                         u'expected_amount_cum',
                         u'actual_amount_month',
                           u'actual_amount_cum',
                             u'in_arrears_flag',
                            u'in_arrears_since',
                       u'in_arrears_since_days',
                                         u'dcf',
                                 u'rating_base',
                       u'originated_since_date',
                 u'in_arrears_since_days_30360',
                                      u'bucket',
                                   u'bucket_pd',
                                    u'cum_diff'],
      dtype='object')

In [319]:
'dcf' in payment_plans_combined.columns

False

In [432]:
df_all_repaid_latest=pd.concat(dfs,keys=reporting_dates)
df_all_repaid_latest.columns=['irr']
df_all_repaid_latest.to_clipboard()

In [446]:
df_all_repaid_latest.index.names=['date','rating_base']

In [ ]:
actual_payments.pivot(index='fk_loan',columns='iso_date',values='bucket')

In [231]:
df_all.to_clipboard()

In [349]:
df_all.xs(299,level='fk_loan')

                 irr
2014-11-30  0.095392
2014-12-31  0.095162
2015-01-31  0.073150
2015-02-28  0.060508
2015-03-31  0.050789
2015-04-30       NaN

In [380]:
%run returns.py

In [163]:
xirr([loan_principals[loan_principals.fk_loan==loan_test],
      loan_payments[loan_payments.fk_loan==loan_test],residuals[residuals.fk_loan==loan_test],recoveries[recoveries.fk_loan==loan_test]])

0.031639427173267932

In [384]:
loan_test=921

In [345]:
z=recoveries #repaid_loans_cash

z[z.fk_loan==loan_test].groupby(['dcf']).payment.sum()

dcf
-0.079452    1491.111214
Name: payment, dtype: float64

In [352]:
z=loan_principals #repaid_loans_cash

z[z.fk_loan==loan_test].T

,10380,10381,10382,10383,10384,10385,10386,10387,10388,10389,...,10427,10428,10429,10430,10431,10432,10433,10434,10435,10436
rating_base,C,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
fk_loan,299,299,299,299,299,299,299,299,299,299,...,299,299,299,299,299,299,299,299,299,299
fk_user_investor,25050,25151,29364,29426,30190,30245,30300,30532,31192,29841,...,19590,19973,9210,22203,23184,23314,23738,23870,24237,24826
originated_since_date,2014-08-21 00:00:00,2014-08-21 00:00:00,2014-08-21 00:00:00,2014-08-21 00:00:00,2014-08-21 00:00:00,2014-08-21 00:00:00,2014-08-21 00:00:00,2014-08-21 00:00:00,2014-08-21 00:00:00,2014-08-21 00:00:00,...,2014-08-21 00:00:00,2014-08-21 00:00:00,2014-08-21 00:00:00,2014-08-21 00:00:00,2014-08-21 00:00:00,2014-08-21 00:00:00,2014-08-21 00:00:00,2014-08-21 00:00:00,2014-08-21 00:00:00,2014-08-21 00:00:00
originated_since_date_EOM,2014-09-19 00:00:00,2014-09-19 00:00:00,2014-09-19 00:00:00,2014-09-19 00:00:00,2014-09-19 00:00:00,2014-09-19 00:00:00,2014-09-19 00:00:00,2014-09-19 00:00:00,2014-09-19 00:00:00,2014-09-19 00:00:00,...,2014-09-19 00:00:00,2014-09-19 00:00:00,2014-09-19 00:00:00,2014-09-19 00:00:00,2014-09-19 00:00:00,2014-09-19 00:00:00,2014-09-19 00:00:00,2014-09-19 00:00:00,2014-09-19 00:00:00,2014-09-19 00:00:00
dcf,0.5315068,0.5315068,0.5315068,0.5315068,0.5315068,0.5315068,0.5315068,0.5315068,0.5315068,0.5315068,...,0.5315068,0.5315068,0.5315068,0.5315068,0.5315068,0.5315068,0.5315068,0.5315068,0.5315068,0.5315068
payment,-25,-2000,-25,-25,-25,-50,-25,-50,-100,-50,...,-25,-100,-50,-50,-750,-25,-25,-25,-100,-50

In [353]:


df_tests=[z[z.fk_loan==loan_test].groupby(['dcf']).payment.sum().reset_index() for z in [loan_principals,loan_payments,residuals,recoveries, repaid_loans_cash]]

In [394]:
actual_payments_combined[actual_payments_combined.residual_principal_amount_borrower.isnull()].head().T

,976,977,978,979,980
dwh_country_id,1,1,1,1,1
fk_user_borrower,601,601,601,601,601
fk_user_investor,470,51,305,416,895
fk_loan,11,11,11,11,11
loan_request_nr,781517257,781517257,781517257,781517257,781517257
iso_date,2014-01-31,2014-01-31,2014-01-31,2014-01-31,2014-01-31
nominal_interest_percentage,NaN,NaN,NaN,NaN,NaN
promo_interest_percentage,NaN,NaN,NaN,NaN,NaN
has_promo_flag,NaN,NaN,NaN,NaN,NaN
is_repaid_flag,NaN,NaN,NaN,NaN,NaN
payout_date,None,None,None,None,None
interval,NaN,NaN,NaN,NaN,NaN
interval_payback_date,None,None,None,None,None
next_interval_payback_date,None,None,None,None,None
loan_coverage,NaN,NaN,NaN,NaN,NaN
payment_amount_borrower,NaN,NaN,NaN,NaN,NaN
principal_amount_borrower,NaN,NaN,NaN,NaN,NaN
interest_amount_borrower,NaN,NaN,NaN,NaN,NaN
initial_principal_amount_borrower,NaN,NaN,NaN,NaN,NaN
sum_interval_interest_amount_borrower,NaN,NaN,NaN,NaN,NaN
residual_interest_amount_borrower,NaN,NaN,NaN,NaN,NaN
residual_principal_amount_borrower,NaN,NaN,NaN,NaN,NaN
calc_service_fee,NaN,NaN,NaN,NaN,NaN
payment_amount_investor,NaN,NaN,NaN,NaN,NaN
payment_amount_investor_cum,NaN,NaN,NaN,NaN,NaN
payment_amount_investor_month,NaN,NaN,NaN,NaN,NaN
principal_amount_investor,NaN,NaN,NaN,NaN,NaN
interest_amount_investor,NaN,NaN,NaN,NaN,NaN
sum_interval_interest_amount_investor,NaN,NaN,NaN,NaN,NaN
interest_amount_investor_cum,NaN,NaN,NaN,NaN,NaN
residual_interest_amount_investor,NaN,NaN,NaN,NaN,NaN
principal_amount_investor_cum,NaN,NaN,NaN,NaN,NaN
initial_principal_amount_investor,NaN,NaN,NaN,NaN,NaN
residual_principal_amount_investor,25,25,25,250,25
expected_amount_month,0.46,0.46,0.46,0.46,0.46
expected_amount_cum,0.46,0.46,0.46,0.46,0.46
actual_amount_month,0,0,0,0,0
actual_amount_cum,0,0,0,0,0
in_arrears_flag,1,1,1,1,1
in_arrears_since,2014-01-15,2014-01-15,2014-01-15,2014-01-15,2014-01-15
in_arrears_since_days,16,16,16,16,16
dcf,1.164384,1.164384,1.164384,1.164384,1.164384
in_arrears_since_days_30360,16,16,16,16,16
bucket,30,30,30,30,30
bucket_pd,0.164,0.164,0.164,0.164,0.164
cum_diff,0.46,0.46,0.46,0.46,0.46
id_loan_x,11,11,11,11,11
id_loan_y,11,11,11,11,11
rating_base,B,B,B,B,B

In [385]:
actual_payments.loc[actual_payments.fk_loan==loan_test,['iso_date','actual_amount_month','in_arrears_since']]

        iso_date  actual_amount_month in_arrears_since
6086  2015-02-28                    0       2015-02-01
6087  2015-03-31                    0       2015-02-01
6088  2015-04-30                    0       2015-02-01

In [379]:
pd.concat(df_tests).to_clipboard()

In [274]:
loans[loans.fk_loan==loan_test].payback_state

20    payback_complete
Name: payback_state, dtype: object

In [387]:
recoveries[recoveries.fk_loan==921]

Empty DataFrame
Columns: [rating_base, fk_loan, fk_user_investor, payment, date, dcf]
Index: []

In [281]:
((loans.originated_since_date<datetime.date(2015,2,28)) & (loans.payback_state=='payback_complete')).sum()

59

In [282]:
((loans.originated_since_date<datetime.date(2015,2,28))).sum()

1256

In [618]:
future_pd_30360_origpd_all[(future_pd_30360_origpd_all.fk_loan==330) & (future_pd_30360_origpd_all.fk_user_investor==63)].to_clipboard()

In [686]:
cashflows_act_investor_20150430_def=generate_cashflows_act_investor(actual_payments_combined,loan_fundings1,'2015-04-30',payment_plans_combined)

In [644]:
defs=actual_payments_combined.loc[(actual_payments_combined.iso_date==datetime.date(2015,4,30))& (actual_payments_combined.in_arrears_since_days_30360>90),['fk_loan','iso_date','in_arrears_since_days_30360']].fk_loan.unique()
defs

array([ 27,  76,  85,  88, 299, 355, 362, 439, 449, 675], dtype=int64)

In [654]:
cashflows_act_investor_20150430[(cashflows_act_investor_20150430.id_loan==27) & (cashflows_act_investor_20150430.fk_user_investor==2190)].to_clipboard()

In [ ]:
z=cashflows_act_investor_20150430_def
z[(z.id_loan==85) & (z.fk_user_investor==9614)].to_clipboard()

In [658]:
cashflows_act_investor_20150430_def=add_loan_rating(cashflows_act_investor_20150430_def,loans1)

In [691]:
z=loan_fundings1
z[(z.fk_loan==3) & (z.fk_user==38)]

,dwh_country_id,id_loan_funding,fk_loan,fk_loan_request,fk_user,country_name,currency_code,loan_request_creation_date,amount,investment_yield,...,created_at,updated_at,dwh_created,dwh_last_modified,id_loan,originated_since_date,originated_since_date_EOM,payback_day,principal_amount,loan_coverage1
13,1,652,3,10,38,Germany,EUR,2013-11-30,800,4.7033,...,2013-12-09 11:53:09,2015-05-14 09:16:07,2014-02-21 17:33:03.857077,2015-05-14 10:21:02.718089,3,2014-01-10,2014-01-25,15,3800,21.052632

For actual - to EOM valuation date, we use principal outstanding (ie including in arrears principal)
For actual_origpd/arrears - using future cashflows we take future cashflows (ie after EOM date) rather than last paid principal

In [542]:
cashflows_act_investor_20150430=generate_cashflows_act_investor(actual_payments_combined,loan_fundings1,'2015-04-30',payment_plans_combined)
cashflows_act_arrears_investor=generate_cashflows(future_pd_30360_arrears,loan_fundings1,True,'2015-04-30',  actual_payments_combined)
cashflows_act_origpd_investor=generate_cashflows(future_pd_30360_origpd,loan_fundings1,True,'2015-04-30', actual_payments_combined)

cashflows_act_arrears_latest_paid_investor=generate_cashflows(future_pd_30360_arrears_latest_paid,loan_fundings1,True,'2015-04-30',  actual_payments_combined)
cashflows_act_origpd_latest_paid_investor=generate_cashflows(future_pd_30360_origpd_latest_paid,loan_fundings1,True,'2015-04-30', actual_payments_combined)

In [543]:
cashflows_plan_origpd_all=generate_cashflows(future_pd_30360_origpd_all,loan_fundings1,True)
cashflows_plan_origpd_noshift_all=generate_cashflows(future_pd_30360_origpd_all,loan_fundings1,False)

In [544]:
cashflows_plan_investor_20150430=generate_cashflows_pp(payment_plans_combined,loan_fundings1,loans,'2015-04-30')
cashflows_plan_investor_all=generate_cashflows_pp(payment_plans_combined,loan_fundings1,loans)

In [545]:
def replace_repaid(actual_cashflows,plan_cashflows):
    return pd.concat([actual_cashflows[actual_cashflows.payback_state!='payback_complete'],
                      plan_cashflows[plan_cashflows.payback_state=='payback_complete']],ignore_index=True)

In [546]:
cashflows_act_investor_20150430_repaid = replace_repaid(cashflows_act_investor_20150430,cashflows_plan_investor_all)
cashflows_act_arrears_latest_paid_investor_repaid = replace_repaid( cashflows_act_arrears_latest_paid_investor,cashflows_plan_investor_all)
cashflows_act_origpd_latest_paid_investor_repaid = replace_repaid( cashflows_act_origpd_latest_paid_investor,cashflows_plan_investor_all)

In [275]:
payment_plans_combined[(payment_plans_combined.fk_loan==34) & (payment_plans_combined.fk_user_investor==38)].to_clipboard()

In [273]:
cashflows_act_investor_EOM[(cashflows_act_investor_EOM.id_loan==34) & (cashflows_act_investor_EOM.fk_user_investor==38)].to_clipboard()

In [255]:
cashflows_plan_origpd_noshift_all[(cashflows_plan_origpd_noshift_all.id_loan==574) & (cashflows_plan_origpd_noshift_all.fk_user_investor==31192)].to_clipboard()

In [256]:
future_pd_30360_origpd_all[(future_pd_30360_origpd_all.fk_loan==574) & (future_pd_30360_origpd_all.fk_user_investor==31192)].to_clipboard()

In [38]:
loans_act_xirr=cashflows_act_investor.groupby('id_loan').apply(lambda x: xirr(x.payment,x.dcf))

NameError: name 'cashflows_act_investor' is not defined

In [560]:
loans_act_arrears_latest_paid_xirr=cashflows_act_arrears_latest_paid_investor.groupby('id_loan').apply(lambda x: xirr(x.payment,x.dcf))
loans_act_origpd_latest_paid_xirr=cashflows_act_origpd_latest_paid_investor.groupby('id_loan').apply(lambda x: xirr(x.payment,x.dcf))

In [559]:
loans_act_arrears_latest_paid_repaid_xirr=cashflows_act_arrears_latest_paid_investor_repaid.groupby('id_loan').apply(lambda x: xirr(x.payment,x.dcf))
loans_act_origpd_latest_paid__repaid_xirr=cashflows_act_origpd_latest_paid_investor_repaid.groupby('id_loan').apply(lambda x: xirr(x.payment,x.dcf))

In [151]:
cashflows_act_arrears_investor[(cashflows_act_arrears_investor.id_loan==675) & (cashflows_act_arrears_investor.fk_user_investor==38)].to_clipboard()

In [548]:
loans_act_20150430_xirr=cashflows_act_investor_20150430.groupby('id_loan').apply(lambda x: xirr(x.payment,x.dcf))

In [549]:
loans_act_20150430_repaid_xirr=cashflows_act_investor_20150430_repaid.groupby('id_loan').apply(lambda x: xirr(x.payment,x.dcf))

In [552]:
loans_act_arrears_xirr=cashflows_act_arrears_investor.groupby('id_loan').apply(lambda x: xirr(x.payment,x.dcf))

In [551]:
loans_act_origpd_xirr=cashflows_act_origpd_investor.groupby('id_loan').apply(lambda x: xirr(x.payment,x.dcf))

In [553]:
loans_plan_origpd_xirr=cashflows_plan_origpd_all.groupby('id_loan').apply(lambda x: xirr(x.payment,x.dcf))

In [555]:
loans_plan_origpd_noshift_xirr=cashflows_plan_origpd_noshift_all.groupby('id_loan').apply(lambda x: xirr(x.payment,x.dcf))

In [557]:
loans_plan_20150430_xirr=cashflows_plan_investor_20150430.groupby('id_loan').apply(lambda x: xirr(x.payment,x.dcf))

In [242]:
loans_plan_origpd_xirr[350]

0.084111226975740833

In [249]:
cashflows_plan_origpd_noshift_all[(cashflows_plan_origpd_noshift_all.id_loan==210)&(cashflows_plan_origpd_noshift_all.fk_user_investor==25151)].to_clipboard()

In [558]:
loans_plan_all_xirr=cashflows_plan_investor_all.groupby('id_loan').apply(lambda x: xirr(x.payment,x.dcf))

plan_all: assumes all payments were made according to plan


act_EOM: uses actual payments until reporting date, and assumes outstanding principal repaid


act_origpd:: uses actual payments until reporting date, and predicts payments for subsequent dates (so missing payments will never be paid back)


act_origpd_latest_paid:: uses actual payments until reporting date, and predicts payments for remaining loan ( including currently in arrears)


act_arrears - same but with inarrears pd

In [195]:
cashflows_plan_investor_20150430.head()

,id_loan,fk_user_investor,date,payment,dcf,originated_since_date,rating_base,rating_switch,payback_state
0,3,38,2014-02-15,34.99,1.123288,2014-01-10,C,1,payback_received
1,3,38,2014-03-15,34.99,1.046575,2014-01-10,C,1,payback_received
2,3,38,2014-04-15,34.99,0.961644,2014-01-10,C,1,payback_received
3,3,38,2014-05-15,34.99,0.879452,2014-01-10,C,1,payback_received
4,3,38,2014-06-15,34.99,0.794521,2014-01-10,C,1,payback_received

In [587]:
#loans_xirr=pd.DataFrame({'plan':loan_pp_xirr,'origpd':loans_fut_xirr_origpd, 'inarr':loans_fut_xirr_arrears})
loans_xirr=pd.DataFrame({'plan_all':loans_plan_all_xirr,\
                         'plan_20150430':loans_plan_20150430_xirr,\
                         'act_20150430':loans_act_20150430_xirr,
                         'act_20150430_repaid':loans_act_20150430_repaid_xirr,
                         'act_origpd':loans_act_origpd_xirr, 
                         'act_arrears' :loans_act_arrears_xirr,
                         'act_origpd_latest_paid':loans_act_origpd_latest_paid_xirr, 
                         'act_origpd_latest_paid_repaid':loans_act_origpd_latest_paid__repaid_xirr, 
                         'act_arrears_latest_paid' :loans_act_arrears_latest_paid_xirr,
                         'act_arrears_latest_paid_repaid' :loans_act_arrears_latest_paid_repaid_xirr,
                        'plan_origpd': loans_plan_origpd_xirr, 
                         'plan_origpd_noshift': loans_plan_origpd_noshift_xirr 
                        })
loans_xirr=loans_xirr.merge(loans1[['id_loan','date_of_first_loan_offer','originated_since_date','principal_amount','payback_state','pd','bucket_pd',
                                    'rating','base_date', 'base_return']],\
                            left_index=True,right_on='id_loan')
loans_xirr['orig_month']=np.array(loans_xirr.originated_since_date,'datetime64[M]')
loans_xirr['rating_base']=loans_xirr['rating'].str[0]

loans_xirr=loans_xirr.reindex(columns=['id_loan','date_of_first_loan_offer','originated_since_date','orig_month','principal_amount','payback_state',\
                                       'pd','bucket_pd','rating','rating_base','base_date','base_return', 'plan_all','plan_20150430',\
                                       'act_20150430','act_20150430_repaid', 'plan_origpd_noshift','plan_origpd', \
                                      'act_origpd', 'act_arrears', \
                                      'act_origpd_latest_paid','act_origpd_latest_paid_repaid', \
                                       'act_arrears_latest_paid', 'act_arrears_latest_paid_repaid'
                                      ])
loans_xirr=abs_diff(loans_xirr,[('base_return','plan_origpd_noshift'),
                                ('plan_origpd_noshift', 'plan_origpd'),
                                ('plan_20150430','act_20150430'),
                                ('act_20150430','act_arrears_latest_paid_repaid')])
                                
                                
loans_xirr.to_clipboard(index=False)

In [268]:
loans_xirr[loans_xirr.bucket_pd.notnull()].head()

,id_loan,originated_since_date,orig_month,principal_amount,payback_state,pd,bucket_pd,rating,rating_base,rating_switch,plan_all,plan_20150430,act_EOM,plan_origpd_noshift,plan_origpd,act_origpd,act_arrears,act_origpd_latest_paid,act_arrears_latest_paid
20,27,2014-01-20,2014-01-01,5000,payback_complete,1.80,1.000,A3,A,1,0.047859,0.047859,-0.885755,0.040468,0.042525,-0.885755,-0.885755,0.041265,-0.281649
25,34,2014-01-29,2014-01-01,8000,payback_received,10.25,0.164,E4,E,1,0.146789,0.143436,0.121602,0.069296,0.070657,0.099493,0.075065,0.107446,0.081820
29,35,2014-01-29,2014-01-01,5000,payback,5.07,0.164,C2,C,1,0.079247,0.079233,0.025790,0.055918,0.060880,0.032465,0.021970,0.076651,0.064536
35,44,2014-02-10,2014-02-01,5000,payback,10.25,0.164,E4,E,1,0.143996,0.139811,0.112054,0.093955,0.098556,0.107971,0.092042,0.121196,0.104660
49,50,2014-02-13,2014-02-01,3000,payback,6.96,0.384,D2,D,1,0.110940,0.108226,0.054122,0.078254,0.081898,0.069243,-0.013235,0.093805,0.005128

In [225]:
loans_xirr[loans_xirr.id_loan==350]

,id_loan,originated_since_date,orig_month,principal_amount,payback_state,pd,bucket_pd,rating,rating_base,rating_switch,plan_all,plan_20150430,act_EOM,plan_origpd,act_origpd,act_arrears,act_origpd_latest_paid,act_arrears_latest_paid
360,350,2014-09-02,2014-09-01,6500,payback,6.98,NaN,D2,D,2,0.123274,0.124471,0.124442,0.084111,0.101725,0.101725,0.101725,0.101725

In [222]:
future_pd_30360_origpd_all[(future_pd_30360_origpd_all.id_loan==350)& (future_pd_30360_origpd_all.fk_user_investor==88)].to_clipboard()

In [207]:
loan_fundings1[(loan_fundings1.fk_loan==350)&(loan_fundings1.fk_user==88)].investment_yield

8554    11.5504
Name: investment_yield, dtype: float64

In [ ]:
cashflow

In [590]:

rating_switch_plan_all_xirr=gen_rating(cashflows_plan_investor_all, '2015-01-31',[3,4,6,8,11,14])
rating_switch_plan_origpd_xirr=gen_rating(cashflows_plan_origpd_all, '2015-01-31', [3,4,6,8,11,14])
rating_switch_plan_20150430_xirr=gen_rating(cashflows_plan_investor_20150430, '2015-01-31', [3,4,6,8,11,14])
rating_switch_act_20150430_repaid_xirr=gen_rating(cashflows_act_investor_20150430_repaid, '2015-01-31', [3,4,6,8,11,14])
rating_switch_act_arrears_latest_paid_investor_repaid=gen_rating(cashflows_act_arrears_latest_paid_investor_repaid, '2015-01-31', [3,4,6,8,11,14])
rating_switch_act_origpd_latest_paid_investor_repaid=gen_rating(cashflows_act_origpd_latest_paid_investor_repaid, '2015-01-31', [3,4,6,8,11,14])
#rating_switch_act_xirr=gen_rating(cashflows_act_investor, '2015-02-28', [3,4,6,8,11,14])

In [594]:
arrears_dict

{30: 0.164,
 60: 0.384,
 90: 0.55,
 120: 1,
 150: 1,
 180: 1,
 210: 1,
 240: 1,
 270: 1}

In [592]:
rating_switch_xirr=pd.DataFrame({'plan_all':rating_switch_plan_all_xirr,\
                                'plan_20150430':rating_switch_plan_20150430_xirr,\
                                'plan_origpd':rating_switch_plan_origpd_xirr,\
                                'act_20150430_repaid':rating_switch_act_20150430_repaid_xirr,\
                                'act_arrears_latest_paid_repaid':rating_switch_act_arrears_latest_paid_investor_repaid})
rating_switch_xirr.to_clipboard()
rating_switch_xirr

                        act_20150430_repaid  act_arrears_latest_paid_repaid  \
base_date  rating_base
2013-11-01 A                       0.046398                        0.042966
           B                       0.045773                        0.024875
           C                       0.068110                        0.049172
           D                       0.107901                        0.074283
           E                       0.129219                        0.096206
2014-07-01 A                       0.031691                        0.029720
           B                       0.045688                        0.035422
           C                       0.080639                        0.050308
           D                       0.092931                        0.056388
           E                       0.119488                        0.090670
2014-10-22 A                       0.030765                        0.026226
           B                       0.038895                        0.026691
           C                       0.061009                        0.034710
           D                       0.075147                        0.034469
           E                       0.103581                        0.041727

                        plan_20150430  plan_all  plan_origpd
base_date  rating_base
2013-11-01 A                 0.047052  0.047663     0.039846
           B                 0.054704  0.055155     0.035750
           C                 0.073975  0.073915     0.042027
           D                 0.112281  0.113947     0.065641
           E                 0.135040  0.135587     0.069020
2014-07-01 A                 0.031697  0.033768     0.028535
           B                 0.047638  0.049327     0.036157
           C                 0.092414  0.093909     0.062524
           D                 0.128877  0.130993     0.076537
           E                 0.131330  0.133426     0.081157
2014-10-22 A                 0.031646  0.032112     0.026758
           B                 0.042316  0.043121     0.029963
           C                 0.064779  0.065044     0.035143
           D                 0.095902  0.097162     0.041952
           E                 0.128717  0.131338     0.049799

In [100]:
miss_loans=set(loans.id_loan) ^ set(payment_plans.fk_loan) # symmetric difference

In [251]:
(loans_xirr.loc[mth3_loans]*100).hist()

In [39]:
irreg_payments_sql="select * from backend.loan_payment_plan where plan ~* 'IRREGULAR' and dwh_country_id=1"
# problem with like '%irregular%#
irreg_payments=psql.read_sql_query(irreg_payments_sql,conn)
irreg_payments.columns
cols=irreg_payments.columns.values.tolist()
cols.remove('plan')
cols
li=[]
cols=irreg_payments.columns.values.tolist()
cols.remove('plan')

for i in range(irreg_payments.shape[0]):
    z=pd.read_json(irreg_payments.plan[i])
    for c in cols:
        z.loc[:,c]=irreg_payments.iloc[i][c]
    li.append(z)

irreg_p=pd.concat(li)

In [581]:
actual_payments.in_arrears_since_days_30360.unique()

array([  nan,   16.,   13.,   15.,   46.,   76.,  103.,  136.,  165.,
        196.,   75.,   45.,   29.,   60.,   27.,   30.,   21.,   59.,
         90.,  120.,   89.,  150.,   87.,   57.,  117.,  179.,  210.,
        119.,   26.,   43.,   28.,   73.,  106.,  105.,  166.,   20.])

In [608]:
z1=pd.DataFrame(actual_payments.set_index(['iso_date','fk_loan'])[['interval','in_arrears_since', 'in_arrears_since_days_30360']])
z1['bucket']=np.minimum(np.ceil(z1.in_arrears_since_days_30360/30.0),4)
z1['bucket']=z1['bucket'].fillna(0)
a1=z1.bucket.unstack()

a2=a1.shift(-1, freq='M')
a3=a1.shift(-2, freq='M')
a4=a1.shift(-3, freq='M')
a5=a1.shift(-4, freq='M')
a6=a1.shift(-5, freq='M')
a7=a1.shift(-6, freq='M')

# do merge
print z1.shape
z1['in_arrears_since_1M']=a2.stack()
print z1.shape
z1['in_arrears_since_2M']=a3.stack()
print z1.shape
z1['in_arrears_since_3M']=a4.stack()
print z1.shape
z1['in_arrears_since_4M']=a5.stack()
print z1.shape
z1['in_arrears_since_5M']=a6.stack()
print z1.shape
z1['in_arrears_since_6M']=a7.stack()
print z1.shape
# trying to detemine stability 

z3=z1.groupby(['bucket','in_arrears_since_1M']).size()
z4=z3.unstack().fillna(0)

(9026, 4)
(9026, 5)
(9026, 6)
(9026, 7)
(9026, 8)
(9026, 9)
(9026, 10)

In [617]:
n_rolls=6
for lag in 1 + np.arange(n_rolls):
    print lag

1
2
3
4
5
6

In [627]:
def calc_arrears_pd(act_payments,start_date,end_date):
    z1=pd.DataFrame(act_payments.set_index(['iso_date','fk_loan'])[['interval','in_arrears_since', 'in_arrears_since_days_30360']])
    z1['bucket']=np.minimum(np.ceil(z1.in_arrears_since_days_30360/30.0),4)
    z1['bucket']=z1['bucket'].fillna(0)
    a1=z1.bucket.unstack()
    # A1 HAS DATE INDEX AND LOAN COLUMN
    n_rolls=6
    # nb this is dropping new loans...
    
    def lag_name(lag):
        return 'after_{}M'.format(lag)
    
    for lag in 1 + np.arange(n_rolls):
        z1[lag_name(lag)]=a1.shift(-lag, freq='M').stack()
        
    trans={}
    for lag in 1 + np.arange(n_rolls):
        trans[lag_name(lag)]=z1.groupby(['bucket',lag_name(lag)]).size().unstack().fillna(0)
    return trans

In [628]:
trans_counts=calc_arrears_pd(actual_payments,1,23)

In [623]:
trans_counts.keys()

['after_3M', 'after_2M', 'after_4M', 'after_1M', 'after_5M', 'after_6M']

In [629]:
print trans_counts

{'after_3M': after_3M     0    1   2   3   4
bucket
0         4026  142  47  25   0
1           63   60  21   8  15
2            6    7   8   4  11
3            6    1   1   2   5
4            0    0   0   0   4, 'after_2M': after_2M     0    1   2   3   4
bucket
0         5213  159  57   1   0
1           70   78  19  31   0
2            8   10  10   6  15
3            4    3   1   3  11
4            1    0   0   0   9, 'after_4M': after_4M     0    1   2   3   4
bucket
0         3066  124  44  22  11
1           51   46  14   6  13
2           10    2   3   3   5
3            1    2   1   2   4, 'after_1M': after_1M     0    1   2   3   4
bucket
0         6698  175   7   0   0
1           76  106  71   2   0
2            7    7  13  32   3
3            4    2   3   7  13
4            1    0   0   0  19, 'after_5M': after_5M     0   1   2   3   4
bucket
0         2335  99  39  18  15
1           50  34   6   3   9
2            5   3   3   4   4
3            1   0   1   0   0, 'after_6M': after_6M     0   1   2   3   4
bucket
0         1747  71  29  15  16
1           37  28   9   4   6
2            5   1   1   1   1
3            1   0   1   0   0}

In [612]:
z1.interval.isnull().sum()

54

In [614]:
z1.head()

,,interval,in_arrears_since,in_arrears_since_days_30360,bucket,in_arrears_since_1M,in_arrears_since_2M,in_arrears_since_3M,in_arrears_since_4M,in_arrears_since_5M,in_arrears_since_6M
iso_date,fk_loan,,,,,,,,,,
2014-01-31,7,0,None,NaN,0,0,0,0,0,0,0
2014-02-28,7,1,None,NaN,0,0,0,0,0,0,0
2014-03-31,7,2,None,NaN,0,0,0,0,0,0,0
2014-04-30,7,3,None,NaN,0,0,0,0,0,0,0
2014-05-31,7,4,None,NaN,0,0,0,0,0,0,0

In [607]:
z4

in_arrears_since_1M     0    1   2   3   4
bucket
0                    6698  175   7   0   0
1                      76  106  71   2   0
2                       7    7  13  32   3
3                       4    2   3   7  13
4                       1    0   0   0  19

In [597]:
z4

in_arrears_since_1M     0    1   2   3   4
bucket
0                    6698  175   7   0   0
1                      76  106  71   2   0
2                       7    7  13  32   3
3                       4    2   3   7  13
4                       1    0   0   0  19

In [585]:
a1.head()

fk_loan,7,9,10,11,12,13,14,15,16,17,...,1902,1912,1918,1921,1923,1935,1938,1951,1967,1968
iso_date,,,,,,,,,,,,,,,,,,,,,
2014-01-31,NaN,NaN,NaN,1,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-31,NaN,NaN,1,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [586]:
a2.head()

fk_loan,7,9,10,11,12,13,14,15,16,17,...,1902,1912,1918,1921,1923,1935,1938,1951,1967,1968
iso_date,,,,,,,,,,,,,,,,,,,,,
2013-12-31,NaN,NaN,NaN,1,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-02-28,NaN,NaN,1,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [599]:
loans.loan_nr[loans.id_loan==815]

471    547197732
Name: loan_nr, dtype: int64

In [107]:
loan_plan_nar=payment_plans_idx.loc[payment_plans_idx.interval!=0,['interest_amount','initial_principal_amount']].groupby(level=(0,1)).sum()